[2016-09-23 21:44] maniax89 opened #2 "Apply 'getEditor' logic of producing a React component to other elements"
Thinking about using this plugin in a project I am working on and it would be really nice if the same logic implemented by the `getEditor` was applied across the other components as well in order to make it more customizable.

The 3 I have in mind right now are:
- [x] field selector
- [x] operator selector (almost there with the `getOperators`)
- [x] rule removal button

I would be potentially wil

[2016-09-23 21:59] pavanpodila commented on #2
That sounds good. I am assuming that you are trying to introduce more conditional control to decide the list of fields/operators/editors/actions on the fly. I think we can call that out with a configuration object instead of passing multiple props into the QueryBuilder.

How about a configurator that can do the following:

[code]

The above might not be an exhaustive set, but hopefully gives you a

[2016-09-23 22:51] maniax89 commented on #2
Yeah the configuration object sounds fine. I was more interested in using the semantic ui react components in place of native browser elements http://semantic-ui.com/introduction/integrations.html
So I would probably have to take a closer look to see if it would be easy to implement as long as it makes the appropriate callback to your components

[2016-09-26 18:34] maniax89 opened #3 "Locally building application"
I'm trying to get this up and running in my local environment but have been unable to do so. Here's my step-by-step with debugging:

[code]

So I proceed by trying to comment out just the lines in `webpack.config.js` to read:

[code]

Also modified the `config/webpack-common.config.js` to remove the empty '' element:

[code]

Running `npm start` again, I get a new error:

[code]

Reading online, s

[2016-09-26 19:09] maniax89 commented on #3
I was able to figure out the `Cannot remove "babel-plugin-transform-es2015-modules-commonjs" from the plugin list` by changing the `.babelrc` file to read like:

[code]

After installing the peerDependencies manually (`react` and `react-dom`) I was able to get this up and running locally.

[2016-10-05 04:23] #3 closed, assigned to nobody

[2016-10-12 21:22] #2 closed, assigned to nobody

[2016-10-12 23:28] pavanpodila opened #16 "Switch to changelog-cli for changelog generation"
@maniax89 The current approach to changelog generation relies on a ruby toolset. Let's switch to an NPM based approach with `changelog-cli`: https://github.com/conventional-changelog/conventional-changelog-cli

With that we can create a npm script and get things done more easily. Also the above is used by big projects like angular, karma-runner, etc.

Also I've pushed the tags, so we should have e

[2016-10-12 23:44] maniax89 commented on #16
I liked using the github-based one because it pulls in the issues/PRs/tags/etc. from the github repo as opposed to relying on specific commit formats. I understand it requires ruby toolset instead of npm so I can search for one that is npm-based, but the one you referenced won't give much benefit unless the commits follow an opinionated format.

[2016-10-12 23:59] pavanpodila commented on #16
It would be great to be in the npm ecosystem. Hopefully there is a solution

Thanks,
Pavan

[2016-10-13 16:18] pavanpodila commented on #16
Lets go with the ruby approach for now and make the 1.3 release. Lets make the new changelog based on the tag I pushed. Once you are done, I can do a npm release!

[2016-10-14 07:00] maniax89 commented on #16
See #17

[2017-01-19 00:10] quickshiftin opened #20 "Uncaught ReferenceError: react is not defined"
I'm not sure where I'm going wrong, but it seems I can't get the component to load in a browser. I get this error `Uncaught ReferenceError: react is not defined` in the console.

To reproduce try creating a boilerplate app with [`react-create-app`](https://github.com/facebookincubator/create-react-app). Then modify the _src/App.js_ file minimally to include the QueryBuilder component. Here is mine

[2017-01-19 02:36] pavanpodila commented on #20
This [PR](https://github.com/sapientglobalmarkets/react-querybuilder/pull/19) should be fixing it. @mrvicadai is on it. The problem arises because the lib did not make `react` as an external. The PR fixes that.

[2017-01-19 02:38] quickshiftin commented on #20
Thank you, I will keep an eye on the PR!

[2017-01-23 21:41] mreishus commented on #20
Is there any workaround available to use this library or do I just have to wait?

[2017-01-23 22:32] pavanpodila commented on #20
This should be fixed now. Most of the work was done by @mrvicadai. I fixed a few imports and did some package updates. Version should now be `1.3.4`

[2017-01-24 14:41] mreishus commented on #20
Thanks - I upgraded and I'm able to use the library now :)

[2017-01-24 14:43] pavanpodila commented on #20
@mreishus Awesome. Closing

[2017-01-24 14:43] #20 closed, assigned to nobody

[2017-01-24 14:46] pavanpodila opened #21 "Improve code coverage to 90% or above"
Most of the work is inside the QueryBuilder.jsx due to new feature additions

[2017-01-24 14:48] pavanpodila opened #22 "Update the live demo to use the new version"
Current demo is hosted here: http://www.webpackbin.com/41LfnfeBb

We need to update it so it uses the latest version. Also update the Readme to point to the new URL.

[2017-01-24 16:22] quickshiftin commented on #20
Verified on my end as well; thanks guys!

[2017-01-24 18:36] mreishus commented on #22
I did enough to make it run here, but didn't add any new features or anything like that.

  http://www.webpackbin.com/410SaYgPG

[2017-01-24 18:38] pavanpodila commented on #22
You should switch the version of `react` and `react-dom` to the latest (15.x). Looks good otherwise!

[2017-01-24 18:40] pavanpodila commented on #22
Once you have it, you can change the link in README. Thanks for doing it!

[2017-01-24 18:51] mreishus commented on #22
I messed up the CSS a bit.  Do you have any ideas?  Old is on top, new is below

http://i.imgur.com/JJU3CaN.png

[2017-01-24 18:52] mreishus commented on #22
nevermind, got it.  will update the README

[2017-01-24 18:57] pavanpodila commented on #22
Thanks @mreishus for the [PR](https://github.com/sapientglobalmarkets/react-querybuilder/pull/24)

[2017-01-24 18:57] #22 closed, assigned to nobody

[2017-01-31 07:08] kartikag01 opened #25 "doesn't overriding operators"
i am using latest version of `"react-querybuilder": "^1.3.4"` and i override operators

[code]

[code]

but still its showing default operators.

<img src="http://chatteron.io/images/1/ryZCD2avl.png" />

[2017-02-02 04:57] pavanpodila commented on #25
Thanks for reporting @KARTIK01. Definitely a bug in the way the `getOperators()` is implemented

[2017-02-02 05:28] kartikag01 commented on #25
@pavanpodila
[code]

i suppose this should be correct `getOperators` ?

[2017-02-06 00:24] pavanpodila commented on #25
This should be fixed in v1.3.5 as part of this [commit](https://github.com/sapientglobalmarkets/react-querybuilder/commit/064687abfeb2c3135806744d565a7e0d4778abae)

Please verify

[2017-02-28 13:20] SamLoy opened #26 "Providing more context to controlElements"
I am using the react-querybuilder for a project i'm working on. I have used the 'controlElements' param as a way of restyling and slightly adjusting the behavior of the query builder. This worked well and I was able to complete 90% of what i wanted.

**The 10%**
- Prevent the user from making the query more than 3 levels deep
- Only show the combinator for a group when more than one appeared in a

[2017-03-03 19:53] pavanpodila commented on #26
Hi @SamLoy, it looks like a useful thing to have. Would you mind sending a PR with some tests?

[2017-03-07 14:15] SamLoy commented on #26
@pavanpodila  Done:
https://github.com/sapientglobalmarkets/react-querybuilder/pull/27/files

[2017-03-13 10:12] #26 closed, assigned to nobody

[2017-04-13 23:00] chris-trotter opened #29 "Local webpack build error"
I have been attempting to rebuild this project using `npm run dist` with a new feature I'm hoping to PR, but I've been running into the following error. I'm wondering if there's a reliance on any globally installed dependencies that aren't listed in the package.json.

[code]

[2017-04-13 23:13] pavanpodila commented on #29
Looks like there is an issue with the webpack.config.js. Possibly with the rule for the .js/.jsx file. Will have to dig into it.

On Apr 13, 2017, 7:00 PM -0400, chris-trotter <notifications@github.com>, wrote:

[2017-04-17 21:21] BradfordMedeiros opened #30 "Support query prop type"
Hello All!  Nice library over here.  Been using it in a project as a component to ultimately query SQL.

The issue I've ran into:

Currently you can pass in a query prop to specify the currently selected query options.  However, this only is used for the initial configuration from my understanding.

Seems like it should handle update as appropriate when a new query is passed in.
Have a setup with

[2017-04-17 22:11] pavanpodila commented on #30
This is definitely a bug and a scenario not yet catered. I am a little busy with client work but happy to accept a PR if you can

[2017-04-17 22:12] pavanpodila commented on #25
Closing it for now as it works as expected.

[2017-04-17 22:12] #25 closed, assigned to nobody

[2017-04-17 23:12] BradfordMedeiros commented on #30
Small PR to address this:
sapientglobalmarkets/react-querybuilder/pull/31

This code is obviously fairly new to me, but from my understanding root is equivalent to the query prop but with certain state properties of when it gets set, so I update this when the reference of the query prop changes (which that might be a point of dispute, but since the onquerychange seems to be spitting out unique ref

[2017-04-25 18:11] BradfordMedeiros commented on #30
Any word on my PR @pavanpodila?

I could include coverage if needed when I get some spare time (see you have some tools hooked up that are sad if the stats go down per commit)

[2017-04-25 20:07] pavanpodila commented on #30
Ya, if you can add some tests for the new code, the coverage reporter should stay happy :-)

On Apr 25, 2017, 2:11 PM -0400, Bradford Medeiros <notifications@github.com>, wrote:

[2017-04-29 00:16] hellofantastic opened #32 "Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
Hello,

Fantastic project here.

I have started to test this module out.
and when my app first loads there is this:
Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.

Here is my little App setup

[code]
Aware you may all be busy and insight when you can provide it would be stupendously appreciated.

EDIT: A side extra note I noticed

[2017-05-04 19:20] hellofantastic commented on #32
OKay so my first attempt forking and cloning etc... I forked, cloned locally and added prop-types module and updated references to React.PropTypes to just PropTypes and added import PropTypes from 'prop-types') and started using my forked copy instead but it still gives that error. So going to pause on this ignore the deprecation warning for now

[2017-05-05 16:58] pavanpodila commented on #32
Just updated to v1.3.7 via 06670a8ac59a7057d833878ce6e5b953e573e6e3 , which should fix this issue. Please try and let me know.

[2017-05-05 17:00] pavanpodila commented on #29
Updated to v1.3.7 which should fix these issues. Please try and let me know.

[2017-05-05 17:00] pavanpodila commented on #29
Closing for now. Please reopen if issue persists.

[2017-05-05 17:00] #29 closed, assigned to nobody

[2017-05-05 17:00] pavanpodila commented on #32
Feel free to reopen if issue continues.

[2017-05-05 17:00] #32 closed, assigned to nobody

[2017-05-05 17:01] #16 closed, assigned to nobody

[2017-05-05 21:52] hellofantastic commented on #32
okay thanks!

[2017-05-13 00:08] hellofantastic opened #33 "Load in a saved query"
Can you currently load in a saved query?

[2017-05-15 20:04] hellofantastic commented on #33
Tested using query={} prop so Yes you can load a save query object.

[2017-05-15 21:05] hellofantastic commented on #30
@BradfordMedeiros  any word on your new code getting added?
For the sake of speed does it make sense for me to just add that componentWillReceiveProps addition in the dist folder?

[2017-05-15 21:37] #33 closed, assigned to nobody

[2017-05-19 17:25] BradfordMedeiros commented on #30
It's up to @pavanpodila not me obviously .  I assume it's because I added a function and seems like they're caring about code coverage in this project?

Can look into it some this weekend and work with @pavanpodila  to make it happen .
Can always fork the project from my branch if needed. Depends on your needs right.   It's all working on my branch functionally.

[2017-05-19 18:07] hellofantastic commented on #30
Hey yes… sorry I should have commented that I put things together locally for now, thanks.

On May 19, 2017, at 10:25 AM, Bradford Medeiros <notifications@github.com> wrote:

It's up to @pavanpodila <https://github.com/pavanpodila> not me obviously . I assume it's because I added a function and seems like they're caring about code coverage in this project?

Can look into it some this weekend and w

[2017-05-29 23:40] hellofantastic opened #34 "Prevent group nesting"
Is there a way to prevent group nesting?
For example I'd like to achieve a layout where the +Group button is always by itself at the bottom of everything and + Rule is always after the last rule in a group.
I am after a layout like this: big plus sign is +group and little + sign is +rule in a group
![screen shot 2017-05-29 at 4 12 23 pm](https://cloud.githubusercontent.com/assets/6655746/26563842/

[2017-06-01 23:41] hellofantastic commented on #34
So basically query /root would be an array of group objects. This is hairy.
EDIT: Nope rather simple.

[2017-06-05 19:28] #34 closed, assigned to nobody

[2017-06-15 04:11] brietsparks opened #35 "live demo is broken"

[2017-06-30 11:46] janajay opened #36 "How to implement sql option"
There is no guide for getting the json into sql schema.

[2017-07-14 12:54] Reemh commented on #35
It would be helpful if someone can provide a working link to demo please. The link the in the current link http://www.webpackbin.com/410SaYgPG doesn't work.

[2017-07-14 14:11] pavanpodila commented on #35
Thanks for @brietsparks and @Reemh for pointing this out. I finally got around to fixing this. You can now see the demo at: https://sapientglobalmarkets.github.io/react-querybuilder/

The README has also been updated. Closing it.

[2017-07-14 14:11] #35 closed, assigned to nobody

[2017-07-15 21:27] kamtschatka opened #39 "Wrong rules generated when you switch to another field with different operators"
I am using the queryBuilder with a list of fields that have different operators depending on the type(i have strings, numbers and dates).
When I switch from a String field to a number field, the operators are updated using the getOperators function, but the rule itself will still contain the old value.

Sample:
I select a field "name"(String) that allows the operators "equals", "startswith" and "e

[2017-09-06 04:46] KamiGim opened #41 "feature add custom styles for the header of ruleGroup"
like the one in https://dabernathy89.github.io/vue-query-builder/
![image](https://user-images.githubusercontent.com/17401507/30094855-122ea950-92f9-11e7-803b-fa7fa83eed06.png)

[2017-09-08 08:52] pavanpodila commented on #41
Please try using the [controlClassNames prop](https://github.com/sapientglobalmarkets/react-querybuilder#controlclassnames-optional) and see if you can achieve the styling needed.

[2017-09-27 08:42] shreyase10 opened #43 "Feature Request: Customize-able position of combinator dropdown"
![image](https://user-images.githubusercontent.com/22481121/30903568-de4ad72c-a38c-11e7-8bd8-b3241856483c.png)

Hello - Our use case requires us to have the combinator selector between the rules as opposed to before them, would it be possible to add the position as a config option so that we can tweak it?
Please see the image for reference.

Here, a selection in one of the dropdowns would also cha

[2017-11-28 20:54] bubenkoff opened #45 "Make it possible to provide all the text labels as a collection property"
Currently to override labels you will need to override all the components

[2017-12-01 08:42] pavelbely opened #48 "Add a possibility to clear rule value on field change"
Hi,

Please add a possibility to clear rule value on field change.

Imagine there's a query builder with 1 rule
**Field1**    **=**    **hello**

If we now change field to **Field2** the value will still be hello.
It would be nice if that value can be cleared conditionally.

Currently there is no way to do that other than dirty checking filter object in `onQueryChange`.

Thanks

[2017-12-04 03:14] #45 closed, assigned to nobody

[2017-12-07 13:45] bubenkoff opened #49 "Support more field types: to mimic what jquery querybuilder has"
original builder supports:

type
[code]

input
[code]

values
[code]

This allows to have select fields when needed, otherwise it's hard for the user to use Set-like fields in the rules

[2017-12-13 07:42] blacksagres opened #50 "Component doesn't react with new data"
The issue:
- The property `fields` in my application <QueryBuilder /> is using dynamic data that comes from an API call. But when the data is retrieved, the <QueryBuilder /> doesn't render the new options in the `fields` dropdown.

Expected behavior:
- Having the component to re-render with the updated property.

Code sample:

[code]

For now I was able to circumvent this by interrupting the rende

[2017-12-20 12:58] jeroen-corsius commented on #50
I'm facing a similar issue:
What I'm trying to accomplish is resetting the QueryBuilder to it's initial state, by updating the query-property. The component doesn't re-render on this unfortunately.

[2017-12-29 01:28] sarink opened #51 "Has anyone written a parser already?"
Has anyone written a parser that iterates over an array of items and filters on the query output from this library?

Just wondering if it exists already so I don't have to reinvent the wheel :)

[2018-01-22 19:06] ganesharulanantham commented on #50
@blacksagres is this issue fixed? Any work around available?

[2018-01-23 05:05] James-E-Adams opened #52 "topics for repo should include builder"
Hi!
I've noticed that this doesn't show up if you search react query builder in github search. It could prove useful to add the word builder or querybuilder or something to the topic list here:

![image](https://user-images.githubusercontent.com/9067274/35259000-35b8004e-0057-11e8-8eef-495fc4e5e2f9.png)

so this repo can find it to the hands of the right people! :)

[2018-01-23 06:23] pavanpodila commented on #52
Thanks for suggestions James. Added those now :-)

[2018-01-23 06:23] #52 closed, assigned to nobody

[2018-01-23 22:18] James-E-Adams commented on #52
Nice! 🎉

[2018-02-04 05:10] BrandonKowalski commented on #51
I've created one that bridges QueryBuilder output into a JOOQ condition. If you happen to be using Java and JOOQ it might be of help.

https://github.com/Kowalski-IO/jqb2jooq

[2018-02-05 06:57] hellofantastic commented on #50
if I'm correct as I work through it QueryBuilder needs a ComponentWillRecieveProps  and if not equal update root, schema etc

[2018-02-05 09:37] blacksagres commented on #50
@ganesharulanantham sorry for the late reply. I haven't found any workaround other than what I did. I only render the component once I verify there is data available to build it, otherwise I render nothing.

[2018-02-05 09:40] blacksagres commented on #50
@hellofantastic I tested it with dynamic props and the component still didn't re-render. Do you have any examples of what you're explaining?

[2018-02-05 20:37] hellofantastic commented on #50
@blacksagres   ... I should see if my modifications are working in an hour or so .. and to give some context we have a ui that now has a dropdown (before was one query per page/view) and you can select a query and it loads up in queryBuilder... which worked fine until the dynamic query load .. and noticed query changed but querybuilder controls had last query loaded options

[2018-02-05 21:58] hellofantastic commented on #50
@blacksagres so this is all I ended up adding to queryBuilder for our case
[code]

[2018-02-08 11:59] xbojch commented on #48
@pavelbely this can easily be achieved by creating a custom component to replace the ValueEditor.
Then you can check for field or operator change in the componentWillReceiveProps and decide if you want to clear the value.

[code]

[2018-02-14 14:27] blacksagres commented on #50
@hellofantastic Thanks for the code snippet. I'll test on my solution and confirm the results. :)

@jeroen-corsius Do you have a working solution?

[2018-02-20 21:01] kleindev opened #56 "How to properly refresh when using a custom addRuleAction with a custom handleOnClick event?"
I would like some help/clarity on how to use a custom addRuleAction/handleOnClick.

I'm working with a drag and drop user experience - which has lead me to having a custom click event for the addRuleAction.

I can easily create a custom rule and push it to the "rules" prop.  However, I'm looking for the proper/clean way to refresh(_notifyQueryChange).

I believe this is 100% user confusion on my p

[2018-02-27 17:31] dekhaus opened #57 "How to reset/clear query"
Hi All

I'm new to React - so maybe I'm missing something obvious.  I'm trying to figure out how to reset or clear the current query.  Imagine there's a 'Clear' button in the UI and when the user presses it - the query gets reset to its default (aka empty) state.  Is that possible and if so how ?

Thanks
Dave

[2018-03-21 10:30] pavanpodila commented on #50
@hellofantastic I think this could be a nice PR :-)

[2018-03-22 01:00] hellofantastic commented on #50
For sure , I could this week

[2018-04-23 18:35] shanmugass opened #61 "How to set default rules?"
How to set default rules?

On the component mount, how do i set the FirstName='Pavan' and LastName='Podila'

[2018-05-21 17:57] grahamlyus commented on #48
Not sure how to handle it conditionally, but I added this to my PR #63 which fixes #39

[2018-05-24 14:30] ivanghisleni opened #64 "change getOperators dynamically"
Hi,

is it possible to dynamically change getOperators updating the related list?

[2018-05-30 06:50] vineela-m commented on #61
`var fields =  [{name: 'firstName', label: 'First Name', type: 'string'},
            {name: 'lastName', label: 'Last Name', type: 'string'},
            {name: 'age', label: 'Age', type: 'integer'}]`

`var query = {
            "rules": [
                {
                    "field": "firstName",
                    "value": "Bob1",
                    "operator": "begins with"
                }

[2018-07-04 12:18] ivanghisleni opened #65 "How to createRule on load"
Hi,

Is it possible to create a rule by default on querybuilder creation?

[2018-07-04 15:39] jordanskole opened #66 "Feature Request: ruleGroup & rule config for controlElements prop"
Should accept something along the lines of...

[code]

[2018-07-11 20:30] chinmaydalvi opened #67 "Load the operators dynamically after selecting particular field from select dropdown"
In My current project:

If user selected  `firstName` field from select dropdown then  I want to load `null`,`not null`, `in`, `not in` in `<select>`operators

If user selected `Age` field from select dropdown then I want to load `>`, `<=`, `!=`, `==`, `>`, `<` in operators `<select>` box.

How to achieve this?

[2018-07-25 20:07] ghost opened #68 "Require to maintain previous query builder selection"
Hi When I set query property on querybuilder it is not working. Also do we have SQL Support or SQL export for query created

[2018-08-09 12:12] ivanghisleni opened #69 "Max number of group indentation"
Hi to all is it possible to fix the maximum level of indentation of groups?

[2018-08-20 06:21] propakov opened #70 "Need to update state when new query property is passed"
Hello, guys! Thank you for this awesome lib!
But i found one issue:
in a file lib/QueryBuilder.jsx
root is initialized only once, when component is initialized.
could you please make it updated dynamically, when new prop is passed ?

like this

lib/QueryBuilder.jsx

    componentWillReceiveProps(props) {
      if (this.props.query !== props.query) {
          this.setState({ root: props.query });

[2018-08-29 03:33] duwalanise commented on #61
Hi @vineela-m, I can add the query props to set default rules as you mentioned. However using this way i am not able to change query. It throws error below
<img width="889" alt="screen shot 2018-08-29 at 9 17 03 am" src="https://user-images.githubusercontent.com/7278569/44763770-63900280-ab6c-11e8-99f1-19141afd3701.png">

[2018-09-26 19:54] Gianfranco97 commented on #69
very good question, I wonder the same

[2018-10-08 23:02] jakeboone02 commented on #70
See #31 and #59.

[2018-10-15 06:09] miphe commented on #36
@janajay Could you give example output you'd be expecting?

[2018-10-16 13:32] CharlyJazz commented on #36
@janajay  Hahahaha wow

[2018-10-22 01:03] qubbit commented on #36
@janajay You can do this quite simply by using a few related tables.

Basically the tables are rules, rulesets (aka rulegroups), and values if you're supporting multiple values otherwise you can use the rules table to store that rule's value. To support the recursive nesting feature of a ruleset, you need a parent_id column to refer back to its parent.

I have done this in a production setting. Ho

[2018-11-08 15:31] killergege opened #72 "controlClassnames.value is ignored"
I redefined all the classes for the elements and noticed that the class is not used for the value field.

Checking the code, the change is obvious, but I'm locked behind a proxy and can't make a pull request right now.
Can someone fix it ?

The className is already sent to the ValueEditor, so the only change are in ValueEditor.jsx :
* add className in the list of props (line 5)
* add the className

[2018-11-15 09:04] skjo0c opened #73 "Adding "between" feature"
Dear all, I am currently using this repo for one of my project. I am able to add or delete operators and customize the input fields for one input text, but in the "between" operator, I need two of the input fields and currently they both give same input onChange.

[2018-11-16 14:30] miphe commented on #70
@Pavel-Ropakov This was handled in #59 which is now merged to `master`.

[2018-11-16 14:30] #70 closed, assigned to nobody

[2018-11-16 14:36] miphe commented on #64
Please see #67

[2018-11-16 14:36] #64 closed, assigned to nobody

[2018-11-16 14:39] miphe commented on #61
@duwalanise I'm not sure about your implementation, but I have a working app where I default the query builder to an expression, which is fully editable. Is this something you're still experiencing, or can I close this issue?

[2018-11-16 14:45] miphe commented on #30
@BradfordMedeiros #67 which addresses query updates, was merged. If there's nothing else outstanding, I'd close this issue.

[2018-11-16 14:49] miphe commented on #50
#67 addresses this issue and is now merged.

[2018-11-16 14:49] #50 closed, assigned to nobody

[2018-11-16 15:02] #30 closed, assigned to miphe

[2018-11-16 16:53] krishan-carbon commented on #39
this issue still exists.. any way to get the PR reviewed?

[2018-11-19 07:11] miphe commented on #39
@krishan-carbon I'll have a look asap.

[2018-12-11 11:55] simonedavico commented on #61
@miphe I get the same error if I pass a `query` prop. The querybuilder renders the query correctly, but interacting with any control (group/rule creation, or combinator switch) causes the same error as @duwalanise.

I am on version 1.4.3.

[2018-12-11 12:00] miphe commented on #61
@simonedavico I would like to have a look at the implementation to figure out what could be causing this. Would you mind creating a proof of concept where this behaviour can be seen?

[2018-12-11 16:04] simonedavico commented on #61
@miphe I traced the origin of the issue, it was due to the fact that I passed a query which did not have ids for rules.

[2018-12-12 11:51] simonedavico commented on #61
@miphe I noticed anyway that when such error is thrown from the component (because it gets passed a query in unexpected/invalid format), something weird happens, as the parent component's `componentDidCatch` does not get called. Any idea as to why this happens?

[2018-12-14 09:35] duwalanise commented on #61
As @simonedavico mentioned in above comment, I have addressed the issue by passing the id field.

[2018-12-14 10:12] duwalanise commented on #61
It would be nice, If we could generate id itself if user forgets to, which will be less hassle. I have the code below which generates id for query. I would be happy to create PR if it helps. :)
[code]

[2018-12-14 17:14] miphe commented on #61
@duwalanise Sound idea.

Generally, if saving queries in some kind of storage, you'd not need to store the IDs for the sake of building an expression, so that just leaves the need for IDs to the querybuilder. It makes the querybuilder more unwieldy when prefilling it, so a PR for this would be much appreciated.

[2018-12-14 17:15] #61 closed, assigned to miphe

[2018-12-17 17:30] miphe opened #76 "Update examples to better represent actual query instead of initial query"
Examples page shows the initial query that was supplied to the QueryBuilder, instead of showing the query that the QB actually uses.

These things are different sometimes, since we're generating IDs in case the given query doesn't contain them.

Showing the query in the current way is misleading.

[2019-01-29 22:24] castamir commented on #57
Add `key` prop. React treats this property it's own way and whenever it changes, React will re-render whole component.

Fo example:

[code]

[2019-01-30 07:54] miphe commented on #57
@castamir I'm not quite sure what you mean by that. The key value is not supposed to change, it's what React uses to keep track of which component is which. If it changes between renders, React will believe that the component with the new key is a new component that has never been rendered before, thus re-mount it etc.

@dekhaus If you'd like to re-set the query builder to empty, all you need to d

[2019-01-30 12:31] castamir commented on #57
This seems not to work to me. Maybe it is fixed in master, but it's not working for me for the latest release, so using `key` is a working workaround.

[2019-01-30 12:56] miphe commented on #57
@castamir Yes. Re-rendering properly when props updates - this work has been merged to master but not featured in a release yet 👍

[2019-01-30 12:56] #57 closed, assigned to nobody

[2019-02-05 14:03] simonedavico opened #79 "Builder does not update when the query prop updates"
In my app I can select a query from a list and have it displayed in the query builder.

I am facing a bug with this component that occurs when it receives a new query prop. The new prop is ignored and the builder UI never updates.

I reproduced the issue in [this codesandbox](https://codesandbox.io/s/146mykl1qj).

The confusing thing is that by looking at past issue this has already been reported

[2019-02-05 14:45] miphe commented on #79
In your sandbox you're using version `1.4.3` - latest version on NPM. Though the latest version hasn't been published to NPM yet, so the fix isn't available. If you use the latest `master`, you should see that this problem is fixed.

This is becoming a common concern, I'll see if I can hurry up a release with this fix.

The code sandbox POC is much appreciated by the way.

[2019-02-05 15:50] simonedavico commented on #79
Thank you for the quick answer, @miphe!

I tried to use the latest master (I use yarn to manage deps) like this:

[code]

 but the outcome did not change. I tried to do the same on the sandbox but I think that it is not possible. A new release would be great :)

[2019-02-05 16:21] WillKre commented on #79
+1 I'm getting this on the latest master.

Reproducible with: `git clone https://github.com/sapientglobalmarkets/react-querybuilder.git && cd react-querybuilder && yarn && yarn start`

Then try adding a group/rule, doesn't reflect on the JSON preview.

I was going to look into fixing it but if it's already done... 🤷‍♂️- @miphe do you possibly have the commit that fixes the issue?

What version is

[2019-02-05 16:43] miphe commented on #79
@apswak I believe the demo has some issues. The rendered data preview might be rendering initial query instead of actual query. One of the reasons a new version hasn't been published, the demo needs a refactor.

[2019-02-11 13:47] miphe commented on #79
Hi people, I've just merged [PR 70](https://github.com/sapientglobalmarkets/react-querybuilder/pull/77) which addresses the demo issues and some other things.

@apswak Latest commit on `master` should work better now.

@simonedavico  Let's re-open this issue if you can still reproduce this!

[2019-02-11 13:47] #79 closed, assigned to nobody

[2019-02-11 13:54] miphe commented on #76
This was fixed in [this PR](https://github.com/sapientglobalmarkets/react-querybuilder/pull/77) - closing.

[2019-02-11 13:54] #76 closed, assigned to miphe

[2019-02-11 14:00] miphe commented on #73
@skjo0c Could you this missing feature in more detail please? Specifically, what query are you looking to produce that you are unable to with the current implementation?

As I understand it you need two operator fields instead of one, is that right?

`firstName = 'Steve' AND lastName = 'Vai' AND occupation = 'Musician'`

In this expression you have two `AND` operators - is this what you mean?

[2019-02-11 14:41] skjo0c commented on #73
@miphe I was looking for something like Age between 5 and 10.

[2019-02-11 14:46] skjo0c commented on #73
I have another query as well, but don't know if it is okay to ask in this issue. Is it possible to add operator called '+' which keeps on adding drop-down list of operators. For example, I want a rule like: A+B+C+D = 24. where A. B. C and D are field

[2019-02-11 14:54] miphe commented on #73
@skjo0c A query to target something like age between x and y, could look like this.

[code]

Evaluating to: `age >= 5 AND age < 10`.

About your next question, that's possible but you'd need to supply some custom components to override the existing ones.

[2019-02-12 07:28] #73 closed, assigned to nobody

[2019-02-12 07:31] miphe commented on #68
Hi @sachinkaushikHERE - setting the query property should now be fixed in latest `master` branch. There's not yet a release with this fix.

I'm working on a parser. Can you give me an example of a query/expression you'd like to end up with?

[2019-02-12 07:37] miphe commented on #65
@ivanghisleni If you pass in a query to the query builder, it will render with that query and all it's rules.

[2019-02-12 07:37] #65 closed, assigned to nobody

[2019-02-12 10:27] simonedavico opened #80 "React and react-dom should be peerDependencies"
Since this component will be consumed from React applications, I believe you can safely assume that both `react` and `react-dom` will be installed alongside `react-querybuilder`.

Right now, `react` is a dependency (the same holds for `react-dom`):

[code]

I believe that `react` and `react-dom` should be `peerDependencies`, and `devDependencies` for development.

[2019-02-12 12:03] miphe commented on #80
I agree, react and react-dom is only required when running the demo or running tests.

[2019-02-28 04:53] skjo0c commented on #73
@miphe can you give me an example? I am really not able to perform it.

[2019-02-28 09:15] miphe commented on #73
@skjo0c There's an example above about the query for within a certain age range. Do you need an example for this?

If you mean the accumulative condition (a+b+c+d = x) - that's not supported right now. You can definitely overwrite components and add this functionality yourself, but out-of-the-box there is no such feature.

[2019-02-28 12:21] skjo0c commented on #73
@miphe , ya I was looking for accumulative condition. Can you give me some suggestion on overwriting components so that I could perform this accumulative condition?

[2019-02-28 12:42] miphe commented on #73
I'll see if I get time for this, but honestly I doubt that will be soon :/

[2019-04-25 17:32] StephenAversa opened #83 "Updating fields of rules dropdown."
Hey all,

Using the query builder to take in the value of "fields" from my state to update the options for the rules dropdown. The issue is no matter how many times or where I update the state with the new fields value it will not change the dropdown options. I can see in the react dev tools the state is being updated in the parent component and child component, the query builder.

How can i dynam

[2019-06-29 17:09] srinivasdamam opened #85 "valueEditor doesn't work as expected when declared along with fieldSelector"
I want to render different type of value inputs based on the field name.

For a fields like `age` I want to render input type number, for others I need text input.

So, I used `valueEditor` it was working as expected until fieldSelector was declared.

I created a reproducible demo on codesandbox [react-querybuilder-bug](https://codesandbox.io/embed/react-querybuilder-valueeditor-bug-sb1v3)

**Step

[2019-06-29 17:28] srinivasdamam commented on #85
Sorry my bad, missed to invoke onChange. Closing this as invalid.

[2019-06-29 17:28] #85 closed, assigned to nobody

[2019-07-25 05:37] jakeboone02 commented on #69
If you have a custom `addGroupAction` component, you can just have it return `null` when the `level` prop gets too high.  That way there is no "+Group" button past a certain level, so no way to create a new level.

[2019-08-19 07:29] RonaldCY opened #89 "Type for 'Title' is missing"

[2019-08-19 07:36] #89 closed, assigned to nobody

[2019-08-20 15:27] rubenbarros-byside opened #91 "Add field metadata to valueEditor"
We have the necessity to change the valueEditor input, depending on some property of the selected field (to a datepicker, or two inputs, or a simple select vs simple input).

We need some kind of information to show the correct input, and as such, we added the metaData when adding a new rule, and when the field is changed, we populate the rule with the metaData of the selected field.

I made a for

[2019-08-20 16:30] jakeboone02 commented on #91
Can you not base the valueEditor type on the field and operator alone?  If you need more information about the field, you could maintain that in a separate object or function and read that from your custom valueEditor component.

Something like this:
[code]

Can you show an example of how this metaData prop would be used?

[2019-08-20 16:34] jakeboone02 commented on #83
Hi Steve, have you tried this with v2.0.0?

[2019-08-20 16:36] jakeboone02 commented on #21
Closing this as code coverage is now at 100% with v2.0.0.

[2019-08-20 16:36] #21 closed, assigned to nobody

[2019-08-20 16:38] jakeboone02 commented on #80
This can be closed, right?  `react` and `react-dom` are listed as `peerDependencies` in https://github.com/sapientglobalmarkets/react-querybuilder/blob/master/package.json

[2019-08-20 16:49] #72 closed, assigned to nobody

[2019-08-20 16:50] #69 closed, assigned to nobody

[2019-08-21 04:12] pavanpodila commented on #21
Awesome @jakeboone02 👍

[2019-08-21 08:35] simonedavico commented on #80
They are still listed also as dependencies though:

https://github.com/sapientglobalmarkets/react-querybuilder/blob/68c266831062f7269c2867c065a3dbd3fcc7fcc9/package.json#L67

https://github.com/sapientglobalmarkets/react-querybuilder/blob/68c266831062f7269c2867c065a3dbd3fcc7fcc9/package.json#L68

Unless I'm wrong, they should be `devDependencies` for component development purposes, and `peerDepend

[2019-08-21 15:13] jakeboone02 commented on #80
OK, I [made the change](https://github.com/sapientglobalmarkets/react-querybuilder/commit/dd6ddd21644bda6cd6be765f2ec91cd5382e0ced).  I also fixed the `peerDependencies` to require `">=16.8.0"` instead of `"^16.8.0"`.

[2019-08-21 15:13] #80 closed, assigned to nobody

[2019-08-26 20:14] jakeboone02 commented on #36
@qubbit - did you ever manage to open-source your solution?

[2019-08-26 20:30] jakeboone02 commented on #48
Closing this as the solution was provided by @xbojch.  Note that to do this with React Hooks, you'd need to use some version of [usePrevious](https://usehooks.com/usePrevious/) along with useEffect:
[code]

[2019-08-26 20:30] #48 closed, assigned to nobody

[2019-08-26 20:33] jakeboone02 commented on #39
@krishan-carbon / @kamtschatka - does this issue still exist in v2.0.0?

[2019-08-26 21:28] jakeboone02 commented on #67
This is accomplished by passing a `getOperators` prop to `<QueryBuilder />`.  `getOperators` is a function that takes a single parameter, `field`.

[code]

[2019-08-26 21:28] #67 closed, assigned to nobody

[2019-08-27 14:45] #49 closed, assigned to nobody

[2019-08-27 21:26] jakeboone02 commented on #36
I know this issue is over two years old, but I'd like some feedback on the PR I just opened (#95) that adds a `formatQuery` function to output a SQL `WHERE` clause for a given query.

[2019-08-28 16:59] vitorhsb commented on #91
In our scenario it is not possible to have a separate object or function to retrieve that metadata since our available fields are dynamic (with numeric ids) and retrieved by the backend. Even our operator values are based on dynamic info.

[2019-08-28 17:24] jakeboone02 commented on #91
Can you share an example of what the payload from the server looks like, and how you're translating that into the fields array?  I'm thinking if you have the field name and the operator, that should be enough to gather the metadata even if the field names are dynamic.  But if you could show some code maybe I'll understand better.

[2019-08-28 17:41] jakeboone02 commented on #68
I'm closing this since the issue has been fixed and the author deleted his GitHub account anyway.

Regarding the SQL parser, see PR #95.  @miphe - I'd appreciate any feedback on that PR, or if you could share any work you've already done on the parser you mentioned.

[2019-08-28 17:41] #68 closed, assigned to nobody

[2019-08-28 17:50] jakeboone02 commented on #51
@sarink - see PR #95.  Is that what you're looking for?

[2019-08-28 18:08] jakeboone02 commented on #66
@jordanskole - do you still need this functionality?  If not then I'll close this ticket.  If so, I'll see what I can do to implement it.

[2019-08-28 18:12] jakeboone02 commented on #43
@plcpunk - See PR #96.  Would that meet your need?

[2019-08-28 18:52] jakeboone02 commented on #56
@kleindev - did you ever figure this out?  If not, can you share your custom `addRuleAction` component code?

[2019-08-28 20:44] jordanskole commented on #66
I can't even remember what it was for, so I guess not 🤔

[2019-08-28 20:44] #66 closed, assigned to nobody

[2019-08-29 16:10] #43 closed, assigned to nobody

[2019-08-29 16:25] #36 closed, assigned to nobody

[2019-09-06 13:06] srinivasdamam opened #97 "Allow to specify custom id for rules"
Current uuid is used to create random id's for a rule, thanks actually good.
Can I provide a custom id generator function so that I can create my own id's.

I would like to make the change and raise PR if this seems to be reasonable.

I would change the following line

`id: r-${uniqueId()}` to something like below

`id: r-${props.idGenerator ? props.idGenerator() : uniqueId()}`

Happy to know your

[2019-09-06 14:22] CharlyJazz commented on #97
Your idea sounds interesting, go for it

[2019-09-06 15:12] jakeboone02 commented on #97
Sounds reasonable, but can I ask what your use case is?  The id's are really just an implementation detail.

If you create a PR to add the feature, remember to update the tests, the README, and the TypeScript definitions.

[2019-09-06 15:48] srinivasdamam commented on #97
ids generated by uuid are long (16 chars I assume). I wanted to store smaller ids using shortid package. Just trying to save some bytes in the memory 😊

[2019-09-06 15:55] jakeboone02 commented on #97
I think it would be better to just replace the `uuid` package with `shortid`.  That way you wouldn't need to add a new prop (and you can avoid having to update the README, TypeScript definitions, and tests).

[2019-09-06 16:01] srinivasdamam commented on #97
My initial assumption was to replace uuid with shortid, but I thought lets leave it to users as their prefence would be different since there are handful of id generators like xid, nanoid, yid etc.

[2019-09-06 16:04] jakeboone02 commented on #97
Yeah, I get what you're saying, but I don't think enough people would care what ID generator was used to warrant a change in the API.

[2019-09-06 16:07] jakeboone02 commented on #97
Anyway, I do think using shorter id's is a good idea, so do the PR if you're up for it.

[2019-09-09 18:54] tophmey opened #99 "Add a NOT modifier for group combinators"
I'd like a combinator modifier to negate an entire group similar to the [not-group plugin](https://querybuilder.js.org/plugins.html#not-group) for jquery query builder. I'm happy to make a PR if you'd consider it.

[2019-09-09 19:46] jakeboone02 commented on #99
We'll certainly consider it.  Could you provide some information about how you expect to implement it?  Would it just be a boolean prop passed to `<QueryBuilder />`?  Would it add a checkbox next to the combinators like the jQuery plugin?  Also, how would the SQL export be affected?

[2019-09-09 21:29] tophmey commented on #99
I was thinking of using a checkbox after the combinators by default. the display of that checkbox would be controlled by a "showNotToggle" prop on the component.

A checked NOT would change
`"category = 1 AND ( price < 5 OR in_stock = 1 ) "`
 to
`"category = 1 AND ( NOT ( price < 5 OR in_stock = 1 ) ) "`

and for JSON it would add a 'not' property at the rule level (ie next to rules, combinator an

[2019-09-09 23:23] jakeboone02 commented on #99
Sounds good.  Go for it!  You may want to add a `className` to the new text+checkbox so that people can style it.  Something like `"ruleGroup-not"`.  Come to think of it, it probably needs a new entry in the `controlClassnames` prop as well.  Also don't forget to update the README and the TypeScript definitions.

[2019-09-13 03:06] zaphide opened #101 "Rule/RuleGroup id + level in DOM?"
Hi,

Is it possible to add the id and level for a group/rule in the DOM output?

Resulting in something like:
`
...<div class="rule" data-rule-id="01234567890">
   ...
...</div>
`
`
...<div class="ruleGroup" data-level="0" data-group-id="01234567891">
   ...
...</div>
`

Use case is for UI testing automation.

Cheers

[2019-09-13 03:25] zaphide commented on #91
I have a similar request (for example, I am also providing tooltips for all sorts of things in the custom valueEditor and custom operatorSelector I am using).

A possible simple (-ish?) solution might just be to pass (via props) the full Field object to the custom valueEditor and operatorSelector, then the Field object can be extended as needed.

For compatibility/simplicity it would probably be w

[2019-09-13 16:19] #97 closed, assigned to nobody

[2019-09-13 16:58] srinivasdamam commented on #101
Seems to be a fair ask to make this component testing friendly.
@jakeboone02 shall I create a PR for this ?

[2019-09-13 17:02] jakeboone02 commented on #101
@srinivasdamam go for it

[2019-09-13 17:33] jakeboone02 commented on #91
@zaphide, I'm still struggling to understand the necessity of a new prop when you can get what you need from an external object or function that's indexed by `field`.  See my example above.  Can you provide an example where this approach wouldn't work?

[2019-09-15 06:53] #101 closed, assigned to nobody

[2019-09-15 11:35] zaphide commented on #101
Thanks guys :)

[2019-09-15 11:52] zaphide commented on #91
Yeah I do agree it's not strictly 100% necessary and there are other ways it can be done but this (to me) feels more of a workaround of something that should be core functionality.

Maybe consider something like a off-the-shelf grid component that supports fully customising the display of the data in each grid cell. Generally, such a component would allow passing the data structure through to the

[2019-09-15 23:00] jakeboone02 commented on #91
OK, I think I understand what you're saying.

What if, instead of something specific to the `field` prop and `ValueEditor` components, we added a `context` prop that was passed to _every_ custom component?  The `context` prop could be anything (`any` in TypeScript), so you could store your field configuration in there or whatever else you'd need to render the elements.

We use `react-querybuilder`

[2019-09-15 23:05] jakeboone02 commented on #99
Hi @tophmey, just wondering if you were working on this.  I have some time to work on it if you don't, but if you've already started on it then please continue.

[2019-09-16 00:13] zaphide commented on #91
Yeah I was also going to suggest something similar but didn't want to complicate things :)

We are using [office-ui-fabric-react](https://developer.microsoft.com/en-us/fabric/) and it generally has a similar `data` prop that can be used if needed.

Not sure if this would be worthwhile but could also use generics for the Typescript typings, so something like:
[code]

which could then be type-enforc

[2019-09-16 14:55] jakeboone02 commented on #91
Feel like doing a PR for this?

[2019-09-16 18:37] #99 closed, assigned to nobody

[2019-09-16 19:08] jakeboone02 commented on #101
@zaphide welcome!  This feature was just released in v2.3.0.

[2019-09-17 08:03] zaphide commented on #91
Sure, I'll put something together and PR it.

[2019-09-20 06:18] chiga0 opened #106 "How to set initial value to every field?"
I want to set the initial value for each field. How do I set it up?
![image](https://user-images.githubusercontent.com/24784430/65303715-54358a00-dbb1-11e9-852e-acba3e34c7d1.png)

Like the DatePicker component above, setting the initial value is very necessary.

[2019-09-20 22:49] jakeboone02 commented on #91
@zaphide So... #105 wasn't exactly what I was thinking of, but it's close.  However, I actually took a look at the code today and I think I finally understand what you were saying in [this comment](https://github.com/sapientglobalmarkets/react-querybuilder/issues/91#issuecomment-531084209_) about a the `fieldData` prop.  That's a simpler solution and I think we should go with that.  I'll put a PR

[2019-09-21 02:15] zaphide commented on #91
Yeah definitly a simpler (and so generally better) option imo :) I was half way through the other implementation and was thinking it was a lot of work instead of just passing the field object :P

[2019-09-23 15:52] jakeboone02 commented on #91
@rubenbarros-byside and @vitorhsb - would you mind taking a look at #107 to see if that meets your requirements?  It adds a new `fieldData` prop to the ValueEditor and OperatorSelector components that includes the entire `field` object instead of just the `field` name.

[2019-09-23 16:12] rubenbarros-byside commented on #91
@jakeboone02 , the PR seems to do what we need.

Thanks @zaphide .

[2019-09-23 17:51] #91 closed, assigned to nobody

[2019-09-23 18:25] jakeboone02 commented on #106
You'll need to use a custom `ValueEditor` component.  You can hard-code the default value in the custom component or get it from the `fieldData` prop (if you're using >=2.4.0).

Something like this:

[code]

[2019-10-16 18:21] jitendra9nov opened #108 "New Feature to provide Action for set of Rules"
Is it possible to provide some action field for set of rules and provide that action in the Json Query?

[2019-10-17 09:38] AbelRodriguezGumiel commented on #106
It is not possible to set the initial value, even if you use a custom component, the value in the query is not set until the onChange event fires, so even if you set an initial value in the custom component, this is not seen in the generated query.

This forces the user to change the value, and change it again so that the value is set.

For example in a checkbox, if the initial value is "false", t

[2019-10-17 15:47] jakeboone02 commented on #106
@AbelRodriguezGumiel Could you use a `useEffect` hook to fire the `handleOnChange` function when the custom `ValueEditor` mounts?  Like this:

[code]

[2019-10-17 16:10] AbelRodriguezGumiel commented on #106
Yes I could. Thanks for the reply

[2019-10-17 16:35] #106 closed, assigned to nobody

[2019-10-18 16:28] jakeboone02 commented on #108
I'm not sure I understand your question.  Could you provide a code sample or elaborate on your use case?

[2019-10-19 10:51] jitendra9nov commented on #108
Thank you for your kind response.

Unfortunately I don't have code sample with me. I will try to explain my problem statement.

I am developing a feature to provide some Actions on the basis of configured Rules. So I am using react-qurybuilder here. With this I am able to provide option to configure rule but unable to attach action to it on the same page. I also want that actin to reflect in gener

[2019-10-27 23:29] jitendra9nov opened #109 "Value is not getting reflected in Query"
I am using query builder as mentioned in Live Demo by passing functions getOperators, getValueEditorType, getInputType and getValues. Everything is working fine except query. When value field is of number, date, radio button or Select then Value is not getting reflected in generated Query.
Please help.

[2019-10-28 17:17] jitendra9nov commented on #109
It looks like when you you have to change option once only then it will be reflected. As a workaround I have added one more option with label as  —SELECT—  and name as null so that user go a select it manually.

[2019-11-03 16:02] oumar-sh opened #110 "Making formatQuery handle string operators like "contains" and "begins with""
Hello everyone,
I am using react-querybuilder and I noticed that the formatQuery function does not handle some operators like "contains" or "begins with".
I want to format the query in sql. I read in the documentation that I can use the valueProcessor argument to process the value but for the operators mentioned above, the corresponding operator in sql is the same (like). I want to add a fix in th

[2019-11-03 16:41] jakeboone02 commented on #110
@oumar-sh absolutely feel free to open a PR if you have a fix or enhancement in mind.

[2019-11-03 17:02] oumar-sh commented on #110
Thank you. I opened the PR #111

[2019-11-04 21:49] oumar-sh commented on #110
Hello @jakeboone02 , could you please make a quick review of my pull request ?
Thank you.

[2019-11-10 01:55] #110 closed, assigned to nobody

[2019-11-20 20:34] snsheth55 opened #114 "Querybuilder Bi-directional"
Hello,

I am looking for a query builder that can build a query based on input of JSON or SQL, not only build a query from scratch. I was wondering if this library supports that functionality? If so please provide example.

Thank you

[2019-11-20 23:14] snsheth55 commented on #41
Hello, could you please provide an example of how to do custom styling as I am having difficulty changing the css on the various elements of the querybuilder. Thank you

[2019-11-21 12:05] spade555 commented on #114
Hello @snsheth55,

I was facing the same problem/requirement today, but finally figured out, that this library is bi-directional, so You can pass an existing initial query to the QueryBuilder and it will graphically show it up. Of course You can edit forward this query. To do this, You have to use the 'query' props on QueryBuilder. See the example in the demo folder!
[https://github.com/sapientglo

[2019-11-21 12:05] spade555 commented on #114
And yes, the documentation does not mention this feature right now... :)

[2019-11-21 19:46] jakeboone02 commented on #114
Wow, you're right, @spade555, the documentation doesn't mention the `query` prop at all.  What an oversight.  I'll fix it shortly!

[2019-11-21 22:04] jakeboone02 commented on #114
OK I've updated the [README](https://github.com/sapientglobalmarkets/react-querybuilder) to include the `query` prop.  @snsheth55, as @spade555 said, if you're looking for examples check out the [demo source code](https://github.com/sapientglobalmarkets/react-querybuilder/blob/master/demo/main.js).

[2019-11-21 22:04] #114 closed, assigned to nobody

[2019-11-22 22:07] jakeboone02 commented on #41
@snsheth55 You can use the built in class names in your CSS, or (as @pavanpodila pointed out) provide your own class names through the [controlClassnames prop](https://github.com/sapientglobalmarkets/react-querybuilder#controlclassnames-optional).  For example, to roughly imitate the styles above, add this after this library's distributed CSS:

[code]

[2019-11-22 22:17] jakeboone02 commented on #41
@KamiGim - after going through the styling exercise in my last comment, I think I finally know what you're asking for.  You want a class on, or the ability to add a custom class to, the header of a group (the part that surrounds the combinators, +Rule button, +Group button, and remove group button).  Is that correct?

It would change the HTML output a little bit because we don't currently have a `

[2019-11-27 07:50] developer-anilpatidar opened #116 "How can I get current rule id in current field props"
I need to hide field selector according to operators but I didn't get rule id in field selector props. How can I get current rule id in current field props?

[2019-11-27 18:08] jakeboone02 commented on #116
You want to hide the fields selector when certain operators are chosen?  Seems strange...how would the user know what field they were working with?  Anyway, if you had the `id` as a prop, wouldn't you have to recursively search through the query to find the rule to get the operator?  Wouldn't it be easier to just get the `operator` as a prop directly?  Provide some sample code for how you'd like i

[2019-11-29 09:59] developer-anilpatidar commented on #116
I don't have `id` in props, I have field props like that:

[code]

My scenario is like that I am using function like add(arg1, arg2) in the operator list when I select function operator then I need to hide  fields and value, I am checking field value in rules and find out the rule but it's only working when I have only one rule, Many rules cases it's not working because field value will be same fo

[2019-11-29 18:21] jakeboone02 commented on #116
Yes, I think we can add `operator` as a prop to the `fieldSelector` component.

[2019-11-29 18:22] #41 closed, assigned to nobody

[2019-11-29 18:39] jakeboone02 commented on #116
Fixed by 32c7f4669.  Will be released soon.

[2019-11-29 18:39] #116 closed, assigned to nobody

[2019-12-06 20:10] #109 closed, assigned to nobody

[2019-12-21 08:22] BabakYaghoobi opened #118 "Request new callback event"
Hi,

Can you add a search icon inside input value and give us onClick event with owner input element ref ?
For this tools we can add some lookup fields that need fetch from server and show it to user for select one item to add input field !
.
.
lookupGridOnSelectItem = (inpEl, selectedValue)=>{
inpEl.val(selectedValue);
}
...
onSearchClick = (inputElement) =>{
  Axios.get(...).then((response) => {

[2019-12-21 17:31] jakeboone02 commented on #118
I'm not sure I understand your question, but it sounds like you just need to use a custom `ValueEditor` component.  That way you can style it any way you like and handle any data fetching in a `useEffect` hook (for function components) or lifecycle event (for classes).

[2019-12-21 18:04] BabakYaghoobi commented on #118
Yes, exactly I need a custom ValueEditor, Can you make a simple custom ValueEditor width onClick event handler for using in QueryBuilder ?

Thank you for your response

[2019-12-21 18:47] jakeboone02 commented on #118
The simplest custom `ValueEditor` just takes the `value` and the `handleOnChange` callback, like this:
[code]
To use it, just add it to the `controlElements` prop like this:
[code]

[2019-12-21 20:17] BabakYaghoobi commented on #118
Thank you very much for your helping, your sample helped me to make what I need

Best regards

[2019-12-21 21:47] #118 closed, assigned to nobody

[2020-01-27 17:25] travisfalls opened #120 "Need a feature to remove all rules or change operator when data source changes"
The app I am working on has a dropdown menu of different data sources and selecting one sets the fields that are passed into the query builder. Everything works great as long as you stick on the same data source. If you change the data source the fields will update but the rules stay and have to be cleared out manually. Is there a way to clear out all of the rules or reset the operator? The field

[2020-01-27 17:46] jakeboone02 commented on #120
Could you use a `key` prop to reset everything when the data source changes?  Like this:

[code]

[2020-01-27 18:02] travisfalls commented on #120
I'm a rather new React developer so I guess I'm not entirely sure how that works.

[2020-01-27 18:12] jakeboone02 commented on #120
Then I hope I'm explaining this right:  when the `key` prop changes on an element, it forces a rerender of the entire subtree for that element (the [docs](https://reactjs.org/docs/lists-and-keys.html) on the `key` prop focus on list items, but the concept works for non-list items as well).  Basically you start fresh when you change the `key`.  So if you make the unique identifier for your data sou

[2020-01-27 18:16] travisfalls commented on #120
Yep! That seems pretty clear and exactly what I'm looking for. I'll give it a shot.

[2020-01-27 18:19] travisfalls commented on #120
Holy cow! That did it! Thank you so much for your help. I've been struggling with this all morning.

[2020-01-27 18:21] jakeboone02 commented on #120
Glad I could help!  👍

[2020-01-27 18:21] #120 closed, assigned to nobody

[2020-02-03 10:20] lakk1 opened #121 "prop to control value and operator reset functionality on field change."
Hi,
Using query builder when I update **_operator_** and **_value_**  before _**field**_.
Setting _**field**_  resets  **_operator_** and **_value_** to defaults.
I need to prevent this from happening using a prop.

We have a use-case where _**field**_, _**operator**_ and _**values**_ are independent sets and the current reset mechanism is not expected.

[2020-02-03 16:53] jakeboone02 commented on #121
You can accomplish what you want with the current functionality, using a combination of custom components, `useEffect`, and the `usePrevious` hook found [here](https://usehooks.com/usePrevious/).

Basically you just ignore the current value and reset it to the previous value when the field changes. Do this for both the `ValueSelector` and the `OperatorSelector` components.

Here's some example cod

[2020-02-04 07:18] lakk1 commented on #121
@jakeboone02 thank you for the reply we have already implemented the approach you have given above.
But we think it would be good to have first-class support to control reset functionality with the additional property.
May you please look into PR #122.

[2020-02-06 22:00] snsheth55 opened #123 "Does react querybuilder have a method to parse SQL into JSON for initial query?"
I need to use the querybuilder bi directional and to load the initial query I only have the SQL, I wanted to know if this query builder has a built in method to parse the SQL into the required JSON format the query builder requires.

Thank you

[2020-02-06 23:15] jakeboone02 commented on #123
No, it does not.  A quick [search](https://www.google.com/search?q=javascript+sql+parser) comes up with a few options you might want to try.  Let us know what works best!

[2020-02-17 21:32] #121 closed, assigned to nobody

[2020-02-18 00:31] jakeboone02 commented on #121
@lakk1 - I have implemented your change in [version 3.1.0](https://www.npmjs.com/package/react-querybuilder).

[2020-03-03 12:47] fabioespinosa opened #124 "Problem with removing the ids from the JSON format?"
I am doing a webpage for filtering and I would like to provide bookmarkability.

However the ids in the JSON rules take too much space and the urls end up being a bit messy.

I am recursively stripping the ids from the JSON object, but I wonder what are the consequences of doing so.

I guess they are just used to re-render on 'key' when they change?

Would you consider a PR to formatQuery to expor

[2020-03-03 12:53] miphe commented on #124
Currently, `nanoid` is used to generate IDs, but you could request a PR that let's a developer supply their own ID generation package. In your case you might want to supply a more URL friendly ID generator.

[2020-03-03 13:46] jakeboone02 commented on #124
I would be open to having both.  I can see the value in exporting an `id`-free JSON object, and I think @miphe's idea of providing one's own ID generation method could be useful as well.

[2020-03-19 03:13] jakeboone02 commented on #124
Closed by #125

[2020-03-19 03:13] #124 closed, assigned to nobody

[2020-03-23 13:10] fabioespinosa opened #128 "Issue with server rendering using Next.js"
I'm having trouble server rendering this component using next.js.

I'm getting "self is not defined"

It's because `self` is only defined in the browser.

I wonder if you guys would consider a PR regarding a fix to this so we can enable react-querybuilder to be server-rendered? 👍

Thanks for the great work.

[2020-03-23 13:56] jakeboone02 commented on #128
Absolutely we would consider that!

[2020-03-25 13:24] UgurKacak opened #129 "Customize Select element."
I need to customize select option list on rule part. Which I need to is like create a select box with option-groups and live search on selectlist. <select> can't get enought flexibility. So I need to use some custom select components. How I change this. Can you give an examle to use another component like I want in action.
Thanx.

[2020-04-08 07:51] geekayush opened #130 "Links not working on NPM's page"
The content table links are working fine in the README on GitHub but not on NPM.

[2020-04-08 16:38] #130 closed, assigned to nobody

[2020-04-18 21:27] artenator opened #132 "Add option to reset value on operator change"
Here is the problem that I have faced:

Let's say we have a field named hobbies, which can be ["Football", "Soccor", "Fishing", "Programming", "Filmmaking"]

Now, I want there to be two operators possible on this field:
{name: '=', label: 'is'} and {name: 'beginsWith', label: 'begins with'}

I have set the is operator to return a "select" valueEditor, and the beginsWith to return a "text" valueEdi

[2020-04-18 21:33] artenator opened #133 "Allow customization of "Rule" component"
I have found that in some cases, customizing a Rule can be quite limiting while only using CSS.

An idea I have is to allow a `Rule` component to be passed into `controlElements`, so that users can have more control over the structure of a rule.

Please let me know if this is something that would be welcome in `react-querybuilder`; I would be happy to make this feature and create a PR.

[2020-04-22 13:14] bhupesh-sf opened #134 "How can we give placeholder or other options to value editor"
Is there any option to pass placeholder or other HTML options like required or type=date to the valueEditor of control element?

Also if I want to add one more value editor like custom date time picker while keeping the default as it is. Is there any option. I know I can use overwrite the existing one but can I extend that one?

[2020-05-13 07:28] akhi9 opened #136 "Progamatically show/hide operator, rule and group button"
Hello ,

I am looking for a way to only add groups(hide the add rule button) on base level with only OR operator selected(AND would be disabled here). Whenever the said group is added the operator allowed will only be OR (hiding AND operator). Now, nested groups are allowed but only to one level i.e. hide the Add Groups button whenever a group is added on base level.

I am using **React 16.8.0** w

[2020-05-13 10:04] akhi9 commented on #136
@jakeboone02 I was able to hide the rule and group buttons using css:

But, still need some help on, how do I ensure that base group's operator is always OR combinator and all the subsequent sub-groups will be AND operator. I have tried using control elements but I am not able to set the props.

[code]

[2020-05-13 16:06] akhi9 commented on #136
Solved it! can check at https://stackblitz.com/edit/react-6g5ygt

[2020-05-16 23:10] jakeboone02 commented on #134
Unfortunately there is no way to extend the `ValueEditor` component as you describe.  The easiest thing would be to copy the code for the default component, modify it as you wish, and use that as your custom component.  Nor is there a way to pass HTML attributes to the component.  However, we would consider a PR that implemented that functionality.

[2020-05-16 23:13] jakeboone02 commented on #133
Sorry for taking so long to reply to this.  Yes, we would consider a PR that implemented a customizable `Rule` component.

[2020-05-17 00:10] jakeboone02 commented on #129
The only way to customize the `ValueEditor` component is to pass in a custom component.  Here is an example with a `<select>` element.  Obviously you can do a lot more with it, but this shows the basics:

[code]

If you want to get really fancy you can use something like [`react-select`](https://react-select.com/).  Same principles apply, just use the `<Select>` component from `react-select` inste

[2020-05-17 00:12] jakeboone02 commented on #128
Hi @fabioespinosa, I was wondering if you had had a chance to work on the server rendering problem.

[2020-05-17 00:14] #136 closed, assigned to nobody

[2020-05-22 16:30] akhi9 opened #137 "Input Tag loses focus when using a custom onQueryChange handler"
### Version
3.1.2
### Problem
I have a parent component with  child component as the querybuilder component. I am setting the generated query in parent component's state using callback from and passing the updated query in props to the querybuilder component. But, everytime I enter one character in a input tag (of valueSelector control component in querybuilder) with a second input tag with empty

[2020-05-22 19:59] jakeboone02 commented on #137
`ref` is being assigned to the `<input>`s as they're rendered, so it gets assigned to the first one, then the second one, during a render of the component.  Each time you type a character, the component re-renders.  Then your `useEffect` side effect runs to set focus on the ref'd element (which is the second one, even though you're typing in the first one).

I think what you're trying to do is set

[2020-05-22 20:42] akhi9 commented on #137
Thank you for the explanation @jakeboone02
I am sorry I have been trying to make this work, so may have accidentally updated the stackblitz. You are right using ref won't work.
But, even without `useEffect` side effect each time I type a character `input` tag is losing focus. Updated the [stackblitz](https://stackblitz.com/edit/react-yy8q6n?file=Filter.js).

I wonder if I am not handling the `onQu

[2020-05-22 22:16] jakeboone02 commented on #137
I figured it out.  Your `valueEditor` component is defined inline with the `<QueryBuilder>` props, so it creates a new instance on each render.  You need to define the `valueEditor` component outside the JSX and just reference it.  I forked your stackblitz [here](https://stackblitz.com/edit/react-3so1vt?file=Filter.js) to show the fix.

[2020-05-23 05:03] akhi9 commented on #137
Cannot believe I missed that. Thanks a lot @jakeboone02.

[2020-05-23 18:47] #137 closed, assigned to nobody

[2020-05-26 10:22] mwozniczak opened #138 "Ability to generate parameterized queries/prepared statements"
Hi, I was looking into this library during a refactor of a legacy, jquery-based frontend. This one looks pretty similar to one of the components there, but I can't seem to find the functionality that would output a parameterized query, that would be safer to execute, similar to what the original does [here](https://querybuilder.js.org/plugins.html) (search for '`question_mark`' to see what I mean,

[2020-05-26 14:17] jakeboone02 commented on #138
This library does not currently output parameterized SQL, but it would be a fairly simple addition to the `formatQuery` function.  I may be able to get to it today or tomorrow, unless you want to put in a PR to address it yourself.

[2020-05-26 16:10] jakeboone02 commented on #138
@mwozniczak I opened #139 to add the requested functionality.  Have a look and see if it meets your needs.  If so, I'll merge it and publish a new version.

[2020-05-27 08:09] mwozniczak commented on #138
@jakeboone02 looking at the tests, it certainly seems like it! that was pretty fast, too!

[2020-05-27 10:47] mwozniczak commented on #138
@jakeboone02 okay, quick update, I've got a test controller where I'm doing something like this:

[code]

Weirdly enough, the results I'm getting in console.log are:

[code]

so it seems like for some reason this call: `formatQuery(query, 'parameterized')` is returning an empty string.

I'm not entirely sure why that is, as from the test suite you have it's parsed correctly, AND is an object.

Edi

[2020-05-27 20:11] jakeboone02 commented on #138
Oops!  I forgot to update the `dist` and `demo` folders after adding the feature.  Try again now.

[2020-05-28 06:52] mwozniczak commented on #138
@jakeboone02 yup, that seems to have fixed it, all good now!

[2020-05-28 14:42] #138 closed, assigned to nobody

[2020-05-28 21:56] jakeboone02 commented on #138
@mwozniczak this feature has been released as part of [v3.2.0](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.2.0).

[2020-05-29 13:12] mwozniczak commented on #138
@jakeboone02 yup, upgraded to it today, and it works like a charm!

[2020-06-15 21:31] #133 closed, assigned to nobody

[2020-06-18 15:33] vitorhsb opened #143 "Checking for IE11 Support"
Hi,

I am a maintainer of a project which must have support for IE11 browser.
I'm wondering what is your browser support list since this project has been flagged as not ES5 safe.

Checking ES5 support for node_modules on my project with [are-you-es5](https://github.com/obahareth/are-you-es5) shows:

[code]

If you try are-you-es5 on your project folder you would get the result:

[code]

So, to pro

[2020-06-18 21:45] #132 closed, assigned to nobody

[2020-06-18 22:20] jakeboone02 commented on #143
@vitorhsb I've opened PR #144 to resolve this issue.  Can you take a look and see if I've covered everything before I merge it?

[2020-06-19 09:28] vitorhsb commented on #143
Looks good.

Thanks for your super quick response.

[2020-06-19 19:51] #143 closed, assigned to nobody

[2020-06-22 01:16] jakeboone02 commented on #143
@vitorhsb v3.5.0 should be fully compatible with IE11.  Please let me know if it's not.

[2020-06-22 15:45] vitorhsb opened #146 "Leaking global lodash"
Starting on v3.5.0 the lodash package is leaking to global window object.

Please fix, since it is inadvertently corrupting the window._ variable when requiring the react-querybuilder package.

[2020-06-22 15:52] vitorhsb commented on #146
Screenshot showing console log with window._ variable in repository demo (local install).

![Screen Shot 2020-06-22 at 16 42 20](https://user-images.githubusercontent.com/86801/85308048-a2f9b280-b4a8-11ea-9531-74f47bdb18da.png)

[2020-06-22 16:52] jakeboone02 commented on #146
@vitorhsb this issue was resolved in [v3.5.1](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.5.1).  Thanks for the report.

[2020-06-22 16:52] #146 closed, assigned to nobody

[2020-06-23 17:11] vitorhsb commented on #143
Yeah, it works. Thanks.

[2020-06-24 13:16] bumi opened #147 "formatQuery error with json_without_ids formatter - Uncaught TypeError: Object(...)"
I am getting the following error when I try to format a query object using `json_without_ids` .
This happens in the version ~~3.4.1 and~~ 3.5  -- update: it only breaks in 3.5.0 and works in 3.4.0

### error:

query-builder.jsx.js:26 is my file - line 26 is the `console.log(formatQuery(query, 'json_without_ids'));`
[code]

### code:

[code]

[2020-06-24 13:23] bumi commented on #147
wondering if that is related to: https://github.com/lodash/lodash/issues/4610

from the stacktrace:
[code]

[2020-06-24 16:49] jakeboone02 commented on #147
I'm having trouble reproducing the issue.  See [this codesandbox](https://codesandbox.io/s/react-querybuilder-147-c9ju1?file=/src/App.js), which works without an error.  Can you set up a codesandbox to reproduce it?

[2020-06-26 06:42] MorgeMoensch opened #148 "Bug: Translations do not work"
Hello

I tried to add Translations to my QueryBuilder, but it does not quite work. The title Attribute is adapted, as I can see in the DOM-Inspector. However, the Label does not change.

My Translation:
[code]

I tried to add the translation in two ways: having a method that returns above object as the Attribute and directly putting the above Translation into the `translations={}`.

DOM looks like

[2020-06-26 09:25] #148 closed, assigned to nobody

[2020-06-26 09:25] MorgeMoensch commented on #148
Nevermind, the error was on my side. Sorry.

[2020-06-30 12:19] bumi commented on #147
@jakeboone02 hmm, yes strange. I can also not reproduce it in the codesandbox.
wondering what this could cause to fail `Object(i.cloneDeep)(n)` ?

[2020-06-30 12:20] loris commented on #147
Can reproduce it too. The codesandbox probably polyfills some stuff which are not available in browsers

[2020-06-30 13:16] bumi commented on #147
I am using it in a Rails app (sadly closed source right now) I've removed all other dependencies -  so only the rails webpack build process (which also includes some babel?) is left...  and get this error.

I do not get the error when I use the code from the demo.

any idea how I can further debug this?

[2020-07-14 12:47] bumi commented on #147
So I still have this error and fail to further debug it. I have no idea what combination causes or solves it. any hints on how to further investigate this?

[2020-07-16 06:59] bharatsewani1993 opened #150 "How to change list of operators based on previousely selected option."
I am creating an application where I need to show the list of the operator based on previous selection.
For example:
If the user choose NUMBER then I want to show him only three operators 1. Equals, 2. Greater Than or Equals, 3. Smaller Than or Equals.
If the user chooses Name then I want to show him only two operators 1. Begins with or 2. Ends With.
.
.
Is that supported currently?
If yes please

[2020-07-16 07:25] #150 closed, assigned to nobody

[2020-08-04 19:22] chrisvanpatten opened #152 "fieldData passed as `undefined` to operatorSelector after changing field"
When checking the `fieldData` passed as a prop to an `operatorSelector` component, the initial render shows the expected data:

<img width="770" alt="Screen Shot 2020-08-04 at 3 16 48 PM" src="https://user-images.githubusercontent.com/1231306/89335179-af575a80-d665-11ea-8314-32867a65d830.png">

However, when the field value is changed, the operatorSelector no longer receives the appropriate `field

[2020-08-04 19:24] chrisvanpatten commented on #152
Also noting that I see the same behavior in the `valueEditor` component as well.

[2020-08-04 19:25] chrisvanpatten commented on #152
Also interestingly, I just noticed that the value of the `field` prop changes to represent the field _label_, not the "machine" name.

[2020-08-04 19:40] chrisvanpatten commented on #152
This was, in fact, a PEBKAC. My custom `<select>` control was not correctly storing the field value.

[2020-08-04 19:40] #152 closed, assigned to nobody

[2020-08-23 21:26] dig commented on #147
I'm able to reproduce it as well.

[2020-08-30 12:33] lox opened #153 "Custom input element loses focus after any character entered"
I'm having a problem with trying to create a custom value editor for numbers (I want to validate the number).

My understanding from reading the docs is that something like this should work:

[code]

Which appears to work fine, but when I type in the input it loses focus after each keystroke.

Any suggestions?

[2020-08-31 15:51] jakeboone02 commented on #153
@lox can you set up a codesandbox reproducing the issue?

[2020-09-10 16:40] charliedieter commented on #153
Same here, but only when I am updating the parent component state `onQueryChange` - it seems to be because the parent state is updating, re-rendering the input on every change. I have yet to find a solution.

[2020-09-26 23:53] rsousa88 commented on #147
+1 having the issue in v3.5.1. Any fix/workaround for this?

[2020-09-27 13:00] geo-systems opened #154 "formatQuery doesn't escape spaces in fields."
Hi,

I'm using `formatQuery(queryDefinition, "sql")` to generate SQL.

I noticed that when a column name contains a space, the SQL value doesn't escape it. For example, when I have a filed/column `Item Type`, the resulting SQL is: `(Item Type is null)`.

I would like to escape the name of the column/fields so that the resulting SQL is escaped:

<pre>
(`Item Type` is null)
</pre>

I couldn't see an

[2020-09-28 17:28] jakeboone02 commented on #154
OK, so the question now is whether to _always_ quote the field names, or quote only the field names that contain spaces.  Also, should the delimiter always be a backtick?  I know Oracle uses double quotes.  Maybe that should be an option.

[2020-09-28 20:22] jakeboone02 commented on #154
I've had an idea to reconfigure the `formatQuery` parameters for a while now, and this ticket makes me think it's time to do it.  The change will be:  an options object can be passed instead of the format string.  So instead of `formatQuery(query, 'sql')` you can do `formatQuery(query, { format: 'sql' })`.  Other options will be `valueProcessor` (formerly the optional third parameter) and `quoteFi

[2020-09-28 21:27] jakeboone02 commented on #147
This has been fixed in 40ce711d0 which will be merged into master soon.

[2020-10-01 12:52] saurabhnemade opened #156 "on rule add its selecting first value"
When we add a new rule first element in list is already selected.
You can see the behaviour on official doc example: https://sapientglobalmarkets.github.io/react-querybuilder/
Is there any way to disable that?
I want to disable that behaviour since I am showing a nested list with labels and I don't want label to be selected.

[2020-10-01 18:18] #147 closed, assigned to nobody

[2020-10-01 18:18] #154 closed, assigned to nobody

[2020-10-01 18:56] saurabhnemade commented on #156
Update: While trying to figure out why left hand operand's value is selected, stumbled upon following code in `QueryBuilder.tsx`.

[code]

The field is always `fields[0].name` while creating new rule, which is causing the issue of first value being selected on left hand side operand.

@jakeboone02 I think this should be configurable. What do you think?

[2020-10-01 20:08] jakeboone02 commented on #156
That code is actually why it chooses the first field, not why it chooses the first value.  The value code is a little farther down, see https://github.com/sapientglobalmarkets/react-querybuilder/blob/master/src/QueryBuilder.tsx#L201-L234.

How would you model the configuration?  What should the options be and what would the behavior of each option be?

[2020-10-01 20:12] jakeboone02 commented on #156
Oh, I think I misunderstood.  I thought you were talking about the value being selected, not the field.  Same question though:  what should the configuration look like and how should each option behave?

[2020-10-01 20:57] saurabhnemade commented on #156
I think it make sense to provide configuration param functions to provide `field`'s default and `value`'s default data only in case of new rule creation.

From code I can see in case of `value` we are only handling if array has length then set [0].value else if type is `checkbox` then false. But that's a limited set. Someone may want to specify their own set of defaults for different types based o

[2020-10-01 23:13] jakeboone02 commented on #156
@saurabhnemade thanks for the detailed explanation.  I implemented the `defaultField` and `defaultValue` props mostly as you suggested, with a few changes, in PR #157.  The props are at the top level rather than within the `controlElements` object, and the function parameters are a little different (they match the internal default functions).  Let me know if that satisfies your needs.

[2020-10-04 18:03] saurabhnemade commented on #156
Yup. It totally does the job 💯
Thanks @jakeboone02 !!

[2020-10-04 18:10] #156 closed, assigned to nobody

[2020-10-04 18:17] jakeboone02 commented on #156
This feature is in [v3.7.0](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.7.0).

[2020-10-05 09:18] saurabhnemade opened #159 "empty fields list causes createRule to break at runtime."
Getting this error when fields are passed as empty array.

<img width="1246" alt="Screenshot 2020-10-05 at 2 29 58 PM" src="https://user-images.githubusercontent.com/17445338/95061798-b4925d80-0719-11eb-9885-6c458add2554.png">

[2020-10-05 21:07] #159 closed, assigned to nobody

[2020-10-20 17:40] jakeboone02 commented on #153
@lox / @CharlieDieter, I was able to reproduce the issue in [this codesandbox](https://codesandbox.io/s/value-editor-rerendering-oditj?file=/src/App.tsx).  The problem occurs when you define the `ValueEditor` within the `App` component.  That causes the `ValueEditor` to be re-instantiated each time `App` renders, which happens on each keystroke for a controlled component like that.

The solution i

[2020-10-23 08:06] protzi opened #162 "Default operator behaviour '=' instead of specified in field.operators"
Hi,
If you will specify a custom operator, the default operator value will be '=' instead of '===' and it will still be the same even if you pick manually after initialization.

[code]

![image](https://user-images.githubusercontent.com/17887536/96972914-d5332380-151f-11eb-8ab7-093e62f8560e.png)

**UPDATE: SOLVED**

[code]

[2020-10-23 14:36] jakeboone02 commented on #162
We still need to fix the issue with the `operators` though, so I'm reopening this issue.

[2020-10-23 15:42] jakeboone02 commented on #162
This is fixed with commit 5ad9da5d; released in version [3.8.1](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.8.1).

[2020-10-23 15:42] #162 closed, assigned to nobody

[2020-11-03 20:24] ryukano opened #163 "Empty field value by default when using select"
Hi! When I add rule with 'select' valueEditorType, value is empty even if I open selector and click on the first selector value. Also its reproduced on you demo page (query №2 - when add rule 'Instrument'). Added defaultValue in field object, but nothing changed

![image](https://user-images.githubusercontent.com/53697357/98032823-3fe83700-1e1d-11eb-8440-864462bfd720.png)
field:
![image](https://u

[2020-11-03 21:46] #163 closed, assigned to nobody

[2020-11-03 21:52] jakeboone02 commented on #163
Hi, @ryukano.  I have published [version 3.8.2](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.8.2) which resolves this issue.

[2020-11-11 03:30] nvlong198 opened #165 "[question] Could I disable one of combinatorSelector, fieldSelector, operatorSelector ?"
I want to disable operatorSelector to become like the first rule. How can I do that?
![image](https://user-images.githubusercontent.com/23328191/98761991-36f0fa00-2409-11eb-8f10-14da05f22146.png)
Thank you.

[2020-11-11 16:47] jakeboone02 commented on #165
Just replace the default operatorSelector with a custom version that renders null under the right conditions, like below.  You can see it in action in [this codesandbox](https://codesandbox.io/s/affectionate-chatterjee-g5y1h?file=/src/App.tsx).

[code]

[2020-11-12 19:52] sonalyadav8924 opened #166 "Query builder validation support in Value Editor."
I was looking to add some validation logic and highlighting in the Errors near each Value editor of Query builder.
I couldn't find anything in documentation.
Can we add support for form validation in QueryBuilder, which will trigger a validation call to all the ValueEditors.

[2020-11-12 20:04] jakeboone02 commented on #166
Could you describe how you would expect the API to work?  I'm not exactly sure how to pull that off in a way that would necessarily be acceptable to the community.

[2020-11-13 10:08] nvlong198 commented on #165
@jakeboone02
Can I change the operatorSelector at the last position?
![image](https://user-images.githubusercontent.com/23328191/99060343-7ae32b00-25d2-11eb-8df8-213fb898e661.png)

[2020-11-13 10:41] nvlong198 commented on #165
I think I have to modify Rule Component :smiley:

[2020-11-13 14:38] jakeboone02 commented on #165
Right, to change the position order of any of the components within the rule, you would need to provide a custom Rule component.

[2020-11-16 15:27] #165 closed, assigned to nobody

[2020-11-25 20:31] saravanakj opened #169 "TypeError: QueryBuilder.formatQuery is not a function"
Hi,

Need your help in resolving this.

Have used this component in a library. But its giving this error at runtime. After build, it emits the code as attached image.

formatQuery - exported as default function.

//in library
import QueryBuilder, { Controls, formatQuery } from 'react-querybuilder'

![image](https://user-images.githubusercontent.com/8859952/100278275-9cf18b80-2f8a-11eb-8a32-ffabbd4

[2020-11-25 21:03] jakeboone02 commented on #169
Hi @saravanakj, can you reproduce this in a codesandbox or a simplified GitHub repo?

[2020-11-27 16:13] #129 closed, assigned to nobody

[2020-11-30 09:31] urjit0204 commented on #153
Can anyone find a solution? I am facing the same issue and, I have not got any solution yet. @jakeboone02 @lox

[2020-12-01 15:15] jakeboone02 commented on #153
@urjit0204 can you reproduce your issue in a codesandbox?  AFAICT, the only way to reproduce the behavior is to define the `ValueEditor` component within the `App` component, as I described above and in [this codesandbox](https://codesandbox.io/s/value-editor-rerendering-oditj?file=/src/App.tsx).

[2020-12-03 12:38] sonalyadav8924 commented on #166
i want errors to be displayed below Value editor of Query builder. I have attached example for reference.
<img width="847" alt="Screenshot 2020-12-03 at 6 03 54 PM" src="https://user-images.githubusercontent.com/63401251/101019150-8bb00c80-3592-11eb-8cc2-e14725f17740.png">

[2020-12-03 20:33] jakeboone02 commented on #166
I think the best option here is to use a custom ValueEditor component with its own validation logic -- unless you can think of a truly generic way to implement query validation. Trying to think about it myself, I've come up with a couple of options (e.g. adding `valid` or `invalid` classes to the value editor based on the result of a provided validation function), but nothing that beats a custom V

[2020-12-07 12:11] amitdhiman000 commented on #153
@jakeboone02
I looked at the workaround you told. I moved my ValueEditor component out to main component and it works.
But in my case I need to send some extra props to ValueEditor component. e.g. singlevalue/multivalue input or view/create/edit mode.
How we can achieve that? If I try closure using arrow function or  bind(), same problem again persists.
for reference: [codesandbox](https://codesan

[2020-12-07 16:40] jakeboone02 commented on #153
@amitdhiman000 I believe I've fixed your issue with [this codesandbox](https://codesandbox.io/s/value-editor-rerendering-forked-5lidd?file=/src/App.tsx). You can pass arbitrary parameters in through the `fieldData` prop. Just add the parameters to the `fields` array objects and they will be passed through to the `ValueEditor`.

[2020-12-07 19:05] amitdhiman000 commented on #153
@jakeboone02
This solution will work for the fields.
how about  +Rule +Group,  buttons. I wanted to show these button in disabled state.
Can't we add some extra props to QueryBuilder itself, which will be available in all callbacks.

[2020-12-07 19:34] jakeboone02 commented on #153
@amitdhiman000 that's a good idea.  I'll close this ticket and put something together for a way to pass arbitrary props to the custom components.

[2020-12-07 19:34] #153 closed, assigned to nobody

[2020-12-07 19:36] jakeboone02 opened #170 "Provide a way to pass arbitrary props to custom components"
Provide a way to pass arbitrary props to _all_ custom components, as requested in #153.

[2020-12-07 20:00] #134 closed, assigned to nobody

[2020-12-07 20:59] #170 closed, assigned to nobody

[2020-12-07 21:11] jakeboone02 commented on #153
@amitdhiman000 your idea was implemented in [v3.9.0](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.9.0) as a `context` prop which can contain anything (it's type `any`) and will be passed to _all_ custom components.

[2020-12-08 05:56] amitdhiman000 commented on #153
@jakeboone02
that is great news. I appreciate your efforts.
Thanks you.

[2021-01-16 22:07] aftabnaveed commented on #128
I am using Express.js, the SSR is broken due to the `window.crypto` object being used. Can that not be encapsulated and avoided for SSR? Or at least replaced with a nodejs equivalent?

[2021-01-16 22:43] jakeboone02 commented on #128
@aftabnaveed that's a good idea -- I'll look into it.  I'd welcome a PR that fixed it as well.

[2021-01-16 23:34] aftabnaveed commented on #128
@jakeboone02  you think it is a better idea to replace nanoid with short-uuid? I see the problem itself is not related to the query builder but nanonid.

*UPDATE*
Ok I see you created a pull request, I will give the `short-uuid` branch a try and see how it goes.

[2021-01-16 23:51] jakeboone02 commented on #128
Great - let me know how it goes.

[2021-01-16 23:54] jakeboone02 commented on #128
I swapped out the id generator because I wanted to remove the hack requirement for IE11 support.  I think it has the added benefit of fixing SSR.

[2021-01-17 00:03] aftabnaveed commented on #128
I don't think it has, I still see this error
[code]
I don't know yet where the `crypto.getRandomValues` is being used. Looks like some other package is still causing it to crash.

[2021-01-17 00:10] jakeboone02 commented on #128
Looks like it's the `uuid` package, which `short-uuid` depends on.  Any ideas?  At this point I'm tempted to make my own id generator using `Math.random()`.

[2021-01-17 00:13] aftabnaveed commented on #128
I am looking at a few issues reported here https://github.com/uuidjs/uuid/issues?q=getrandomvalues, let's see If I can get a clue.

[2021-01-17 02:12] aftabnaveed commented on #128
Ok, I tried to install pollyfill for `crypto` but that did not work. I then went ahead and replaced `short-uuid` with `Math.random` as you suggested, but it still seems to be not working, however, the error has now changed to the following:

[code]

The `QueryBuilder.ts` is using hooks within the component but as per ReactJS documentation
https://reactjs.org/warnings/invalid-hook-call-warning.html

[2021-01-17 07:40] aftabnaveed opened #174 "Add Optgroup to Specific Fields"
I have a scenario where I want to split query builder fields into Option group, is it possible to add `optgroup`  to specific fields?

[code]

[2021-01-17 16:59] jakeboone02 commented on #174
Not currently; not without creating a custom `fieldSelector`.  But anything is possible with a custom component.

[2021-01-17 17:05] jakeboone02 commented on #128
The `QueryBuilder.tsx` file does not violate the Rules of Hooks.  It uses `useState` once and `useEffect` twice, all three times are at the top level of the `QueryBuilder` function.

[2021-01-17 21:06] aftabnaveed commented on #128
Maybe I am not compiling or linking it properly, the node version I am using is `14.x`  and running `npm run dist`   to build the project and then using `npm link` to use it. Is there anything I could be missing here?

[2021-01-17 21:17] jakeboone02 commented on #128
I can't think of anything.  `react` is a peer dependency of `react-querybuilder`, so I don't think it would be pulling in its own version (which may cause the issue per option 3 above).  Are you sure you're not violating the Rules of Hooks in your own code?

[2021-01-17 21:20] jakeboone02 commented on #174
Do you need an example of a custom `fieldSelector` with option groups?

[2021-01-17 21:47] aftabnaveed commented on #174
That would be great.

[2021-01-17 21:49] aftabnaveed commented on #128
My code runs fine with the default repository, it simply doesn't work when I build it myself. I have been using ES6 for a while now but new to TypeScript and maybe that's the reason I can't figure it out

[2021-01-17 21:56] jakeboone02 commented on #174
This one uses the `context` prop instead of the `fields` prop, since you can put anything you want in `context`.  I didn't test this but it should be pretty close to what you want:

[code]

Your `context` prop would look like this:

[code]

[2021-01-17 21:56] aftabnaveed commented on #128
My code is quite straight forward and here it is:

[code]

This works with the default npm package when I pull it from there but when I link it with my locally compiled package I get the above error.

[2021-01-17 22:04] jakeboone02 commented on #128
You're right, it looks pretty straight forward.  What if I go ahead and publish the `short-uuid` version of the package and you can use that?  That way we'd avoid any issues with `npm link`.

[2021-01-17 22:05] aftabnaveed commented on #128
You mean to publish that to a local npm repository? Pardon my ignorance, this territory is fairly new for me

[2021-01-17 22:07] jakeboone02 commented on #128
No, I meant if I publish a new version to npm.  Version 3.9.1.

[2021-01-17 22:10] aftabnaveed commented on #128
That probably won't fix the issue the problem is with the `uuid`  package which uses the `crypto` object not available in nodejs.

[2021-01-17 22:11] jakeboone02 commented on #128
Ah, you're right.  Maybe I'll just cancel that PR and create another one using `Math.random()` then.

[2021-01-17 22:12] aftabnaveed commented on #128
Let's try that.

[2021-01-17 22:42] #128 closed, assigned to nobody

[2021-01-17 22:52] jakeboone02 commented on #128
OK, @aftabnaveed, I published v3.9.1 with the `Math.random()` change.  Let me know if that fixes your issue.

[2021-01-17 23:14] aftabnaveed commented on #128
That fixes the issue. Thank you very much!

[2021-01-24 05:44] geo-systems opened #177 "Can you please export "defaultOperators" and "defaultValueProcessor"?"
Hi there,

I want to add an extra value processor for a new operator - e.g. `{ name: 'isEmpty', label: 'is Empty' }`. I need to keep the rest of the value processors (`not null`, `>=` etc.) the same.

Is it possible to export the `defaultValueProcessor` function and `defaultOperators` constant, so I can import them in my code and use? Otherwise, I'll need to copy-paste them.

[2021-01-24 06:41] #177 closed, assigned to nobody

[2021-01-24 06:46] jakeboone02 commented on #177
This has been addressed in [v3.9.2](https://github.com/sapientglobalmarkets/react-querybuilder/releases/tag/v3.9.2).  Thanks for the suggestion!

[2021-01-27 05:45] #174 closed, assigned to nobody

[2021-02-15 16:03] Ashishgollamudy opened #184 "Is there support for multi select dropdown?"
Hi guys I am checking to see if there is support for multi select dropdown like something i can pass to ```valueEditorType``` prop to make it multiselect?

Thanks

[2021-02-15 16:19] jakeboone02 commented on #184
There's not currently a way to do that without using a custom `ValueEditor` component and something like [`react-select`](https://react-select.com/).  Do you need some example code?

[2021-02-15 16:24] Ashishgollamudy commented on #184
@jakeboone02  Yeah could you please provide that code, Thanks!

[2021-02-15 17:00] jakeboone02 commented on #184
I didn't do a lot of testing, but it should probably look something like this:

[code]

[code]

[2021-02-15 18:23] #184 closed, assigned to nobody

[2021-02-15 22:28] Ashishgollamudy opened #185 "Input type multi select"
Hi, as I previously mentioned in issue #184 .... I have implemented the multi select in same way. However, I only wanted few inputs as multi select dropdown but i am getting all inputs as multi selects. Here is my sandbox  Could you please guide me in fixing this issue. Thanks again.

[2021-02-15 23:28] jakeboone02 commented on #185
I guessed by the `multiple` attribute in one of your fields that that's the field you wanted to make a multi-select.  I added the following code to the default `ValueEditor` component from the `react-querybuilder` source code.

[code]

I think it's working as intended now.

[2021-02-15 23:52] Ashishgollamudy commented on #185
That worked, Thank you so much.

[2021-02-16 00:12] #185 closed, assigned to nobody

[2021-02-18 16:57] Ashishgollamudy opened #187 "Removes other fields in query"
I am having an issue where some extra fields are being removed after passing below query to  ```QueryBuilder```  component. For example in below query ```name```  and  ```errorMessage``` is being removed from output query.

[code]

[2021-02-18 18:08] #187 closed, assigned to nobody

[2021-02-18 22:10] jakeboone02 commented on #187
This has been resolved with [v3.9.7](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v3.9.7).

[2021-03-05 13:18] almarrr opened #191 "Adding HAVING fields in sql query"
Is it possible to specify some fields as an HAVING clausule? I'm working with some joining of data from other tables and all of my WHERE clausules are working good, but I have have fields like "revenue" which are dynamically calculated.

Current generated sql query:

[code]

What I would like

[code]

Is this possible without a "hacky" solution?

[2021-03-05 15:42] jakeboone02 commented on #191
@almarrr this library only generates the `WHERE` clause of the statement, so I'm not sure where you're getting the `SELECT`, `FROM`, and `GROUP BY` clauses unless they're just hard-coded or you have some other component generating those.

You could have a separate query builder instance that handled the `HAVING` clause.  So the first instance would have fields like `email` (whatever you're groupin

[2021-03-05 16:03] almarrr commented on #191
Yes, I'm inserting the generated WHERE statement from the builder into my own query which is generated in my back-end itself.

This is working perfect except the "dynamic" columns. Thanks for a solution, I will try that one with the extra builder component. Hopefully in the future an option for this is added. Don't know if this is possible, but I is there a way to extend it?

[2021-03-05 17:24] jakeboone02 commented on #191
I'm having trouble picturing the API for such an extension.  What would you expect it to look like?

[2021-03-21 05:38] enzoampil opened #192 "How to compare 2 fields, instead of a field and a specific value?"
My use case requires 2 fields to be compared, instead of 1 field being compared to a single value.

E.g.

`var1 > var2 AND var3 <> var4`

Is there a way to do this currently?

[2021-03-22 16:57] jakeboone02 commented on #192
There is a way to do this, with a custom `ValueEditor` and (if you're using `formatQuery` to generate your SQL) a custom `valueProcessor`.  See [this codesandbox](https://codesandbox.io/s/condescending-poincare-sw8tr?file=/src/App.tsx).  After you add a rule, check the box to the right of the value editor to convert it to using fields instead of values.

### Update 2022-02-01:

As of [v4.2.0](/rea

[2021-03-23 00:54] enzoampil commented on #192
got it thanks!

[2021-03-23 00:55] #192 closed, assigned to nobody

[2021-03-28 05:17] allthingsbeta opened #193 "Build Query without Operators"
Hello,
Is it possible to use this library this way ?

![image](https://user-images.githubusercontent.com/30382382/112743154-7e3fe780-8fb2-11eb-8d2a-965397b74a2e.png)

I'm trying to build a logical conditioning statement without the need to provide a matching condition ( equal to something, greater than something etc)

The output I'm looking for is like this
(FirstName and LastName)

At the same ti

[2021-03-28 16:09] jakeboone02 commented on #193
You can remove the UI elements by using the `controlElements` prop.  Just set the `operatorSelector` and `valueEditor` properties to functions that return `null` (`() => null`).

[code]

The SQL format can be generated using the `formatQuery` function.  You'll need to set the `valueProcessor` to return an empty string (`""`) and replace the default operator (`=`) with an empty string as well.

[co

[2021-03-29 15:48] #191 closed, assigned to nobody

[2021-03-30 14:23] #193 closed, assigned to nobody

[2021-03-30 14:23] allthingsbeta commented on #193
Appreciate the response. Will check this out !
Thanks and Have a gr8 day ahead.

[2021-03-30 22:01] nobodyme opened #194 "Number type is enclosed within quotes"
All types are enclosed within quotes, including Number.
I see that even the json tree generated has it that way and consequently the formatter that parses it produces it the same way. Can you guide me around correcting this one? Will be happy to fix it, if it's a bug.

[2021-03-30 22:47] jakeboone02 commented on #194
This is a consequence of HTML `<input>`s setting the value to a string, regardless of `type`.  You could use a custom `ValueEditor` and call the `onHandleChange` function with an actual number when `inputType` is `number`.  Something like [this codesandbox](https://codesandbox.io/s/stoic-goodall-7ynud?file=/src/ValueEditor.tsx).

[2021-03-31 07:20] nobodyme commented on #194
Awesome thanks!

[2021-04-03 18:57] #194 closed, assigned to nobody

[2021-04-06 01:50] allthingsbeta opened #195 "Operator "&" instead of "and""
Hello Wonderful Team,

Is there a way to get the output as:

Desired Output
1. (firstName = 'Steve' & lastName = 'Vai')
2. (firstName = 'Steve' | lastName = 'Vai')

Instead of the out of the box output:
(firstName = 'Steve' and lastName = 'Vai')
(firstName = 'Steve' or lastName = 'Vai')

I could do a string replacement however:

1. At the moment, I am not sure if that is the best way to do it.
2.

[2021-04-06 15:33] jakeboone02 commented on #195
This can be accomplished by replacing the default combinators.  See below or see it in action in [this codesandbox](https://codesandbox.io/s/elegant-nightingale-kv7sr?file=/src/App.tsx:0-941).  Use the `combinators` prop.

[code]

[2021-04-23 12:58] salmanbukhari37 opened #196 "Passing context to <QueryBuilder /> but unable to get `type` on ValueEditor"
It's not a duplicate ticket I am using this reference [add optGroup to specific fields](https://github.com/react-querybuilder/react-querybuilder/issues/174) but the problem is when I am trying your example it works fine for Custom FieldSelector but on ValueEditor I am unable to get type via context.

**Custom Field Selector**
[code]
**Context**
[code]
**Query Builder Component**
[code]
**ValueEdit

[2021-04-23 16:48] jakeboone02 commented on #196
The `type` prop in the `ValueEditor` component comes from the `fields` array, not `context`.  I've set up [this codesandbox](https://codesandbox.io/s/sleepy-cloud-okb04?file=/src/App.tsx) to show what I think you're trying to accomplish. Notice how the `fields` are derived from the `context` values.

[2021-04-23 17:50] salmanbukhari37 commented on #196
@jakeboone02 Thank you for your response yes exactly this is what I wanted.

[2021-04-23 17:50] #196 closed, assigned to nobody

[2021-04-29 05:30] chandru-altrosyn-dev opened #198 "Add addition field before operator"
Hi,

   I would like to add an additional field before the operator.

  For Example:

     Select a Device -> **Select a Device attribute** -> Operators -> Input-Type-Number

  With your existing schema, we have an option to add "Select a Device -> Operator -> Value" but we would be adding a condition for the device attribute.

  Can you help me to figure this out?

Thanks
Chandru

[2021-04-29 14:06] Luifr opened #199 "Query rows should have 'display: flex'"
I'm using a custom component for the `valueEditor` (a autocomplete from material ui)

![image](https://user-images.githubusercontent.com/29644302/116563617-928d4200-a8da-11eb-88b9-bf2c056cbdc5.png)

And its causing a line break
The row component should be flex

![image](https://user-images.githubusercontent.com/29644302/116563531-7d181800-a8da-11eb-9867-e7579dbc07df.png)

Simply by changing to `di

[2021-04-29 15:35] jakeboone02 commented on #199
@Luifr have you tried using the code in the demo for Material UI components?  The components are [here](https://github.com/react-querybuilder/react-querybuilder/tree/master/demo/components) and you can see how they're used in the [main.tsx file](https://github.com/react-querybuilder/react-querybuilder/blob/master/demo/main.tsx).  The [demo](https://react-querybuilder.github.io/react-querybuilder/)

[2021-05-02 04:57] #195 closed, assigned to nobody

[2021-05-03 09:53] salmanbukhari37 opened #200 "Can I add extra key in fieldoptions of context?"
Hello Jake Boon, I have another question I am getting the field options from DB. So in that case, we are getting `type` for recognizing optGroup has the following type. So my question is can we get `type` in ValueEditor?
[code]

[2021-05-04 06:53] chandru-altrosyn-dev commented on #198
I close this ticket.

Implemented the following concept.

QueryBuilder provides an option to control the element, so we used the React-Select with Group Options(Device and Device Attribute).

Thanks,
Chandru

[2021-05-04 06:53] #198 closed, assigned to nobody

[2021-05-06 16:14] jakeboone02 commented on #200
The way to get extra properties in the `ValueEditor` component for each field is to add them to the `fields` list, not `context`.  They will come to the `ValueEditor` component as part of the `fieldData`.

[2021-05-10 18:25] karenscheng commented on #150
Hi @bharatsewani1993, did you find a solution for this?

[2021-05-16 17:00] bharatsewani1993 commented on #150
yes, I found its solution in past.

[2021-05-17 09:29] salmanbukhari37 commented on #200
But I am unable to get type value `onQueryChange` `event`. I tried passing value so I can get type there but unable to get that value.

[code]

[2021-05-18 22:58] jakeboone02 commented on #150
@karenscheng [this codesandbox](https://codesandbox.io/s/floral-cookies-6xvgj?file=/src/App.tsx) demonstrates one way to accomplish the behavior OP described.

[2021-05-18 23:01] jakeboone02 commented on #200
I think I would suggest storing your `fields` array somewhere you can import it from (a separate file, maybe), so it doesn't have to be passed as an argument to `onQueryChange`.

[2021-05-31 18:50] laportabellita opened #201 "Can we add a new 'between' type?"
![Screen Shot 2021-05-31 at 11 37 07 AM](https://user-images.githubusercontent.com/82290980/120226696-11e59c80-c21e-11eb-9aa3-12b546abe690.png)
The screenshot shows a previous implementation that serves as an example of what we want to do with this library. We basically want to add a between function to it.
We know that there's a couple of previous requests for this function and we would like to i

[2021-06-10 17:29] jakeboone02 commented on #201
Hi @laportabellita, sorry it took me so long to get to this request.  In general I think this would be a good enhancement, and the `ValueEditor.tsx` modifications would be fairly straightforward, but you would probably need to modify the structure of the internal JSON representation of the query to accommodate two separate values.  That would be the bulk of the work -- making sure all the various

[2021-06-21 22:48] alexandernst opened #204 "[Bug] Combinator selector applies for entire group instead of particular position"
I have a use case where I want to create the following (simple) condition: `(foo AND bar OR xyz)`.

Using the [demo page](https://react-querybuilder.github.io/react-querybuilder/) I tried to add 3 rules and then change the second combinator to `OR`. Immediately after changing it to `OR`, the first combinator also changed to `OR`.

After doing some tests it seems that the combinator's behaviour is

[2021-06-22 14:45] jakeboone02 commented on #204
This is the intended functionality.  All the combinators within a group must match because that's the only way to be sure, logically, what the complete query configuration actually means.  In your example `(foo AND bar OR xyz)`, it's not clear whether it means `((foo AND bar) OR xyz)`, or `(foo AND (bar OR xyz))`.  The way to represent it in the query builder would be one of the following configur

[2021-06-22 15:46] alexandernst commented on #204
Ah, I see. Since this is the expected behavior I would totally understand if you closed this issue. Nevertheless, I must disagree with your affirmation that there is no way of knowing the real meaning of the query.

The concept of [precedence of logical operators](http://www.cs.ucc.ie/~gavin/cs1001/Notes/chap40/ch40_16.html) exists and it defines exactly what is the order that should be implemente

[2021-06-22 16:15] jakeboone02 commented on #204
Yeah, you're correct that in most domains the logical precedence is established.  However, it would be a major rewrite of this library to accommodate multiple combinators per group (not to mention many breaking changes).  So as you guessed, I'm going to close this ticket.  Thanks for the input, though!

[2021-06-30 11:00] MohammedAlasaad commented on #201
Anything new about this feature ? is it possible to implement it? Thanks

[2021-07-01 12:46] MohammedAlasaad commented on #184
Nice example, but I want to apply that only for one field. is that possible? thx

[2021-07-01 17:02] jakeboone02 commented on #184
@Mohammedalasaad sure, just switch the `ValueEditor` based on the field `name` or some other identifiable property. Something like this:

[code]

[2021-07-02 10:42] MohammedAlasaad opened #205 "Alter the field name"
Hi
Is there a way to alter the field option name before return it to JSON or SQL query
for example if I have:
[code]
In db I have date_of_birth field so I want same fields query will be for same field "date_of_birth" and I can't use same date_of_birth as name for both. it must be unique.
so sql query could be like

`date_of_birth = '1982-01-01' OR date_of_birth = CURRENT_DATE() - INTERVAL "20" YEA

[2021-07-02 12:40] MohammedAlasaad commented on #129
Hi @jakeboone02
It it possible to use react-select for fields and operators too ? instead of default select.

[2021-07-02 12:43] MohammedAlasaad commented on #184
Thank you @jakeboone02 👍

[2021-07-02 12:44] MohammedAlasaad commented on #205
I think I fixed it like this.. hope its a good way
[code]

[2021-07-02 12:51] MohammedAlasaad commented on #184
Is it possible to use react-select for fields and operators too ? @jakeboone02
Thanks

[2021-07-09 13:28] olezhek85 opened #206 "Chakra UI support"
Hi @jakeboone02, you are going to support Chakra UI?

[2021-07-22 05:31] mehul-accrete opened #207 "How apply bootstrap css?"
I installed using npm command. But react querybuilder shows default CSS, I want to enabled the bootstrap css for querybuilder. How I can enabled the bootstrap css for this querybuilder.?

[2021-07-22 06:17] mehul-accrete commented on #207
Resolved! I found from demo example.
https://github.com/react-querybuilder/react-querybuilder/blob/master/demo/main.tsx

Thanks.

[2021-07-22 06:17] #207 closed, assigned to nobody

[2021-07-23 23:41] jakeboone02 commented on #206
Hey @olezhek85, sorry it took me a while to get to this. I was on vacation for a couple of weeks.

I haven't worked with Chakra UI yet, but I'll take a look at it and see about maybe adding it to the demo.

[2021-07-23 23:45] #200 closed, assigned to nobody

[2021-07-23 23:46] #199 closed, assigned to nobody

[2021-07-24 19:41] jakeboone02 opened #208 "Add configuration option for "not" toggle label"
The "not" toggle control has the label ("Not") hard-coded.  It should be configurable via the `translations` prop.  Also update the relevant demo components.

[2021-07-25 19:36] jakeboone02 commented on #184
@Mohammedalasaad - yes it is.  Just set the `controlElements.fieldSelector` and `controlElements.operatorSelector` options in your `<QueryBuilder>` props to a custom component.

[2021-07-25 19:39] jakeboone02 commented on #129
@Mohammedalasaad - yes it is.  Just set the `controlElements.fieldSelector` and `controlElements.operatorSelector` options in your `<QueryBuilder>` props to a custom component.

[2021-07-26 17:53] #206 closed, assigned to nobody

[2021-07-27 14:58] #208 closed, assigned to nobody

[2021-07-27 15:32] jakeboone02 commented on #206
@olezhek85 - the Chakra UI demo is now available.  [Demo](https://react-querybuilder.github.io/react-querybuilder/) / [Source code](https://github.com/react-querybuilder/react-querybuilder/tree/master/demo)

[2021-07-28 02:37] allthingsbeta opened #211 "Sql Like Input to Query Builder"
Hello,

I have my Input queries in the below two formats (Sql like strings).

1. "(firstName != ' ' AND age >= '18')"
2. "( firstName & ( age & ( male | female ) ) )",

Is there a way to input these Sql Like strings to the `QueryBuilder` Component and convert it into the JSON Structure needed for the component to display the graphical query builder. Thank You.

Also, shoutout to all the maintainer

[2021-07-28 15:24] jakeboone02 commented on #211
Hi @allthingsbeta, thanks for the shoutout!  We appreciate it.

This library doesn't have any utilities for converting SQL to the required JSON format, but I answered a similar question in #123 (which I didn't get any feedback on).  I just checked the link in that answer again and it still seems to bring up several options for what you want to do.

Let me know what approach you end up taking.

[2021-08-12 18:18] CodMonk opened #212 "Is it possible to use input type field instead of select"
How can we use Field Type as input not the select ?

![image](https://user-images.githubusercontent.com/15674997/129248260-40bb462c-9e05-4870-b17c-410a54568a40.png)

[2021-08-12 18:26] nageshwari17 opened #213 "on add rule its auto populating 0th index field with value in selected box"
Hi Team ,

I am using query builder to generate SQL query . I have notice that as I clicked on add rule . all three fields are auto populating of 0th index of fields and if its select  valueEditorType 0th index of value .  this will not meet my requirement . Is there any option that first popup valueSelect element then the other two field base on the field. Please help me with this.

[2021-08-12 19:08] jakeboone02 commented on #212
While I will caution that it doesn't actually sound like a good idea, you _can_ accomplish this with a custom `fieldSelector` component.  See [this codesandbox](https://codesandbox.io/s/agitated-sunset-324ml) for a live example.  A basic `<input>`-based custom component looks like this:

[code]

You can assign the custom component to the query builder using the `controlElements` prop:

[code]

Ano

[2021-08-12 19:30] jakeboone02 commented on #213
There is currently no way to accomplish what you're asking, but let me confirm what you want in case we move forward with adding the option:

1. User clicks Add Rule
2. New row appears with a single drop down list for Field selection, with no field selected (empty option or invalid selection?)
3. User selects a Field from the list
4. Operator and Value selectors appear next to the Field selector.

[2021-08-12 19:35] jakeboone02 commented on #213
I will add that the reason the QueryBuilder component automatically selects the first option for Field, Operator, and Value (if `valueEditorType = 'select'`) is that it's trying to keep the query valid at all times.  If it didn't do that, you'd get situations where the SQL generated wouldn't be valid.

[2021-08-12 19:37] #212 closed, assigned to nobody

[2021-08-12 19:40] #205 closed, assigned to nobody

[2021-08-12 21:05] jakeboone02 commented on #201
I had an epiphany and realized this can be accomplished with the current feature set.  See [this codesandbox](https://codesandbox.io/s/angry-bardeen-c5tv0) for a simple example.

The key was to use an array of two elements instead of a primitive for `value` and handle it appropriately in a custom `ValueEditor`. I then passed a custom `valueProcessor` to the `formatQuery` function to produce the co

[2021-08-12 22:10] jakeboone02 commented on #201
Update:  [this codesandbox](https://codesandbox.io/s/jolly-leftpad-m1m9x) uses `react-datepicker` to [select a proper date range](https://reactdatepicker.com/#example-date-range-for-one-datepicker)! :)

![image](https://user-images.githubusercontent.com/366438/129276365-b2aeb9e5-5f13-4eef-bf9a-e84a9ae361d0.png)

[2021-08-12 22:13] jakeboone02 commented on #169
Closing due to lack of response.

[2021-08-12 22:13] #169 closed, assigned to nobody

[2021-08-12 22:23] jakeboone02 commented on #39
Closing due to age.  Note that the `resetOnFieldChange` (`true` by default) and `resetOnOperatorChange` (`false` by default) props enable the user to configure the desired behavior.

[2021-08-12 22:23] #39 closed, assigned to miphe

[2021-08-13 06:14] nageshwari17 commented on #213
Yes your right .
2)New row appears with a single drop down list for Field selection, with no field selected with empty option.
4) Operator and Value selectors appear next to the Field selector. Value selector has with initial selection will work

[2021-08-13 06:18] nageshwari17 commented on #213
Yes in the current version it will give invalid SQL . Is there any way add validation on SQL generator that check whether all field contain value if yes then generate SQL query . like [jQuey querybuilder](https://querybuilder.js.org/demo.html)

[2021-08-16 10:04] nageshwari17 opened #215 "How to add between operator"
Hi Team , I am using querybuilder in application . there is a requirement of setting range value from and to of Age , Year , etc

How to add two select box with value field and get the range value in sql query . please help me with this . Thank you .

[2021-08-16 15:31] jakeboone02 commented on #215
Hi @nageshwari17.  I addressed this topic in #201.  [This codesandbox](https://codesandbox.io/s/angry-bardeen-c5tv0) demonstrates a simple two-`<input>` solution, and [this codesandbox](https://codesandbox.io/s/jolly-leftpad-m1m9x) uses `react-datepicker` to select a date range.  It would only require slight modifications to use `<select>`s instead of text inputs or date pickers.

[2021-08-16 15:31] #215 closed, assigned to nobody

[2021-08-17 07:38] nageshwari17 commented on #215
I think the above expample is working based on field . But its should work based on operator [this example not working as expected when I selected = ](https://codesandbox.io/s/cool-rain-rem57?file=/src/App.tsx)

[2021-08-17 07:41] nageshwari17 commented on #201
Hi @jakeboone02 , I think the above expample is working based on field . But its should work based on operator [this example](https://codesandbox.io/s/cool-rain-rem57?file=/src/App.tsx) not working as expected when I selected =

[2021-08-17 07:42] nageshwari17 commented on #213
@jakeboone02  Is any update on this?

[2021-08-17 17:11] jakeboone02 commented on #213
Yeah, I'm working on a solution. I'll link the PR to this ticket once I get it ready.

[2021-08-17 17:18] jakeboone02 commented on #215
I think all you have to do is include `operator` in your criteria for using the dual inputs.  Like this:

[code]

[2021-08-17 17:19] jakeboone02 commented on #201
I think all you have to do is include `operator` in your criteria for using the dual inputs.  Like this:

[code]

[2021-08-17 17:27] jakeboone02 commented on #166
Just to update everyone, I'm still thinking about this. Another user requested a similar feature in #213. Right now what's going through my head is the possibility of adding a default validation function for rules, with the option to override that function with a custom function. Still not sure how that would affect the `<QueryBuilder>` output exactly.

[2021-08-22 21:40] krisgoks commented on #211
Check this out, I made a solution using JSEP  https://codesandbox.io/s/sql-to-react-querybuilder-json-nifw6?file=/src/App.js

[2021-08-24 23:09] #213 closed, assigned to nobody

[2021-08-24 23:17] jakeboone02 commented on #213
@nageshwari17 - this feature has been deployed in [v3.11.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v3.11.0).

[2021-09-29 19:01] vijayky opened #221 "Adding a default rule to the new group"
I am looking for an option to add a default rule (or may be the first rule) to the new group when created, instead of showing empty group. I looked into the code and found that _createRule_ and _createRuleGroup_ functions are called when +Rule or +Group buttons are clicked.

I am thinking if a prop can be passed to receive onAddRule or onAddGroup button and provide default settings.

Please share

[2021-09-29 19:09] vijayky opened #222 "Clone / duplicate existing rule or group"
When building complex queries many times similar rule or group is required to add additional criteria. I was thinking if a clone button is available at rule and group level.

I understand that a button could be added by customizing Rule or Group component at UI level but not sure how to iterate and duplicate rules/groups. Hopefully this feature may help other community members.

[2021-09-29 19:17] vijayky commented on #166
Thinking if Field prop should receive a callback function, which accepts all props as ValueEditor props and returns an object (as below) to indicate validation status.

**Possible return value from validation function**
[code]

The validation function may be called on blue of value editor and formatQuery aka query structure is built.

[2021-09-29 19:20] jakeboone02 commented on #221
We could provide a Boolean prop that determines whether a rule is added by default when new groups are created, e.g. `addRuleToNewGroups={true}` then new groups would have a rule added upon creation (using the existing default settings for new rules).

Another option is to accept a `defaultRule` prop which would be added to new groups.

How would you imagine the API for `onAddRule` or `onAddGroup`

[2021-09-29 19:21] vijayky commented on #201
It would be awesome if `between` and `not between` is available in default operator's list, then not everyone has to implement the same logic. just a thought...

[2021-09-29 19:24] jakeboone02 commented on #222
Yeah, I could see adding a prop that exposes "Clone Rule" and "Clone Group" buttons.  Would a `showCloneButtons={true}` prop be sufficient? (Of course you could do the same thing with custom `Rule`/`RuleGroup` components, but it would be simpler if the `QueryBuilder` component just did it for you.)

[2021-09-29 19:35] vijayky commented on #222
Yes, it would be awesome, thanks for your prompt response.

[2021-09-29 19:45] vijayky commented on #221
I think I like the idea of have a `bool` flag and may be default value be `false` so that it would not change something for existing users. Adding a default rule may help put validation as you are thinking on one of the other tickets. If you have group with no rule it could also be a possible validation criteria. A group without rule does not create valid SQL syntax.

Having a API would provide op

[2021-09-30 02:29] #222 closed, assigned to nobody

[2021-09-30 02:32] jakeboone02 commented on #222
@vijayky - this feature will be available in the next release, which I'll publish after I review and act on your other comments from earlier today.

[2021-09-30 03:27] jakeboone02 commented on #221
Yeah, I like the idea of a Boolean (default `false`) prop to automatically add a rule to new groups. Should that include the root group? For example, if the initial query object has an empty `rules` array, should a rule be added to it during the first render?

Thinking about this more, I don't think we need a `defaultRule` prop. We already have `getDefaultField` and `getDefaultValue`, the only thi

[2021-09-30 15:20] vijayky commented on #222
Thank you @jakeboone02

[2021-09-30 15:31] vijayky commented on #221
Yes, please. It would be helpful to show the default rule that way.

I think currently you are showing first operator is default, and I guess that should be enough but having a feature is not bad at all.

By passing a React component that returns null JSX, that's a clever idea, I did not think of that.
Per you Api signature, you are providing one more way to return `falsy` value from `onAddGroup`

[2021-09-30 17:01] jakeboone02 commented on #221
I started implementing these features in #224.  I changed one thing:  when `addRuleToNewGroups` is set to `true`, a new rule will _not_ be automatically added to the root group unless a `query` prop is not passed in. That way it will respect existing queries that have intentionally empty `rules` arrays.

[2021-10-01 00:07] #221 closed, assigned to nobody

[2021-10-01 00:18] jakeboone02 commented on #201
@vijayky - I could easily add `"between"` and `"notBetween"` to the `defaultOperators` list, but implementing the array-based value handling logic I think would be a little too specialized to include in the standard distribution. There are instructions here, and working examples linked, for using custom `ValueEditor` and `valueProcessor` functions to accomplish the desired result. I believe that w

[2021-10-01 00:18] #201 closed, assigned to nobody

[2021-10-01 01:30] vijayky commented on #221
Thank you..

On Thu, Sep 30, 2021, 8:07 PM Jake Boone ***@***.***> wrote:

[2021-10-01 01:31] vijayky commented on #201
Yes, that's fine. Thank you for everything.

On Thu, Sep 30, 2021, 8:18 PM Jake Boone ***@***.***> wrote:

[2021-10-01 04:31] jakeboone02 commented on #166
I've been thinking about this a little bit more (thanks to @vijayky for the prod!) and wanted to run my idea by the community before I implemented anything. I was thinking we could accept a `validate` prop which `QueryBuilder` would invoke on each render.

The result of that function would need to be a `boolean` indicating whether the entire query is valid, or an object where the keys are the `id`

[2021-10-01 13:34] vijayky commented on #166
Thanks @jakeboone02  for providing awesome notes, this is how I am reflecting after reviewing above:

There could be three levels of validation
* Field level
  * Field level validation may trigger after value change on ValueEditor.
  * The validation logic can be provided with Field prop so that not all validation checks would occur each time.
  * The another benefit would be that field validation

[2021-10-01 16:03] jakeboone02 commented on #166
Great comments. Thanks!

I do like the idea of `Field`-based validation callbacks. I think they should be invoked on each render, at the `Rule` level, and the results passed down to each sub-component (including `ValueEditor`). The function signature would be something like `validate?(params: RuleProps): boolean | {/* same object as query-level */}`.

Similar to `Field`-specific validators, we cou

[2021-10-01 17:18] vijayky commented on #166
Impressed with you efforts...

👍

Yes, you are right, we don't need at Rule level

👍, and, I mentioned a another validation for missing combinator value by thinking that user may override combinator in `combinatorSelector` may miss setting values. So having an inbuild validation for missing combinator value when 2 or more rules exist in a group.

I was thinking on-demand calls like, user has `quer

[2021-10-01 18:32] jakeboone02 commented on #166
Thanks for the quick feedback.

OK, new prop will be `validateGroups?: boolean` (default `false`). When `true`, then empty groups and groups with 1) an invalid/missing combinator, and 2) `rules.length >= 2`, get invalidated. I.e., `"queryBuilder-invalid"` class on the group `div` and something like `{ valid: false, reasons: ['empty', 'invalid combinator'] }` passed to each sub-component.

Alright,

[2021-10-01 18:54] vijayky commented on #166
Yes, this looks amazing, thanks Jake

On Fri, Oct 1, 2021, 2:32 PM Jake Boone ***@***.***> wrote:

[2021-10-02 04:58] jakeboone02 commented on #166
I've opened PR #225 to add the validation features discussed here. One change: I abandoned the `validateGroups` prop as it was redundant -- you can achieve the same effect by passing the exported `defaultValidator` as the `validator` prop.

[2021-10-04 16:45] jakeboone02 commented on #201
@vijayky - actually I changed my mind and went ahead and added `between`/`notBetween` operators to the default set. See PR
#225. `formatQuery` will also handle them by default, if the rule value is an array of length 2 or a string with exactly one comma that is not the first or last character.

[2021-10-04 16:59] vijayky commented on #201
Awesome Jake! Thanks a lot...

On Mon, Oct 4, 2021, 12:45 PM Jake Boone ***@***.***> wrote:

[2021-10-04 19:13] balboFK opened #226 "Ability to get the input type on generated rules from JSON."
Hello!
Thanks for the awesome library!

I was wondering if it's somehow possible to get the "inputType" on the final generated rule object when exporting to JSON.

[code]

Also, is it possible to remove the "not" property from the object when using 'formatQuery'?
Thanks!

[2021-10-04 19:36] jakeboone02 commented on #226
I don't want to add `inputType` to the default export since it's tied to the Field object and not the Rule, and would therefore be redundant, but you can add `inputType` to the query yourself with the following code. (I haven't actually tested it but it should be pretty close.) It's TypeScript but if you need a plain JavaScript version I can strip out the type-related stuff for you.

[code]

To re

[2021-10-04 20:05] balboFK commented on #226
Hey @jakeboone02 , thanks for the fast reply and help! Works like a charm.
The guys from the backend here are giving you a shoutout, since they will not need to change anything on their side to achieve what we we're hoping for!

Thanks for the help and for the amazing library, you rock.

[2021-10-04 20:28] jakeboone02 commented on #226
Aw, thanks! I really appreciate that. Glad to help.

[2021-10-04 20:28] #226 closed, assigned to nobody

[2021-10-04 21:40] #166 closed, assigned to nobody

[2021-10-04 22:13] jakeboone02 commented on #201
The `between` and `notBetween` operators are in the default list in [v3.12.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v3.12.0).

[2021-10-04 22:14] jakeboone02 commented on #166
Validation features are included in [v3.12.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v3.12.0).

[2021-10-04 22:17] jakeboone02 commented on #73
The `between` and `notBetween` operators are in the default set as of [v3.12.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v3.12.0). To use the default functionality with `formatQuantity`, the rule value must be a string with exactly one comma (that is not the first or last character), or an array of exactly two elements.

[2021-10-05 13:46] balboFK commented on #166
Hey @jakeboone02 !
With this new feature, is possible to validate aswell the rules generated by JSON output? I'm trying to implement a validator which doesnt allow empty rules and empty groups, the CSS for the fields works just fine using the default validator, but i'm wondering a way of having "formatQuery" to tell me if some of the rules are invalid, so i would take some action after the check.

[2021-10-05 14:56] jakeboone02 commented on #166
If all you want to do is invalidate empty groups and rules (by which I assume you mean rules with falsy values), then you can use the code I provided in #226, modified to add a `valid` boolean property to each rule and group:

[code]

[2021-10-05 18:20] balboFK commented on #166
With that i can iterate over the object and cancel the following actions if any of the validations are false.
I'll try to do that!

Thanks again @jakeboone02 !

[2021-10-24 23:49] #51 closed, assigned to nobody

[2021-10-25 01:14] #56 closed, assigned to nobody

[2021-10-25 01:16] #83 closed, assigned to nobody

[2021-10-26 01:12] jakeboone02 commented on #211
FYI, I've started working on this feature. Nothing to show just yet, but there will eventually be an exported `parseSQL` function that should be able to handle just about anything that `formatQuery(query, format)` outputs (where `format` is "sql", "parameterized", or "parameterized_named"), i.e. plain field vs. value comparisons and `between`/`in` expressions. It will _not_ be able to handle funct

[2021-10-26 01:12] jakeboone02 commented on #123
FYI, I've started working on this feature. Nothing to show just yet, but there will eventually be an exported `parseSQL` function that should be able to handle just about anything that `formatQuery(query, format)` outputs (where `format` is "sql", "parameterized", or "parameterized_named"), i.e. plain field vs. value comparisons and `between`/`in` expressions. It will _not_ be able to handle funct

[2021-10-27 08:03] #108 closed, assigned to nobody

[2021-10-29 23:09] #123 closed, assigned to nobody

[2021-10-29 23:09] #211 closed, assigned to nobody

[2021-11-01 17:51] jakeboone02 commented on #204
I think I'm actually changing my mind about this one. I've started looking into adding an `inlineCombinators?: boolean` prop that would flip the `<QueryBuilder />` component from using `RuleGroupType` for the `query` and `onQueryChange` props to using a new type (tentatively named `RuleGroupTypeIC`) that would remove the `combinator` attribute and allow strings in the `rules` array. The intent wou

[2021-11-03 06:37] #204 closed, assigned to nobody

[2021-11-03 06:54] jakeboone02 commented on #204
Hey @alexandernst, I just released [v4.0.0-beta.3](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.0.0-beta.3) with the aforementioned `inlineCombinators` feature. Want to give it a whirl? I'm particularly interested in how the new TypeScript types fare, so it would be good if you're using TS. But any constructive feedback is welcome.

Edit: try [v4.0.0-beta.4](https://git

[2021-11-04 16:52] jakeboone02 opened #232 "Add support for drag-and-drop"
Support drag-and-drop to reorder rules and groups.

Use [React-DnD](https://react-dnd.github.io/react-dnd/)?

Update: see [dnd branch](https://github.com/react-querybuilder/react-querybuilder/tree/dnd) for current progress.

[2021-11-04 17:00] alexandernst commented on #204
@jakeboone02 Absolutely! I'll upgrade to the latest beta and test the new feature :)
We're using JS, so I won't be able to test the TS types.

[2021-11-04 18:35] jakeboone02 commented on #204
No problem. It needs to work with JS, too! :)

[2021-11-04 23:41] jakeboone02 opened #234 "To-do list for v4.0.0 final"
- [x] Add more relevant images to [docs site home page](https://react-querybuilder.js.org/) feature list
- [x] Finalize the [Getting Started](https://react-querybuilder.js.org/docs/intro) page on the docs site
- [x] Update demo links to point to docs site, not README.md
- [x] [Update README.md](https://github.com/react-querybuilder/react-querybuilder/edit/master/README.md) to remove detailed docum

[2021-11-12 03:13] #232 closed, assigned to nobody

[2021-11-12 13:29] alexandernst commented on #204
Hi @jakeboone02 ! Sorry for taking so long. It has been a really busy week. Fortunately, I'll have a lot of time during the weekend so I'll be able to test this.

[2021-11-12 13:36] jakeboone02 commented on #204
Thanks, @alexandernst. Please note that I've just released v4.0.0-beta.5 which renames the prop to `independentCombinators`. (It also adds drag-and-drop support with the `enableDragAndDrop` prop, so give that a whirl if you want, too!)

[2021-11-12 13:38] jakeboone02 commented on #204
[Release notes for latest beta](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.0.0-beta.5)

[2021-11-13 09:07] mylawacad opened #236 "How do you validate queries at the backend side?"
Thank you for the outstanding query builder.

Curious is there any best practice on how to validate the resulting query on the backend side. It is a bit scary to hit the database with a custom query not validated against the rules. I tried to install and import the module at the NodeJs side (so to use formatQuery and defaultValidator at the backend side) , but it seems that I can't export these se

[2021-11-13 19:35] jakeboone02 commented on #236
Hey @mylawacad, thanks for the compliment. We're glad you find the library useful.

You shouldn't have to worry too much about the output of `formatQuery`, especially if you use the "parameterized" format with bind variables. `formatQuery` only produces a `WHERE` clause, so there's very little risk of it producing anything dangerous on its own (but we'd _love_ to have a security audit done just to

[2021-11-15 12:20] alexandernst commented on #204
@jakeboone02 I have been refactoring my code in order to adapt it to the new version; but I've hit a wall.

My use-case involves overriding the entire Rule component, but I can't find a way to do it with the code from the new beta. The Rule component uses some variables exports from the `defaults` and the `utils` (eg. https://github.com/react-querybuilder/react-querybuilder/blob/master/src/Rule.ts

[2021-11-15 15:43] jakeboone02 commented on #204
Hmm.  I hadn't considered that.  I could expose `defaults`/`utils` in the main export.

Can you tell me what your requirement is that you need to replace the entire Rule component? Maybe we could accommodate your needs with the default component somehow.

[2021-11-15 15:56] alexandernst commented on #204
Sure thing! Actually my requirement is very simple (but still, it requires the entire component to be cloned). I just want to wrap all the controls in Row and Col bootstrap components, like so:

[code]

[2021-11-15 16:50] jakeboone02 commented on #204
I think if you're just using bootstrap for alignment then you could do the same with [CSS Grid](https://css-tricks.com/snippets/css/complete-guide-grid/) without replicating the entire component.

[2021-11-15 16:54] alexandernst commented on #204
There is a little bit of logic involved as well. I'll probably swap the positions of some of the fields and maybe show/hide them completely base on certain logic. Hacking the component only with any sort of CSS might work, but it certainly won't be a clean solution, which is why I'd suggest to just export all the functions / variables required to inherit all / any of the components.

[2021-11-15 21:48] jakeboone02 commented on #204
I would argue that a CSS solution would be _cleaner_ than replacing the `Rule` component. You can reorder elements with flexbox and align them with CSS Grid, placing extra classes on elements as necessary through the `controlClassnames` prop or with custom components besides `Rule`.

That said, it's probably OK to expose the defaults and utils anyway, so we'll try to do that in 4.0.

[2021-11-15 21:58] alexandernst commented on #204
Waiting for the next beta so I can test this and give you more feedback :)

[2021-11-22 09:59] alexandernst commented on #204
Hi @jakeboone02 ! Did you have the chance to apply the patch you mentioned earlier? I'm eager to keep testing the beta

[2021-11-22 15:11] jakeboone02 commented on #204
Sorry it's taking so long! I meant to have another beta out sooner but life has gotten in the way lately. Anyway, I'm also swapping out the webpack build system for Parcel, reorganizing the TypeScript types, preparing a new documentation site, and converting the whole thing to a monorepo. That said, it shouldn't be too much longer. Thanks for your patience!

[2021-11-26 13:18] balboFK opened #238 "New valueEditorType: date"
Hello everyone.
Would it be possible to add this new valueEditorType to the defaults?
Lets say that I want to filter between two dates, like 'initialDate' and 'finalDate', to find if a value is on this time frame.

On my case, this would be easily solved with a new valueEditorType, so I would be able to pass it to my custom valueEditor and check over it.

For now I'm modifying the default type lik

[2021-11-26 16:43] jakeboone02 commented on #238
Hi, @balboFK! The easiest way to provide a date picker is to use the `inputType` property rather than `valueEditorType`. Using `inputType: "date"` for a field will trigger the browser's native date picker when that field is selected. This works on Chrome, Firefox, Safari, and Edge, but not IE.

If you don't want to rely on the browser's native date picker, then you'll need to use a custom componen

[2021-11-26 16:53] balboFK commented on #238
Hello @jakeboone02, thanks for the reply! Right now my implementation is covering our needs, I will check out the recomended links and take a read on the topics.

I will be looking up to see the future implementation for the date picker.

On my case it looks like this, if someone is interested, the implementation is working for the 'between' type, if you don't want to use between just check for th

[2021-11-26 16:57] jakeboone02 commented on #238
Great! Looks like everything's covered for now...mind if we close this issue?

[2021-11-26 17:00] balboFK commented on #238
Closing!

[2021-11-26 17:00] #238 closed, assigned to nobody

[2021-11-27 19:46] jakeboone02 commented on #204
@alexandernst I just released [v4.0.0-beta.6](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.0.0-beta.6) which exports all the defaults and utils as we discussed.

[2021-11-27 19:47] alexandernst commented on #204
Let me give it a try!

[2021-11-27 20:15] jakeboone02 commented on #236
@mylawacad I just released [v4.0.0-beta.6](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.0.0-beta.6) which does not require `react` on the server side if you're just using the `formatQuery` function. Import it like this: `import formatQuery from 'react-querybuilder/dist/formatQuery'`.

[2021-11-28 07:07] mylawacad commented on #236
Hi @jakeboone02  Thank you very much for taking a look into this for me. Let me try this out.

Really an outstanding repository. Thank you once again.

[2021-11-29 15:41] alexandernst commented on #204
@jakeboone02 I have some more feedback!

* The `InlineCombinator` is not exported, which forces me to copy the code of that element in order to override the `RuleGroup` component
* The drag&drop is not working properly when used in combination with Bootstrap's Rows and Cols. Example `RuleGroup` component that will fail: https://pastebin.com/JS6Z8GFE

Overall, the migration wasn't too complicated,

[2021-11-29 15:58] alexandernst commented on #204
Oh, I forgot to mention another thing I just noticed. There seems to be going on some type of casting with the values. This might actually be something that was already present in the 3.x branch, but I just noticed it now.

![aaa](https://user-images.githubusercontent.com/89727/143900664-acf30df3-af4c-4641-b317-9494c5ba2f28.png)

[2021-11-29 16:08] jakeboone02 commented on #204
Thanks for taking a look!  I'll get `InlineCombinator` exported in the final 4.0 release.

I can't look at your pastebin example right now (work has blocked pastebin.com), but I can take a look after work. Or you could put an example up somewhere else, this [CodeSandbox template](https://codesandbox.io/s/react-querybuilder-ci-oq8ts) is what we use for CI, so it's a good starting point.

On the num

[2021-11-29 17:00] alexandernst commented on #204
I created a demo for the D&D bug: https://codesandbox.io/s/react-querybuilder-ci-forked-je5f3

About the casting, gotcha!

[2021-11-29 21:19] jakeboone02 commented on #204
In your codesandbox example, you weren't assigning the custom `RuleGroup` component to the `controlElements` prop in the `<QueryBuilder />` call, so it was just using the default component. Also, you were generating a query object of type `RuleGroupType` when it should have been `RuleGroupTypeIC` since the `independentCombinators` prop was set to `true`, (i.e. the `parseSQL` call _also_ needed the

[2021-11-30 10:43] alexandernst commented on #204
HI @jakeboone02 ! I'm sorry for the demo, something went wrong and my changes weren't applied properly. Thank you for looking at the code anyways.

That said, there seems to be yet another bug. Using your own example, try to drag the "Age" row on top of the "Last name" row. I end up seeing this:

![react-querybuilder_react-bootstrap_RuleGroup_-_CodeSandbox](https://user-images.githubusercontent.co

[2021-11-30 14:28] zukilover opened #243 "Calling add rule or group action programmatically"
Hi, Team.

Thanks for the very useful library.

I want to have a custom control element of add rule and group action, where both of them will be part of a single dropdown (next to combinator selector, there will be a dropdown trigger that will show Add Rule and Add Group actions).

How can I call each of the action callback programmatically?

[2021-11-30 15:13] jakeboone02 commented on #204
@alexandernst - confirmed. It seems the move works if you drop the Age rule directly over the First Name rule, but not if you drop it on the combinator selector below it. Should be the same effect for both.

[2021-11-30 23:37] jakeboone02 commented on #243
There is no imperative API for this library (although I might think about adding one now that you mention it...).  But I may have something like what you want here:  https://codesandbox.io/s/combined-add-rule-group-button-x67mp

It's using the `controlClassnames` and `controlElements` props to sort of combine the "+Rule" and "+Group" buttons into one. The dropdown is part of a custom element that

[2021-12-01 14:39] zukilover commented on #243
Thank you for the prompt response!

I can live with the workaround now. Having the API exposed (maybe via hooks), would be a great addition in the future roadmap.

[2021-12-01 14:39] #243 closed, assigned to nobody

[2021-12-01 15:26] jakeboone02 opened #244 "Expose imperative API"
Expose an imperative API for manipulating queries from outside the component.

There are several options for API design:

1. **Hooks** (`useQueryBuilder`?). Not sure how that would connect with a specific `<QueryBuilder />` instance, in case there were multiple being rendered.
2. **Refs**. Might have to wrap the main component with `forwardRef()`, but maybe not. See `react-select` [implementation]

[2021-12-03 14:52] zukilover commented on #244
While **callback** is the easiest one, the original purpose of the request was really to enhance `controlElements`, so that we could rearrange the interfaces as much as we like. With that in mind, I think **refs** is the most elegant way of doing it.

[2021-12-06 16:15] PauloStanize-NHT opened #245 "Rule path"
Thanks for this incredible library guys!

Is it possible to receive the current rule path on `fieldSelector` and `valueEditor` props? It would be useful to create more concise `data-testids` and to change the query depending on user input for field and value...

[2021-12-06 17:11] jakeboone02 commented on #245
Definitely! I'll include the `path` prop on all rule & group sub-components in the final 4.0 release. Still trying to get drag-and-drop working with independent combinators, but once we're over that hurdle then 4.0 should be good to go.

[2021-12-06 17:18] PauloStanize-NHT commented on #245
Awesome! Thanks for your fast reply!

[2021-12-06 17:18] #245 closed, assigned to nobody

[2021-12-11 17:40] jakeboone02 opened #246 "Drag-and-drop results in invalid rule array in some cases with independent combinators"
In [this example codesandbox](https://codesandbox.io/s/react-querybuilder-react-bootstrap-rulegroup-3o869?file=/src/App.tsx), the drag-and-drop move works if you drop the Age rule directly over the First Name rule, but not if you drop it on the combinator selector below it. Should be the same effect for both, as indicated by the dotted line when hovering over each.

Attempt to fix in the [`fix-ic-

[2021-12-13 00:37] #246 closed, assigned to nobody

[2021-12-13 01:05] jakeboone02 commented on #204
@alexandernst I think I fixed the bug with drag-and-drop when using `independentCombinators` (see #246). Would you mind trying out [v4.0.0-beta.7](/react-querybuilder/react-querybuilder/releases/tag/v4.0.0-beta.7) and confirming before I release 4.0 final?

[2021-12-13 21:33] jakeboone02 commented on #244
Thanks for the feedback, @zukilover. I've been looking at this and I can't wrap my head around a `ref`-based solution. It seems like it would be fairly trivial if `QueryBuilder` was a class component, but it's a function component. I don't really want to convert it (back) to a class component, and other methods using refs (`forwardRef`, using a custom `ref`-type prop, etc.) don't seem to accomplis

[2021-12-14 18:17] jakeboone02 commented on #244
@zukilover - After working on the callback solution for a while, I realized that's not going to work either. Without a class instance to hang on to, it's really hard to keep the object references updated.

The best I could come up with is a set of utility functions (`add`, `remove`, `update`, `move`, and `clone`) that perform modifications to a provided query object and return a new query object.

[2021-12-15 00:16] muaragon opened #249 "How to show combinator labels between rules?"
Hi!
I am trying to display a combinator label between each rule of my querybuilder. My initial approach was to try to override the Rule Component, but I realized that this component does not have access to its left or right sibling combinator.  My intuition tells me that I will have to override the RuleGroup component, but I wonder if there is an easier way to access combinator values?

# Figma de

[2021-12-15 16:59] IamJeffG commented on #207
Here's a persistent link, the one above is broken: https://github.com/react-querybuilder/react-querybuilder/blob/v3.9.9/demo/main.tsx

In short: you need to pass bootstrap class names via the `controlClassnames` props to QueryBuilder.  There also seems to be a use for a couple custom `controlElements`.

[2021-12-15 19:52] jakeboone02 commented on #207
Thanks for posting the persistent link, @IamJeffG. FYI, v4 of `react-querybuilder` (to be released soon) will correspond to the release of several custom component libraries under the [`@react-querybuilder`](https://www.npmjs.com/org/react-querybuilder) org on npm. [`@react-querybuilder/bootstrap`](https://www.npmjs.com/package/@react-querybuilder/bootstrap) may be useful in this situation. You ca

[2021-12-15 20:32] jakeboone02 commented on #249
If you're trying to display the combinator selectors for each group between the rules instead of in the group header, then you can use the `showCombinatorsBetweenRules` prop. That will display a combinator selector between each pair of rules, but the combinator must still be the same within each group (e.g. changing one combinator from 'and' to 'or' will change _all_ the sibling combinators in tha

[2021-12-15 21:29] muaragon commented on #249
Thank you for your response!

I don't want to display a combinator selector between each rule, only a label for the boolean value. I plan to keep the combinator selector at the top level of a group as shown in the updated Figma screenshot.

Do you think this can only be achieved by overriding the RuleGroup?

[2021-12-15 21:56] jakeboone02 commented on #249
Do you just want to reorder the elements in the group header, to put the combinator selector on the far right? If so, v4 will be able to help you out there as well. All the default styles in v4 are based on flexbox, so you can reorder elements with CSS.

[2021-12-15 22:07] muaragon commented on #249
I want to show ("OR" , "AND") text labels between rules and ruleGroups. To do this, I need access combinator values, but I am not sure what is the best place to extract them.

![image](https://user-images.githubusercontent.com/86376904/146272192-7789065d-d6b4-4883-94fa-48c6c638812d.png)

[2021-12-15 22:23] jakeboone02 commented on #249
Oh, I think I see now -- you want the actual combinator selector to be in the group header like normal, but _also_ want the combinator label to show between rules? Hmm...I wouldn't want you to have to override the `RuleGroup` component just for that. Let me think about it a bit.

[2021-12-15 23:32] jakeboone02 commented on #249
@muaragon - I think I have something like what you want working here:  https://codesandbox.io/s/react-querybuilder-multi-combinator-dfib7?file=/src/App.tsx

It's a little convoluted, but it's definitely better than overriding the entire `RuleGroup` component.

Note: this uses `v4.0.0-beta.7` which internally relies on `path: number[]` instead of `id: string`, but the same can be done with `v3.12.1

[2021-12-15 23:45] jakeboone02 commented on #249
Actually, never mind about v3.12.1. The method used in that codesandbox only works in v4 because v3 doesn't pass down the group's `id` to subcomponents (like v4 passes down the `path`).

[2021-12-15 23:51] muaragon commented on #249
It looks almost exactly to what I want!

I notice that the labels are not independent when selecting a combinator in the group header, is it possible to use the independentCombinators flag for this logic as well?
Thanks!

[2021-12-16 00:32] jakeboone02 commented on #249
If you specified `independentCombinators`, you'd have to decide what the behavior would be. What would you want to happen if the combinator selector in the group header was changed? Would it reset all of that group's independent combinators to the same value? What value would the group header combinator selector display if you had multiple values for independent combinators within that group? Also

[2021-12-16 20:15] muaragon commented on #249
I don't want the combinator selector in the group header to reset any of the previous combinator. I only want it to alter new combinators. Do you think this is possible?

Thank you for all of your help so far!

[2021-12-16 22:13] jakeboone02 commented on #249
Like this?  https://codesandbox.io/s/react-querybuilder-default-independent-combinators-fyvki?file=/src/App.tsx

[2021-12-16 22:29] muaragon commented on #249
Yes!
I added the "CombinatorLabel" that you provided me in the previous Sandbox and this is the exact functionality that I was looking for. I really appreciate your help and thank you for creating this library!

[2021-12-16 22:31] jakeboone02 commented on #249
Great! Glad to help. (BTW I'm not the original creator, just the lone remaining maintainer.)

[2021-12-16 22:31] #249 closed, assigned to nobody

[2021-12-20 05:41] zukilover commented on #244
@jakeboone02 I really appreciate your effort on this enhancement. Although, utility functions will not really add that much of an improvement because we can actually do that per implementation basis without having to expose those abilities from within the library.

I would really like to help with the `ref` approach, that in my scenario will not only add enhancement to the library but also solve a

[2021-12-20 08:40] jakeboone02 commented on #244
Yeah, it's probably better to wait to address this until after 4.0 is released, anyway. Lots of churn in the codebase at the moment.

[2021-12-22 15:13] #236 closed, assigned to nobody

[2021-12-22 15:28] mylawacad opened #256 "Query Formatter for Mongo seem to be not parsable into js object"
Hi

At the moment queries formatted with `const testMongoQueryStr = formatQuery(item, 'mongodb')` can not be further parsed with JSON.parse() i.e `const mongoQueryParams = JSON.parse(testMongoQueryStr )`  and  so are throwing an error if you would try to use it as a part of mongoDb query.

As an example please take a look at this test in the repo. As far as I understand this needs to be an object

[2021-12-22 18:06] jakeboone02 commented on #256
Thanks for the report, @mylawacad. The `"mongodb"` format was a contributed feature (#214), and since I didn't have much experience with MongoDB I took it on faith that the export format was valid without testing against a real implementation. I think it would be good to revisit the feature and include any changes as part of the upcoming v4.0.

First we need to decide if the output should be a val

[2021-12-23 18:01] mylawacad commented on #256
Hi @jakeboone02

Thank you for taking a look and for the explanation.  I just made a PR to at least make the resulting string to be parsable by JSON.parse() i.e be a valid JSON. Agree with you that it should be more nice if `formatQuery()` would return an object rather then a string for the mongodb case.

Regarding the numeric type field - yes, I saw yesterday in the code that there is no number t

[2021-12-23 18:47] jakeboone02 commented on #256
Thanks for the PR! I think I'll implement Option 3 as you suggest.

[2021-12-23 22:31] jakeboone02 opened #259 "Use `valueProcessor` in `formatQuery` when type is "mongodb""
Use valueProcessor in `formatQuery` when type is "mongodb".

_Originally posted by @jakeboone02 in https://github.com/react-querybuilder/react-querybuilder/issues/256#issuecomment-1000473114_

[2021-12-24 11:04] #256 closed, assigned to nobody

[2021-12-24 12:22] #259 closed, assigned to nobody

[2021-12-28 14:41] phrilrm opened #263 "Multiple rule buttons to allow dynamic fields list"
Thanks for creating this great library!

Not sure if the title describes my issue effectively but I hope I can here.
I have a situation where I would like to filter the fields array on a per-rule basis. That's to say, if I would like to be able to have two different rule buttons, which would add a rule with different field values. One way I imagined doing this was by adding another rule button via

[2021-12-28 19:13] jakeboone02 commented on #263
Yeah, there are definitely a few ways you could achieve what you're trying to do. The first option, with the extra "Add Rule" button, is doable but requires more manual query management. For example, instead of calling the `handleOnClick` prop from the new button, you would call an external, custom function that takes the existing query object and adds a new rule with the appropriate `field` pre-s

[2021-12-28 23:47] #234 closed, assigned to nobody

[2021-12-29 10:12] phrilrm commented on #263
Thank you very much for your detailed answer! I actually think the second example is the way to go. Much more simple. I was pretty much able to reuse your code in the codesandbox example above, which saved me a few hours! 👍 But it is great to hear that the library is flexible enough to do it both ways. Thanks again! 🙏

[2021-12-29 15:18] jakeboone02 commented on #263
That's great to hear. Happy New Year!

[2021-12-29 15:19] #263 closed, assigned to nobody

[2022-01-09 23:44] alexandernst commented on #204
Hey @jakeboone02 ! Sorry for the long delay in the response; took some vacations (holidays and so). I tested the 4.0 and everything looks good! The dnd bug is completely gone. I have just one small complaint about breaking compatibility on the format level, but I'll open a new bug for that.

Kudos for the great work!

[2022-01-10 00:12] alexandernst opened #267 "Breaking change in data structure"
I just had the chance to test the 4.0 and everything looks amazing! I'm sorry I couldn't test the beta 7 and 8 and keep providing feedback.

Anyways, as I mentioned [here](https://github.com/react-querybuilder/react-querybuilder/issues/204#issuecomment-1008448385) I have one small complaint about the 4.0: the (imho unnecessary) breaking change in the data structure of the rules. (now `rules` is an

[2022-01-10 02:31] jakeboone02 commented on #267
Hi, @alexandernst. Thanks for the compliment! It was a lot of work to get 4.0 ready for release and I appreciate your feedback.

Much of the work, however, was done to _ensure_ backwards compatibility and actually leave the "legacy" behavior as the default. The new data structure is completely optional. As long as the `independentCombinators` prop is missing or `false`, and the `query` prop (or `d

[2022-01-10 10:47] alexandernst commented on #267
Oh, I didn't express myself properly, sorry for that. I was talking about the data structure when used in conjunction with the `independentCombinators` prop set to `true`.

When said parameter is set to `true` the data structure changes to what I described in my previous comment. This could have been avoided as the visual representation of the rules shouldn't affect the data structure.

Let me use

[2022-01-10 10:51] alexandernst commented on #267
Updated the comment with some clarifications.

[2022-01-10 16:13] jakeboone02 commented on #267
Ah, OK. I see what you're saying now. Actually I should have gleaned what you were trying to say from your previous threads.

I think grouping the `and/or` chains like you suggest has a couple of problems. For one, it would be harder to manage internally, and may be harder in userland as well. For example, consider the following `WHERE` clause:

[code]

In the legacy format, we would have to repre

[2022-01-10 17:21] alexandernst commented on #267
Oh, now I see your point about keeping the "state" of the UI inside the data structure. Yes, that makes sense. There might be cases in which users might want to explicitly create a subgroup, even if the "logical" representation of the entire set of conditions would be the same without the group.

Yes, a two-way function would be the ideal way to go from here, imho. That way we get to pick the good

[2022-01-10 17:57] jakeboone02 commented on #267
Great! I'll get started on the converter function and let you know when you can test it out.

[2022-01-11 01:09] jakeboone02 commented on #267
@alexandernst I threw together PR #268 which exports a new utility function called `convertQuery`. You can see it in action in [this codesandbox](https://codesandbox.io/s/react-querybuilder-convertquery-7nk2f?file=/src/initialQuery.ts), where `initialQuery` is created as a legacy type (`RuleGroupType`), but `initialQueryIC` is created as `RuleGroupTypeIC` (the new type) by simply passing `initialQ

[2022-01-11 13:00] alexandernst commented on #267
wow!! That was fast! Ok, let me try it

[2022-01-11 15:39] jakeboone02 commented on #267
Yeah, I already had most of the logic down since the `parseSQL` function does pretty much the same thing, so I just adapted it from SQL strings to rule groups.

[2022-01-11 16:59] alexandernst commented on #267
@jakeboone02 I finished testing the PR. Everything is working as expected. Only 3 small notes.

1. Maybe it would be a good idea to add a helper method that could detect if the passed query is "normal" or "IC". Basically, `return 'combinator' in query` hidden behind a method, just to make it easier for users.
2. `convertFromIC` puts the `combinator` key at the bottom of each rule object, instead o

[2022-01-11 21:48] jakeboone02 commented on #267
OK, 1 and 3 are implemented. `convertFromIC` and `convertToIC` as well as `isRuleGroupType` and `isRuleGroupTypeIC` are all exported now.

As for 2, this is return statement for `convertFromIC`:

[code]

The `combinator` comes before the rules, so I think what you're seeing has something to do with the way `JSON.stringify` orders object properties. I've noticed in the past that the `combinator` an

[2022-01-11 22:00] alexandernst commented on #267
Great!! Then it all looks good to me :)

Ready to 🚢

[2022-01-11 23:41] #267 closed, assigned to nobody

[2022-01-12 00:35] alexandernst commented on #267
Btw, should I expect the 4.2.0 soon or do you have in mind adding more stuff?

[2022-01-12 06:24] jakeboone02 commented on #267
[v4.1.2](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.1.2) 🚀

[2022-01-18 14:05] balboFK opened #270 "Vitest error with react-querybuilder on tests"
Hello everyone!
I'm migrating my tests from _jest_ to _vitest_ and one of my Components is a custom implementation of the react-querybuilder.

When I was using jest and version `3.12.1`, everything ran fine as allways.
Now I seen to have landed on a double header:

- migrating from jest to vitest
- migrating 'react-querybuilder' from `3.12.1` to `4.1.2`

So the error I get when running the tests n

[2022-01-18 16:07] jakeboone02 commented on #270
Hey, @balboFK, can you create an minimal example repo that demonstrates the issue you're having with 4.1.2? I haven't heard of any similar problems with that version, and it appears to work fine on our [CI codesandbox](https://codesandbox.io/s/oq8ts).

I just heard about vitest yesterday, actually. Looks promising and yes, I'll definitely consider it for this library since we're already using vite

[2022-01-18 16:25] balboFK commented on #270
Hey @jakeboone02 thanks for the reply.
Take a look at this :
https://stackblitz.com/edit/vitest-dev-vitest-ffvyhj?devtoolsheight=33&file=src/App.test.tsx

Just run `yarn test` and watch the console.

[2022-01-18 16:43] balboFK commented on #270
I think I might have found what could be the issue.

On react-querybuilder package.json your main is exporting as 'dist/index.umd.js'
![image](https://user-images.githubusercontent.com/87539237/149979765-2f26050f-0a7f-485f-9c33-e71e1dbc0a29.png)

And on the folder for dist this file is named as 'index.cjs.js'
![image](https://user-images.githubusercontent.com/87539237/149979935-a38925c7-a420-4058-

[2022-01-18 17:14] jakeboone02 commented on #270
Yeah, that must be it! The `umd` name was probably just left over from the previous parcel-based build process. I'll get a v4.1.3 out today to fix it.

[2022-01-18 17:19] balboFK commented on #270
Thanks @jakeboone02!
I'll wait for it and update the StackBlitz i just sent to see if fixes it.
I tried changing it locally on my machine, it fixed the error but new ones showed up, but it might be my fault.

[2022-01-18 20:31] jakeboone02 commented on #270
@balboFK - [v4.1.3](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.1.3) has been released.

[2022-01-18 20:34] balboFK commented on #270
I'll take a look at it tomorrow and update the Stackblitz to see if it's fixed!
If it is, i'll close this one.
Thanks!

[2022-01-19 19:55] jakeboone02 commented on #143
For anyone coming to this page via a search engine, we now have an [IE11-compatible demo page](https://react-querybuilder.js.org/react-querybuilder/ie11.html).

[2022-01-20 08:34] amaleszewski opened #273 "queryString export is missing"
Hello! I have a question. Is there a possibility to add `queryString` export option? I need it at most, because I can OOTB make from it a query to SQL database using Entity Framework (.NET on backend). I don't want to pass SQL nor parametrized SQL, because it makes a vulnerability of passing a SQL injection attack.

Example of what I expect from similar library to yours: https://github.com/ukrbubl

[2022-01-20 12:57] balboFK commented on #270
Hey @jakeboone02, sorry for the delay!
I was able to test it today and I found another issue.
I got the bellow error when testing my CustomQueryBuilder component that uses the react-querybuilder.

[code]

I think it's maybe because we are both using react-dnd in our projects?
Also this CustomQueryBuilder is not using react-dnd anywhere in fact it's only dependencies are react-querybuilder.
It's al

[2022-01-20 17:23] jakeboone02 commented on #273
Hi, @amaleszewski. I'm struggling to understand the "why" of the `queryString` output format. It doesn't seem to be any standard format I've ever come across. Some sort of pseudo-SQL, maybe? How does that help with either storage or execution of queries?

Can you describe your particular use case? The `formatQuery` function is fairly versatile, and we can add other export formats if there's demand

[2022-01-20 18:07] jakeboone02 commented on #270
I tried adding `react-dnd` to [this CodeSandbox](https://codesandbox.io/s/hardcore-shtern-23y5k?file=/src/App.tsx) which also has `react-querybuilder`, but it didn't seem to cause any problems.

[2022-01-21 20:54] #244 closed, assigned to nobody

[2022-01-24 20:18] kyrylostepanchuk opened #276 "Including react-querybuilder in a drag-n-drop application causes errors of "Cannot have two HTML5 backends at the same time.""
Hello,

We are trying to use react-querybuilder in a React application that also uses Drag-N-Drop (via react-dnd).

Unfortunately, including react-querybuilder causes an infinite loop of errors of `Cannot have two HTML5 backends at the same time.`. We have attempted a workaround of overriding the `rootElement` of our application's `DndProvider`, but that seems to break drag-n-drop into react-query

[2022-01-24 22:46] jakeboone02 commented on #276
Hi, @kyrylostepanchuk! I've been concerned about that situation ever since I implemented drag-and-drop (and I tried to replicate the issue with no luck -- see [this comment](https://github.com/react-querybuilder/react-querybuilder/issues/270#issuecomment-1017778885)).

Anyway, thank you so much for the link to the potential solution! I would definitely consider a PR that implemented something like

[2022-01-25 15:55] kyrylostepanchuk commented on #276
I'll try making a diff 👍

[2022-01-25 16:53] jakeboone02 commented on #276
GitHub tells me this is your first-ever issue. Would you like some instructions on how to do a proper pull request, so you can get credited in the commit history?

[2022-01-25 18:23] kyrylostepanchuk commented on #276
I can forego the credit, but I'll let you know if my bitbucket workflow would easily translate. Diff first :)

[2022-01-25 18:27] jakeboone02 commented on #276
Sounds good. Thanks again!

[2022-01-26 00:36] jakeboone02 opened #278 "Provide official support for field selectors as value editors"
- [x] Work out the appropriate API, i.e. new properties on `Field` and `RuleType` (or maybe just a new `ValueEditorType`..."fieldSelector"?)
  - Needs to be able to group/filter fields by arbitrary attribute(s) (maybe a filter function? e.g. `includeFieldInList: (f: Field) => boolean`)
- [x] Implement support in `formatQuery`/`valueProcessor`
- [x] Implement support in `parseSQL`
  - Require a fie

[2022-01-30 21:44] jakeboone02 commented on #276
@kyrylostepanchuk - sorry to pester, but do you have an ETA on the diff? I'm close to releasing v4.2.0 and would like to include a fix for this bug.

[2022-01-30 22:40] jakeboone02 opened #280 "Add limited support for wildcards concatenated to field names in `parseSQL`"
When a SQL `WHERE` clause includes the `||` concatenation operator on the right-hand side, `sqlParser.js` throws a "parse error" because it finds `|` instead of something else it expected (which, strangely, includes `||`).

Seems like a problem with the [jison spec](https://github.com/react-querybuilder/react-querybuilder/blob/a5ffa04a83508cfe8950043b5be692f4d8d00c9a/packages/react-querybuilder/sr

[2022-01-31 07:09] jakeboone02 commented on #270
FYI, the "two HTML5 backends" issue should be resolved in the next version (v4.2.0). Watch #276 for progress.

[2022-01-31 13:37] balboFK commented on #270
Hey @jakeboone02, thanks for the information!
I was really loaded with stuff and forgot to reply to you.
I'll follow the progress on the issue you linked.
When it's fixed we can close this one aswell, or do we close it now?

[2022-01-31 14:34] kyrylostepanchuk commented on #276
@jakeboone02
Hi Jake,

This is as far as I was able to get. I was testing it in our application, and working through an issue ("item cannot be undefined"), when I got diverted. Maybe I'm missed something obvious 🤷

Diff inside zip:
[react-qb-dnd.zip](https://github.com/react-querybuilder/react-querybuilder/files/7971501/react-qb-dnd.zip)

[2022-01-31 16:14] jakeboone02 commented on #270
Yeah, I'll close this one since the original issue was resolved in v4.1.3.

[2022-01-31 16:14] #270 closed, assigned to nobody

[2022-01-31 21:42] #278 closed, assigned to nobody

[2022-01-31 22:10] jakeboone02 commented on #276
@kyrylostepanchuk I implemented your suggested fix in #282 (also, I hope you don't mind, I marked the commit as co-authored by you -- I can undo that if you want).

Can you fork [this codesandbox](https://codesandbox.io/s/react-querybuilder-ci-idb7u) (it uses the new code), try to recreate the scenario and see if the problem is resolved?

[2022-02-01 15:27] kyrylostepanchuk commented on #276
https://codesandbox.io/s/react-querybuilder-ci-forked-jrjn6 seems to function correctly. I wrapped the outermost div in a DndProvider and the sandbox is able to run correctly.

[2022-02-01 16:12] jakeboone02 commented on #276
Great! I'll merge the PR. Thanks again for all your help!

[2022-02-01 16:13] #276 closed, assigned to nobody

[2022-02-02 06:57] jakeboone02 commented on #192
@enzoampil in case you're still interested, please see the update to my comment above.

[2022-02-03 21:17] kyrylostepanchuk commented on #276
@jakeboone02 I just tested the latest 4.2.0 version with our application, and it seems to have worked. Many thanks! One last piece that was missing was involving our own webpack configuration. It may be due to the way dependencies are pulled in by npm (react-querybuilder would have its own copy). This was the fix:

react-dnd/react-dnd#3349

Our webpack config had to include this section to import

[2022-02-24 11:41] vidyashreen1991 opened #285 "The fieldSelector as a controlled component is not working"
On changing the field is not updating the value in the query

https://github.com/react-querybuilder/react-querybuilder/issues/285#issue-1149185085

[2022-02-24 15:56] jakeboone02 commented on #285
Hi @vidyashreen1991, can you provide a codesandbox or other reproduction of the issue? Feel free to use [this](https://codesandbox.io/s/react-query-builder-starter-template-1t0gnn?file=/src/App.tsx) as a starting point.

[2022-02-25 04:49] vidyashreen1991 commented on #285
Here is the exact issue what we are facing.
Once after adding 3 rules, if we remove the second one, third rule is getting removed

https://codesandbox.io/s/react-query-builder-starter-template-forked-ktdlvb?file=/src/FieldSelector.tsx

[2022-02-25 16:13] jakeboone02 commented on #285
There were two problems with your custom `FieldSelector` component: 1) there was no `key` prop defined for the looped `<option>` elements, and 2) there was no `value` prop on the `<select>` element.

Fixed version [here](https://codesandbox.io/s/react-query-builder-starter-template-forked-otz6hi?file=/src/FieldSelector.tsx).

[2022-02-28 17:50] brianbattenfeld opened #286 "'RuleGroupType' is not exported from 'react-querybuilder'"
Installed and followed Basic Usage, but getting
`Attempted import error: 'RuleGroupType' is not exported from 'react-querybuilder'.`

Component contents below:

[code]

[2022-02-28 18:02] jakeboone02 commented on #286
Hi, @brianbattenfeld. I copied your code into [this codesandbox](https://codesandbox.io/s/react-query-builder-286-rfozfk?file=/src/Reporting.tsx). To make it work, all I had to do was add `import { useState } from 'react'`. I also applied the Bootstrap `controlElements` and `controlClassnames` props.

If you can reproduce the exact error somewhere like codesandbox or stackblitz or where ever, that

[2022-03-01 02:50] brianbattenfeld commented on #286
my project was is not using typescript, and that appears to have been the root of this problem.

[2022-03-01 02:50] #286 closed, assigned to nobody

[2022-03-01 02:57] jakeboone02 commented on #286
Ah, that makes sense.

[2022-03-11 18:42] kculmback-eig opened #289 "Override Chakra UI component props"
Would there be any interest in a PR that would allow users to override props for the Chakra Control Elements? This would allow greater control of styling without having to write some custom CSS.

Would look something like this in usage:

[code]

And the component:

[code]

Alternatively in the component you could do something like this:

[code]
The main benefit would be allowing the user to do `<C

[2022-03-11 18:59] jakeboone02 commented on #289
Yeah, I've considered adding something like that. If we did add a way to pass other props, I'd like it to be as generic as possible (with a name like `extraProps` maybe?) so that the main package as well as all the compatibility packages could take advantage of it.

[2022-03-11 19:38] kculmback-eig commented on #289
Something like this could work:

[code]

[code]

[2022-03-11 19:45] jakeboone02 commented on #289
Yeah that's more like it. Want to start a PR with the basic modifications and we can collaborate on the final changes?

[2022-03-11 21:07] kculmback-eig commented on #289
Sounds good @jakeboone02 . Probably won't be until early next week that I'm able to get the start of the PR in

[2022-03-11 21:45] jakeboone02 commented on #289
No problem. I'm travelling next week so I'm not sure how much I'll be able to do anyway.

[2022-03-23 21:12] dzmitry-lahoda opened #291 "export google common expression language"
nice to see this project allows me SQL and json (in various subforms). and it is clear that will not support all databases possible

But, it would be awesome to see performance and security-sensitive export into https://github.com/google/cel-spec  https://github.com/google/cel-go . it supports in/exists/has but is limited to being fast (probably its regex are also only linear forward to avoid perf

[2022-03-23 21:23] dzmitry-lahoda opened #292 "add rule-builder tag"
https://ui-patterns.com/patterns/rule-builder

[2022-03-24 16:16] jakeboone02 commented on #291
Hi, @dzmitry-lahoda. I'm not 100% sure what you're requesting here. Is it to provide a CEL-compatible export format? Or to limit the structure of rules to those allowed by CEL?

Also, looks like this is Go-centric for now? They [explicitly rule out a JavaScript implementation](https://github.com/google/cel-go#why-not-javascript-lua-or-wasm).

[2022-03-24 16:19] jakeboone02 commented on #292
Are you asking that a `"rule-builder"` tag be added to the [npm package page](https://www.npmjs.com/package/react-querybuilder)? If so, you could open a PR to add that to the `keywords` field in [package.json](https://github.com/react-querybuilder/react-querybuilder/blob/main/packages/react-querybuilder/package.json).

[2022-03-24 16:46] dzmitry-lahoda commented on #292
oh, on github page.

[2022-03-24 16:48] dzmitry-lahoda commented on #292
but package could be too

[2022-03-24 16:50] jakeboone02 commented on #292
Added to the GitHub page. Thanks for the suggestion!

[2022-03-24 16:54] dzmitry-lahoda commented on #291
1. target cel. cel is less powerfull than sql. that may require adding restriction to editor to make sure if user chooses cel, he does not click on incompatible buttons.
2. they ruled out running wasm or js vm to be used as rule engine. wasm and js are turing complete and that is security risk for cel use cases. cel interpeters exist for go, java, rust. i think may be there is written lib in ts to

[2022-03-24 16:55] dzmitry-lahoda commented on #291
they ruled out running js code as rule engine, but not that implementing runner in wasm or js.

[2022-03-24 17:15] jakeboone02 commented on #291
So would there be two requests, one for a CEL export, and another for an option to limit the functionality of the query builder such that the rules don't violate the CEL spec? Maybe an `enforceCEL` boolean prop or something like that?

(Also, did you close this issue on purpose? Feel free to reopen it if that was an accident.)

[2022-03-24 17:30] dzmitry-lahoda commented on #291
oh. sorry. my pocket closed issue. yeah. export is best. restricting i less needed and more simpler to do.

[2022-03-24 17:38] dzmitry-lahoda commented on #291
and yes. i researched several market products for feature gates. seems cel looks best to beat launchdarkly as market leader(it has no secure hiearchical and/or). it lacks query builder:) (they have some ugly flat rules not so composable)

[2022-03-24 18:18] #292 closed, assigned to nobody

[2022-03-24 18:32] jakeboone02 commented on #291
This looks like it wouldn't be too much work, as long as we only try to support a reasonable subset of the CEL spec. This library isn't great at handling things like functions (`f(x)`) and maps (`{ k: v }`) yet, but lists (`[a, b]`) are probably doable.

[2022-03-24 19:02] dzmitry-lahoda commented on #291
the bare minimum is awesome I guess. it will be ♾️ better than nothing:) . function and maps are not so needed (or it can be commercial extensions for enterprise)

[2022-03-25 19:46] jakeboone02 commented on #291
I've been searching around for as many examples of CEL as I can find, and either my google-fu is failing me or there just aren't a lot of examples of CEL in the wild. The language spec is ok, but it doesn't really show CEL _in action_.

I think I can translate basic rules pretty easily, like these:

<table>
<thead><tr><th>react-querybuilder rule</th><th>CEL</th></tr></thead>
<tbody>
<tr><td><code>

[2022-03-28 08:03] dzmitry-lahoda commented on #291
I saw some descriptions of the language in the go codebase, but not samples.

I found some examples in java tests
https://github.com/projectnessie/cel-java/blob/main/core/src/test/java/org/projectnessie/cel/parser/ParserTest.java

as per grammra, it seems that

https://github.com/thesayyn/cel-js/blob/71b8280b57cac113930724d20c892ef8b349975f/src/parser/gen/CEL.g4#L49

[code]
is
[code]
for negation

[2022-03-28 08:04] dzmitry-lahoda commented on #291
list example with in https://github.com/projectnessie/cel-java/blob/b64de4e41d66a07888c7d9262735bf909915ff8c/core/src/test/java/org/projectnessie/cel/parser/ParserTest.java#L1028

[2022-03-28 08:08] dzmitry-lahoda commented on #291
between - yeah, seems >= <=

more tests https://github.com/google/cel-cpp/blob/master/parser/parser_test.cc (so these looks similar to java version)

[2022-03-28 14:40] dzmitry-lahoda commented on #291
https://cloud.google.com/iam/docs/configuring-resource-based-access

(just googled https://www.google.com/search?q=iam+OR+RBAC+OR+ABAC+cel&oq=iam+OR+RBAC+OR+ABAC+cel&aqs=chrome..69i57.13555j0j1&sourceid=chrome&ie=UTF-8)

[2022-03-28 15:56] jakeboone02 commented on #291
Awesome! Thanks so much for finding those. Looks like I was right with the `list` syntax after all. I'll use `!` for negation and break `between`/`notBetween` into two rules, and that should cover everything we currently support.

[2022-04-04 17:08] #291 closed, assigned to nobody

[2022-04-04 17:10] jakeboone02 commented on #291
This is now merged into the `main` branch. I'll publish v4.2.3 with the new functionality later today.

[2022-04-05 05:28] jakeboone02 commented on #291
[Published](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.2.3)!

[2022-04-07 15:51] #285 closed, assigned to nobody

[2022-04-08 21:33] dzmitry-lahoda commented on #291
where i can send 3 DOT?:)

[2022-04-08 22:05] jakeboone02 commented on #291
You're very kind! First time I'm doing this...let's see if this works:

[code]

[2022-04-25 13:35] dzmitry-lahoda commented on #291
found CEX to get DOT. in process :)

[2022-04-30 02:15] rvprasadreddy opened #297 "Unable to generate SQL query using between & not between operator"
I am not able to generate SQL query for all operator except "between" & "not between" operators.  As when we select between/not between   operators then query is not adding the operator and inputed value in text box.

Please guide me to use/configure rightly if i am missing someting.

[2022-04-30 07:31] jakeboone02 commented on #297
See [the "automatic validation" documentation](https://react-querybuilder.js.org/docs/api/export#automatic-validation).

When a rule uses the `"between"` or `"notBetween"` operator, the SQL-based export formats will skip the rule if it doesn't evaluate to two elements. This is done in an attempt to avoid generating invalid SQL.

The rule's `value` must either be an actual array with exactly two el

[2022-05-06 09:56] syama-aot opened #299 "adding subfileds"
Recently i started working on react-querybuilder, we need sub filed inside one label . Is it possible

Like -- profileReview
          Under this --- > I need 2 more labels like initial screening, etc

[2022-05-06 17:11] jakeboone02 commented on #299
Hi, @syama-aot. Can you elaborate a little? I'm not exactly sure what you're requesting.

The documentation site has a few [tips and tricks](https://react-querybuilder.js.org/docs/category/tips--tricks) that may help.

[2022-05-12 13:56] syam5492009 opened #300 "Is there any way to change autoSelectField label"
First of all I would like to thank you for providing us a great  library.
Is there any possibility to change the autoselectfield  label ------ from some custom text. (If I choose autoSelectField false)

[2022-05-12 14:50] jakeboone02 commented on #300
Not currently, unfortunately, but I'll put a version out shortly that will add that option. Perhaps even later today.

Thanks for the suggestion. I'm mad that I didn't think of that when I added the `autoSelectField` prop!

[2022-05-12 19:10] jakeboone02 commented on #300
@syam5492009, I just released [v4.2.5](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.2.5) which adds a couple of new options to the `translations` prop. To change the label for the placeholder field, set the `fields.placeholderLabel` property in the `translations` prop, like this:

[code]

Documentation for the `autoselectfield` prop has also been updated -- see [here](h

[2022-05-13 02:47] syam5492009 commented on #300
Thanks for the update.

On Fri, 13 May 2022, 12:40 am Jake Boone, ***@***.***> wrote:

[2022-05-13 05:29] #300 closed, assigned to nobody

[2022-05-17 06:08] AnwinShaji opened #302 "Is there any way to hide already selected filter value"
Hi,
I'm new to this queryBuilder. In my project I need to hide already selected field value from the dropdown.

Eg: If i select field as "Country"  and value a "US", the next time I select field as "Country" then show the dropdown without US in that list

[2022-05-17 06:43] jakeboone02 commented on #302
Hmm, so you need each rule value to be unique for each field? That will probably require a custom `ValueEditor` component, but only to limit the options and not for the actual rendering. Let me see what I can come up with.

[2022-05-17 08:36] #299 closed, assigned to nobody

[2022-05-17 16:41] #280 closed, assigned to nobody

[2022-05-17 18:48] jakeboone02 commented on #302
OK, I think I've got something that will work for you. ~~A [demo codesandbox is here](https://codesandbox.io/s/react-query-builder-unique-rule-values-jjgevu?file=/src/App.tsx).~~

_Updated sandbox 2025-03-27: https://codesandbox.io/p/devbox/8mc4lz?file=%2Fsrc%2FCustomValueEditor.tsx_

Of note:

- I set the `controlElements.addGroupAction` prop to a function that always returns `null`. This forces

[2022-05-18 01:05] jakeboone02 commented on #289
@kculmback-eig I went ahead and implemented this without the indirection of a new prop. Any props that can be passed to the style library's component will be accepted by the RQB compatibility component (and will override the defaults).

So, for example, the `@react-querybuilder/chakra` component `ChakraActionElement` will now accept any props that `Button` from `@chakra-ui/react` will accept, and

[2022-05-18 08:54] AnwinShaji commented on #302
Hi @jakeboone02 , thanks for the fast reply and helping me on this.

[2022-05-18 08:54] #302 closed, assigned to nobody

[2022-05-18 15:41] syama-aot opened #305 "How to avoid default operator and default value setting"
Hi,
its a awesome package that i have seen recently.In my application, based on selection of field, I want to select operator and after selection of operator , I want to show the value editor to select values. Is it possible to show only field select box (after adding a new rule ) without operator select box and value select box

[2022-05-18 16:10] jakeboone02 commented on #305
It seems like you're asking for two different things: 1) for new rules, only show the field selector at first (hide the operator selector and value editor), and 2) don't show the value editor until the user selects an operator.

The answer to (1) is yes: just use the `autoSelectField={false}` prop ([documentation](https://react-querybuilder.js.org/docs/api/querybuilder#autoselectfield), [demo](htt

[2022-05-18 16:16] jakeboone02 commented on #305
Actually it was pretty easy to implement both techniques, so I created [this codesandbox](https://codesandbox.io/s/react-query-builder-dependent-value-editor-mpmxg5?file=/src/App.tsx) to demonstrate. Here is the code:

[code]

[2022-05-19 01:21] #305 closed, assigned to nobody

[2022-05-19 01:25] jakeboone02 commented on #305
I got inspired by your request and actually implemented a new prop called `autoSelectOperator` that works like `autoSelectField` but for operators (see #306). So, in the next release, all you'll have to do is this:

[code]

[2022-05-19 06:46] #289 closed, assigned to nobody

[2022-05-19 06:59] syama-aot commented on #305
Thank you very much

You are awesome.

On Thu, May 19, 2022 at 6:55 AM Jake Boone ***@***.***> wrote:

[2022-05-19 12:46] syama-aot opened #307 "Is there any support of adding multi range slider"
It was an immense pleasure to work with your library.

Is it possible to add a multi-range slider to the library?

I have my custom multi-range slider component. But I am unable to add that to your library.

Can you provide me with a sandbox with a multi-range slider example?

[2022-05-19 13:32] jakeboone02 commented on #307
Multi-value sliders aren't available as native HTML5 inputs, so I wouldn't want to add it to the base library. Are you using one of the compatibility packages? I might consider adding it to those.

Can you point me to an example implementation of the slider you would like to use?

[2022-05-19 13:56] syama-aot commented on #307
I have used this sandbox for multi range slider

https://codesandbox.io/embed/multi-range-slider-react-js-ecwcr?fontsize=14&hidenavigation=1&theme=dark&view=preview

On Thu, 19 May 2022, 7:02 pm Jake Boone, ***@***.***> wrote:

[2022-05-19 18:33] jakeboone02 commented on #307
You got that component from [this article](https://dev.to/sandra_lewis/building-a-multi-range-slider-in-react-from-scratch-4dl1), right? I think there are a few things wrong with it, like setting state inside a `useEffect` hook. I would recommend using a different component.

I found [react-ranger](https://github.com/tannerlinsley/react-ranger), which has hooks for making your own range slider. [H

[2022-05-20 08:30] AnwinShaji opened #309 "Issue with Search Params URL in multi select"
Hi,

While I'm using multiselect, I cannot set rules.value[ ] in search params. I tried to get this values with map function also. But in URL I'm getting it as object+object.

[2022-05-20 13:41] jakeboone02 commented on #309
Can you provide a reproduction, perhaps on CodeSandbox? You can use [this template](https://codesandbox.io/s/1t0gnn) as a starting point.

[2022-05-20 17:29] syam5492009 opened #310 "Is it possible to add all my filters in url search params"
Suppose if I add locations multi select , I want to use all values in search params like locations=india,sa,us,..etc&firstname=raj&exp=4
When I refresh the page , I want to load the filter query with all search params values.

[2022-05-20 18:16] jakeboone02 commented on #310
We use the [query-string package](https://www.npmjs.com/package/query-string) to manage the hash values in the [demo](https://react-querybuilder.js.org/react-querybuilder/) ([code here](https://github.com/react-querybuilder/react-querybuilder/blob/main/packages/demo/src/main.tsx#L115)). I'm not sure how well it would handle a deeply nested JSON object like an RQB query, but that's where I would st

[2022-05-20 18:17] jakeboone02 commented on #309
You might take a look at the [query-string package](https://www.npmjs.com/package/query-string).

[2022-05-25 05:32] AnwinShaji commented on #309
Thank you for providing this

[2022-05-25 05:32] #309 closed, assigned to nobody

[2022-06-01 01:36] jeacott1 opened #314 "how can I set the date picker format?"
Hi,
 is it possible to set a custom date format in the date/time picker? I think all the pickers available have an option, but I'm not sure how to set it when using react querybuilder

thanks.

[2022-06-01 05:10] jakeboone02 commented on #314
Hi, @jeacott1. Are you looking to modify the date format for the `ValueEditor` component from one of the [compatibility packages](https://react-querybuilder.js.org/docs/compat), or the default `ValueEditor`?

The compatibility components have their own requirements and limitations, but if you're just using the default components with `inputType: "date"`/`"time"`/`"datetime-local"` on a field, that

[2022-06-02 00:24] jeacott1 commented on #314
@jakeboone02 thank you! I'm just looking to handle different input formats for different regions so I think the default editor is plenty. thank you for the refs.

[2022-06-02 00:29] jakeboone02 commented on #314
Great! If you're set for now, want to close this issue?

[2022-06-03 03:24] fasiha commented on #215
Thanks for the detailed explanation and code @jakeboone02!

This may seem like a pathological edge case but I'm actually interested: how would you handle the `between` case with two `input`s where *one* of the bounds is a value and the *other* is a field?

I mean, I can figure out how to replace one of the `input`s with a `select`—that's fine, but what I'm scratching my head about is, how can I fi

[2022-06-03 05:02] jakeboone02 commented on #215
Wow, that's very kind of you to say! Thanks so much. I honestly don't get a ton of feedback about this library but at least I tend to assume that means it Just Works™.

Do you need a specific select to be for fields (e.g. just the first one), or should either of the selects be able to handle fields? Like, could you have fields/values, fields/fields, values/fields, or values/values? Or would only a

[2022-06-03 06:11] #314 closed, assigned to nobody

[2022-06-03 06:23] jakeboone02 commented on #134
I wanted to update this issue with some more recent information for anyone that finds the page through a search engine. Almost everything that @bhupesh-sf asked for two years ago is now supported with the default components and standard configurations:

Yes, `placeholder` is now an optional property of the [field object](https://react-querybuilder.js.org/docs/typescript#fields).

Not `required`, n

[2022-06-03 06:34] jakeboone02 opened #316 "Parse (import) more expression formats"
- [x] #323
- [x] #392
- [x] #320
- [x] #663 adds `parseSpEL`

For MongoDB and JsonLogic, `JSON.parse` the first argument if it's a string.

Research: Do any of these have publicly-available AST specs like SQL? (Probably not necessary for ~~JsonLogic~~ and MongoDB since they're already well structured.)
- [CEL](https://github.com/google/cel-spec) / [language definition](https://github.com/google/ce

[2022-06-03 10:45] fasiha commented on #215
The latter: my current implementation of `between` (using a home-grown library) allows users to select field vs value for either/both/neither bound so I’d love to preserve that functionality as I migrate to React Query Builder. Would full generality for `between`/`notBetween` need a big rethink?

Definitely 1000% this! But also the very generous support you provide in these issues makes it that mu

[2022-06-03 12:00] fasiha opened #317 "Support for simple arithmetic on fields?"
I love this library and the love that's gone into writing and maintaining it!

Has anyone ever suggested adding support for simple arithmetic expressions for numeric fields with `field` value source, so that we could express rules like `Price < 1.05 * YesterdayPrice` (where `Price` and `YesterdayPrice` are both numeric fields)?

I'm currently interested in _linear_ scaling (`a * Field`) but no dou