[2022-06-03 19:49] fasiha commented on #317
~I have an update, a caveat, and a follow-up question 😄.~

(Massive edit: I had a proof of concept at https://codesandbox.io/s/lucid-ramanujan-jfqoyh?file=/src/App.tsx and had asked to modify the API for `ValueProcessor` so it's `export declare type ValueProcessor = (field: string, operator: string, value: any, valueSource?: ValueSource, rule?: RuleType) => string;` but based on [feedback](https:/

[2022-06-03 20:09] jakeboone02 commented on #317
You've hit on my biggest regret so far! I wish I had implemented `ValueProcessor` as `(rule: RuleType) => string` (or maybe even `=> any`) when I initially created `formatQuery`. In fact, the default value processors used internally have that signature (see [here](https://github.com/react-querybuilder/react-querybuilder/tree/7aa6097819631a6ff8792dca46ae10678e7d92a6/packages/react-querybuilder/src/

[2022-06-03 20:20] jakeboone02 commented on #215
Thanks again for the kind words! If there are any particularly helpful comments or examples you've come across, let me know in a [new issue for the documentation site](https://github.com/react-querybuilder/react-querybuilder.github.io/issues/new) and I can add a new [Tips & Tricks page](https://react-querybuilder.js.org/docs/category/tips--tricks). (Or if you really want, you can submit a PR to ad

[2022-06-03 20:39] jakeboone02 commented on #317
One more note about the `ValueProcessor` signature before my longer reply: I've considered adding a `ruleProcessor: RuleProcessor` option where `type RuleProcessor = (rule: RuleType) => any`. A `ruleProcessor` would completely override the default rule processing, including the field and operator handling. (Some export formats, e.g. "mongodb", already use the `valueProcessor` this way because the

[2022-06-03 20:46] jakeboone02 commented on #317
_Note: when I refer to RQB "handling" or "supporting" something in this comment, I'm including both the `<QueryBuilder />` React component (particularly the default `ValueEditor`) as well as the `formatQuery` function._

Ok, so...this is actually opening a huge can of worms that I've been pondering for a while now but haven't really had the motivation to think all the way through. I suppose _this_

[2022-06-03 22:32] fasiha commented on #215
Could I follow up on this point: I see how `between` on **values** works by splitting the value on commas, but could I confirm how `between` works on **fields**? I have a minimal example at https://codesandbox.io/s/heuristic-liskov-yyx9k1?file=/src/App.tsx where RQB outputs only the value rule, and ignores the field rule. I'm not sure where my misunderstanding lies.

(And thank you for your enligh

[2022-06-03 23:05] fasiha commented on #317
Thanks to your [superb suggestion](https://github.com/react-querybuilder/react-querybuilder/issues/215#issuecomment-1146331127) I rewrote the proof of concept to just store the scalars in the `value` instead of outside and it works well! https://codesandbox.io/s/sparkling-rain-ewnfvq?file=/src/App.tsx

![image](https://user-images.githubusercontent.com/37649/171964795-6189c50d-474f-45bf-8e7b-b2dd8

[2022-06-03 23:09] jakeboone02 commented on #215
You're not doing anything kooky. The default `ValueEditor` doesn't provide a way to select multiple fields for rules with `valueSource: "field"`, even for the "between" operator. That's why I said `formatQuery` could handle it but slyly avoided saying anything about `ValueEditor`. ;)

The reason it doesn't support that is because RQB would need to become more opinionated, and I don't really want t

[2022-06-03 23:21] fasiha commented on #215
Ahh got it, thanks for bearing with me, makes total sense. This… actually leaves me a bit uncomfortable? In that, the UI allows users to build something that is silently ignored.

But no worries, thanks to your pointers, I now have RQB superpowers and can readily build a `between` for fields!

[2022-06-03 23:37] jakeboone02 commented on #317
Oh good, I'm glad that helped. Once you realize `value` can by anything (it's typed as `any` for a reason), the possibilities really open up.

I appreciate you thinking about my suggestions for handling more complex scenarios. I guess what I really want is to be able to say "yeah, RQB can do that with the right configuration" more than I say "you'll have to use a custom value editor for that." But

[2022-06-04 00:01] jakeboone02 commented on #215
This is definitely a shortcoming of the library. Maybe not a "bug" per se, but something we should address.

Congratulations on your superpowers!  🤣

[2022-06-04 03:30] fasiha commented on #317
I'm personally tentatively fine with adding `ruleProcessor`—tentative because my personal use case is to run the rules in JavaScript so I'm curious to see how hard it is to adapt this approach to JsonLogic (#315), and if it's not hard, maybe I personally won't miss the extra convenience of `formatQuery`.

Also, am I understanding correctly, the hesitation to add an extra argument to `valueProcesso

[2022-06-04 06:05] jakeboone02 commented on #317
The hesitation to add another argument was just based on the eventuality that we would need another, and then another, etc.

(Side note: I just remembered why I avoided implementing the `valueProcessor` option for the "jsonlogic" format. The return type of a `ValueProcessor`-type function is `string`, but "jsonlogic" produces an object of type `RQBJsonLogic`.)

Anyway, I just put up a PR (#319) th

[2022-06-05 12:36] fasiha commented on #317
Ahh thanks for this note! I was able to use the existing API to first _preprocess_ the RBQ rules to format my linearly-scaled `value`s from objects to strings, and then _postprocess_ the JsonLogic output to convert strings-representing-multiplication back to JsonLogic objects—I know it seems like a lot of code, but it's the silliest most-straightforward thing possible. I was a bit surprised that n

[2022-06-05 19:42] jakeboone02 commented on #317
We do similar pre- and post-processing of queries at my day job, so I don't think it's silly at all.

I've actually considered providing a query-walker recursive function before, but I couldn't think of a way to make it generic but also helpful at the same time. (The [`defaultValidator`](https://github.com/react-querybuilder/react-querybuilder/blob/eb87062ce99d6e2e2f55b7d7931805a053903e73/packages

[2022-06-05 19:53] jakeboone02 commented on #317
By the way, I just put up PR #320 to add a `parseJsonLogic` function that converts JsonLogic objects to RQB's `RuleGroupType`.

[2022-06-10 06:55] humoyun91 opened #321 "Unable to apply muiTheme with QueryBuilder"
First of all, I would like to thank for this amazing library. We have been struggling with our dashboard in which there was a native filter input so that our users can provide mongo-db queries when fetching resources. But its usability was a pain in the ass until we found this library to build nice DSL with forms. Now users can just ask anything without knowing the mongo db query syntax.
However,

[2022-06-10 06:58] anwin-aot opened #322 "Clear all button needed"
Hi @jakeboone02 ,

In my project I'm using react-querybuilder. I need a "clear all" button to remove all the filters I'm used. If I used 10 filter, I need to use close button for 10 times to clear all filters for now. Can you please update me on this?

[2022-06-10 07:06] jakeboone02 commented on #322
Does the button need to be on the query builder itself, or can it be outside? If the former, you could augment one of the standard components to show a "clear all" button in addition to the normal one. If the latter, you could render a button that resets the query to `{combinator:"and",rules:[]}` in its `onClick` handler.

[2022-06-10 07:37] anwin-aot commented on #322
Thank you for your prompt response. @jakeboone02

[2022-06-10 07:37] #322 closed, assigned to nobody

[2022-06-10 07:51] jakeboone02 commented on #321
I can look at this closer tomorrow (I'm in the western US), but in the meantime could you set up a codesandbox to demonstrate the issue? You can use [this starter template](https://codesandbox.io/s/github/react-querybuilder/react-querybuilder/tree/main/examples/material) that uses the MUI components.

[2022-06-12 15:16] mhuggins opened #325 "MUI buttons are primary instead of secondary"
The MUI theme buttons (+RULE, +GROUP) render using variant "contained", making them appear as the primary action on the page.  This style should be reserved for the main button on a given page or form (e.g.: the submit action for creating a query after interacting with QueryBuilder).  Could these buttons be rendered using variant "outlined" instead, which is in line with secondary actions on a pag

[2022-06-12 17:22] jakeboone02 commented on #325
Yes, you can override this today as of [v4.3.1](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.3.1). It would work something like this:

[code]

Do you think I should change the default variant to "outlined"? I certainly see the argument--none of those buttons are really the _primary_ button on a page. Even if they are, the user can override the variant as shown above. I

[2022-06-12 17:30] jakeboone02 commented on #321
Honestly I'm struggling with this a bit. I opened #324 hoping it would be fairly straightforward. Seemed like I could just add a `useTheme()` hook to get the theme config from context, wrap the components in their own `<ThemeProvider />` using the aforementioned hook's return value, and call it a day. But it simply doesn't work.

Strangely, it _does_ work when I run the demo locally. The only diff

[2022-06-12 20:17] mhuggins commented on #325
Oh this is great, thanks so much @jakeboone02!  I haven't played much with themes at all in MUI, but as I get a bit more comfortable, I'll share whatever I can that might help.  Really appreciate all the work on this package/component, it's great!

[2022-06-12 20:17] #325 closed, assigned to nobody

[2022-06-13 15:48] carlevans72 opened #326 "Errors when Component Testing with Cypress v10.1.0"
When running Cypress component tests we get the following error which causes the test suite to crash:

ERROR in ../../node_modules/react-querybuilder/dist/query-builder.css
No template for dependency: ModuleHotAcceptDependency

client (webpack 5.69.1) compiled with 1 error in 10334 ms
##[error]The operation was canceled.

[2022-06-13 16:12] jakeboone02 commented on #326
Hmm. I've run Cypress tests with RQB before, but it was a while ago. Could you link to a demo repo?

[2022-06-13 16:36] carlevans72 commented on #326
Hi,

I'll try pull something together and get it over to you.  Weird thing is it passes on my local machine with no issues and only fails when running in Azure pipeline.

This is using the latest version of Cypress (v10.1.0) and the component testing beta.  I presume you haven't tried running Cypress tests with RQB with the latest version that dropped a couple of weeks ago?

We have a monorepo con

[2022-06-13 17:18] jakeboone02 commented on #326
No, it's actually been a couple of years since I touched the Cypress tests at my day job. So whatever version they were at back then, that's what we still use.

[2022-06-14 13:28] syam5492009 opened #327 "Replacing filedselector with navbar"
I am very happy to use this library. I want a custom component for FieldSelector which supports menu kind of approach as follows
Schedules ---> when I  click on schedules I need to display sub items under that , in sub items I have a country selection also.
Is it possible to have nestable dropdown with expanding and collapse

[2022-06-14 17:38] jakeboone02 commented on #327
Hi @syam5492009, I'm glad you like the library. There are a few ways to go about this.

## Filtered field selector

I created [this codesandbox](https://codesandbox.io/s/react-querybuilder-enhanced-field-selector-xx97y?file=/src/App.tsx) in response to the question posed in #263. It adds a selection drop down list to the left of the rule components that filters the values available in the field se

[2022-06-14 17:45] jakeboone02 commented on #165
### Update

As of v4.0.0, `react-querybuilder` uses `display: flex` to manage rule and rule group layouts. Individual components can be re-ordered using the CSS `order` property based on their class ([see a list and diagram of classes here](https://react-querybuilder.js.org/docs/api/classnames)). There is no longer any need for a custom `<Rule />` component just to re-order the elements.

[2022-06-14 19:57] jakeboone02 commented on #174
### Update

The [`fields` prop](https://react-querybuilder.js.org/docs/api/querybuilder#fields) now accepts `Field[]` as well as `OptionGroup<Field>[]`. So this requirement can now be met with configuration alone--no need for a custom field selector component.

[2022-06-15 01:36] anwin-aot opened #329 "Fieldselector to multilevel dropdown"
Hi @jakeboone02 ,

I'm using react querybuilder in my project. It saves lot of my time. Is it possible to replace fieldselector with multilevel dropdown.

Eg:
Location
Number-->1
                   2
Symbol  >

Inside filedselector, I needs to display group name and not grouped list. While clicking or hovering on a group name another level of dropdown needs to display with the list under that grou

[2022-06-15 03:40] jakeboone02 commented on #329
You would need to use a custom `fieldSelector` component. The only "select" library I'm really familiar with is react-select, which may or may not do what you want, but it can definitely be incorporated into a custom RQB component.

After googling for "react-select collapsible groups" I found [this article](https://www.chintanradia.com/blog/react-select-collapsible-group/).

If you need some sampl

[2022-06-15 03:44] anwin-aot commented on #329
Sure, thank you. Let me go through this article

[2022-06-15 11:50] #329 closed, assigned to nobody

[2022-06-15 11:52] anwin-aot opened #330 "Value is not returning"
Hi @jakeboone02 ,

I was going through  https://codesandbox.io/embed/2y1u5?codemirror=1 After selecting "field 2"  from first select box, and select a value from second select box, library is not returning second select box selected value. Can you please provide me a solution for this.

![image](https://user-images.githubusercontent.com/96901218/173814650-8fc56874-1625-46fd-a0d2-75ce3d2b4910.png)

[2022-06-15 15:58] jakeboone02 commented on #330
First off, this example is using a quite outdated version of RQB. I suggest upgrading to the latest. There are no breaking changes for this implementation other than styling (v4+ uses flexbox), so it should work exactly the same after the upgrade with no code changes.

It looks like the issue is that the second select is storing its state locally (with `useState`) instead of using the RQB API meth

[2022-06-15 19:09] jakeboone02 opened #331 "Add paths to `transformQuery`"

[2022-06-15 22:30] #331 closed, assigned to nobody

[2022-06-16 09:27] anwin-aot commented on #330
Thank you, for providing solution

[2022-06-16 09:27] #330 closed, assigned to nobody

[2022-06-16 12:34] anwin-aot opened #332 "Custom component for FieldSelector"
Is it possible to create fieldSelector as follows

![image](https://user-images.githubusercontent.com/96901218/174070624-f4b731dc-0c41-4756-8e9e-ddc00f1e0fc9.png)

[2022-06-16 14:03] syam5492009 commented on #327
I need a component which similar to this sandbox.
https://codesandbox.io/embed/2y1u5?codemirror=1
But its not working properly
Can you provide me the updated solution (codesandbox) -if possible.
because i need filed2 & name inside rule section.

[2022-06-16 16:11] jakeboone02 commented on #327
Are you asking for something similar to #332?

[2022-06-16 16:46] jakeboone02 commented on #332
I found [`@szhsin/react-menu`](https://www.npmjs.com/package/@szhsin/react-menu) which does submenus. (I thought `react-select` did, but it looks like you may have to use a custom Option component.)

Implementation here: https://codesandbox.io/s/react-querybuilder-field-selector-nested-menus-rl3mif?file=/src/index.tsx.

[2022-06-16 16:52] syam5492009 commented on #327
Thanks for your reply. But following is my requirement.

1. Important ---> under this group I have 2 items --> a. Bookmarked
b.rating
If I select rating item, it needs to show another select box  to select
various skills.
But for Bookmarked,  I have to show operator select box directly

On Thu, 16 Jun 2022, 9:42 pm Jake Boone, ***@***.***> wrote:

[2022-06-17 07:27] anwin-aot commented on #332
Hi @jakeboone02 ,

Thanks a lot for providing this. This is helping me a lot and saving my time.

[2022-06-17 07:27] #332 closed, assigned to nobody

[2022-06-19 00:55] #297 closed, assigned to nobody

[2022-06-19 00:56] #307 closed, assigned to nobody

[2022-06-19 00:56] #273 closed, assigned to nobody

[2022-06-19 00:57] #310 closed, assigned to nobody

[2022-06-19 12:05] syam5492009 commented on #327
I need the above requirement . is it possible

[2022-06-19 18:39] jakeboone02 commented on #327
In short, yes. I'm sure what you are describing is possible, but I have a few questions about your requirements before I can provide working code.

Is the skill selection attached to the operator or the field? If the field, then your `fields` array could look like this:

[code]

You could have a custom `fieldSelector` that rendered a single, hard-coded select with "Bookmarked" and "Rating" labels,

[2022-06-19 19:01] jakeboone02 opened #333 "Properly support "between" operator for `valueSource: "field"` in default `ValueEditor`"
_Originally posted by @fasiha in https://github.com/react-querybuilder/react-querybuilder/issues/215#issuecomment-1146446614_

Requirements:

- `ValueEditor` should display two drop-down lists when operator is "between" or "notBetween" and `valueSource` is "field".
- The `value` should be stored as a comma-separated string (e.g. `"f1,f2"`).

Questions:

- Should the default `ValueEditor` include a

[2022-06-19 19:09] jakeboone02 commented on #317
Yesterday I released [v4.5.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.5.0) which includes the function `transformQuery` ([docs here](https://react-querybuilder.js.org/docs/api/misc#transformquery)). It will recursively step through a query object and run each rule/group through a provided processor function. Also includes some shortcut configs for mapping propertie

[2022-06-20 01:45] syam5492009 commented on #327
Thanks for quick response.

const fileds= [{
`label`: `bookmarked`,
`group`: `others`,
value:[],
},
{
`label`: `rating`,
`group`: `ratings`,
}]

once I select the rating label I need to show all rating skills like react,
Node, etc in another select box as a field , because I need to  show
minimum  100 skills .

Based on that, operator needs to select

On Mon, 20 Jun 2022, 12:09 am Jake Boone, ***@

[2022-06-20 06:37] jakeboone02 commented on #327
I'm sorry, I can't really see any new information in your last comment except for the "100 skills" bit which introduces yet another complexity.

If this is what you're using for the `fields` prop, it's missing the required `name` attribute for each field.

[2022-06-20 06:44] syama-aot commented on #327
I want to show  [{
          // id: "008",
          name: "ReviewStatus",
          label: "Profile Review Status",
          group: "Others",
          // value: false,
          valueEditorType: "select",
          values: [
            { label: "Pending", name: "pending" },
            { label: "In Progress", name: "in_progress" },
            { label: "Completed", name: "completed" },

[2022-06-20 15:20] syam5492009 commented on #327
Please provide me codesandbox which supports the above functionality . Thanks

[2022-06-20 16:29] syam5492009 commented on #327
[](url)
I need as follows
![skillrating](https://user-images.githubusercontent.com/16044664/174645149-e78489cf-8838-4a75-856c-44f7ba3cb873.PNG)

[2022-06-20 17:39] jakeboone02 commented on #327
https://codesandbox.io/s/uzo4lv

[2022-06-21 02:16] syama-aot commented on #327
Thanks a lot.

On Mon, 20 Jun 2022, 11:09 pm Jake Boone, ***@***.***> wrote:

[2022-06-21 04:02] #327 closed, assigned to nobody

[2022-06-21 04:28] syam5492009 commented on #327
Thanks for providing the solution. when i try to use with react-select I am facing an issue . can you update the same sandbox with react-select.
Thanks in advance

[2022-06-21 05:26] syam5492009 opened #335 "Replacing filedselector with navbar (cont. #327)"
Please check this codesandbox.

I have used react-select instead of select box .

But i am facing an issue while selecting skillRating skills.

https://codesandbox.io/live/78c2dfb8a05

[2022-06-21 06:40] jakeboone02 commented on #335
https://codesandbox.io/s/c6fcfx

[2022-06-21 06:41] #335 closed, assigned to nobody

[2022-06-21 06:41] jakeboone02 commented on #327
https://codesandbox.io/s/c6fcfx

[2022-06-21 21:14] fasiha commented on #317
Thank you @jakeboone02 it looks awesome! Forgive me for being silent for a couple of weeks, your help upthread unblocked me to drown myself in work on the perfect query UI 😅! Especially with the `transformQuery` functionality I think we have everything we need to customize arithmetic on fields so I'm fine with closing this!

[2022-06-21 21:24] fasiha commented on #333
Whew, definitely one of those things that sound easy but are fractally complicated—as usual your attention to detail stands out!

I don't want to discourage from spending the time needed to find the global optimum in terms of features/behaviors but given that the library currently doesn't work (appears to accept `between` for fields but outputs no rules), I wonder if doing the minimum to fix it—wh

[2022-06-21 22:00] jakeboone02 commented on #317
Great! I'm glad that worked out. I've even got my own use cases for `transformQuery` at work so it was good to get that added.

Since you're clearly an advanced user and really seem to "get" the library, I would encourage you to submit any ideas you may have for the [Tips & Tricks pages](https://react-querybuilder.js.org/docs/category/tips--tricks). The tracking issue on the docs repo has some yet

[2022-06-21 22:00] #317 closed, assigned to nobody

[2022-06-21 23:27] jakeboone02 commented on #333
That's _excellent_ feedback. Thanks! TBH I think I'm just going to implement your suggestions as written. I'll throw a PR together soon.

[2022-06-24 21:46] jakeboone02 opened #336 "MongoDB export format crashes demo when value contains backslash"
To reproduce: open the [demo](https://react-querybuilder.js.org/react-querybuilder/), put a backslash before the comma in the "Last name" rule (`Vai, Vaughan` -> `Vai\, Vaughan`), then change the export format to MongoDB.

[2022-06-26 01:06] jakeboone02 commented on #333
OK so this ballooned a little but I think it's for the best. See PR #337.

When I started working on handling the "between" operator for `valueSource: "field"`, I realized RQB could handle "between" rules with `valueEditorType: "select"` (regardless of the `valueSource`) with the same code. So that was a nice surprise.

I also added an optional `boolean` prop to `<QueryBuilder />` called `listsAsA

[2022-06-29 11:50] ptakpatryk opened #340 "NextJS ES Module build fails because of react-dnd"
It all works fine with the barebone React app although fails with the NEXT.JS app.
Works with version 4.2.3 where it uses an older version of react-dnd:
`react-dnd "^14.0.4"
    react-dnd-html5-backend "^14.0.2"`

Please take a look at this sandbox.
https://codesandbox.io/s/next-querybuilder-pj1d4s

Error msg:
![image](https://user-images.githubusercontent.com/42934159/176429153-1413daf1-4371-4ff0

[2022-06-29 13:32] jakeboone02 commented on #340
React-DnD is ES-only now, but it's still weird that Next considers RQB's `dist/index.cjs.js` to be a module since that build specifies "cjs". What happens if you use `<QueryBuilderWithoutDndProvider />` wrapped with your own `<DndProvider />`?

[2022-06-29 14:03] ptakpatryk commented on #340
Thanks for the response @jakeboone02
Sadly exactly the same. Yeah I found it weird that it reaches for the common js module by default.

[2022-06-29 19:03] jakeboone02 commented on #340
After a quick review, it appears like the CommonJS build of RQB is never going to work as currently configured since it tries to `require()` an ESM-only version of React-DnD. I think we only have two options:

1. Go ESM-only with RQB. I've thought about doing this before, but never felt like it was worth a major version bump since it wasn't really any extra trouble to maintain a CommonJS build con

[2022-06-30 16:18] mohsinamjad commented on #340
I'm also facing the same issue sadly,

[2022-06-30 18:39] jakeboone02 commented on #340
@ptakpatryk / @mohsinamjad do either of you have a direct dependency on `react-dnd`? If so, which version are you using?

I ask because it's looking like I need to revert RQB's `react-dnd` dependency to `@^15`. That will break any RQB implementations that use RQB's `<QueryBuilderWithoutDndProvider />` and separately import `react-dnd@16`.

[2022-06-30 18:56] ptakpatryk commented on #340
@jakeboone02 I did end up using react-querybuilder@4.2.3 and didn't install react-dnd at all even though I'm using it. I import `react-dnd` without actually installing it in my root folder so I presume it uses the one that was installed as a dependency of RQB. I tried with a different react-dnd version and couldn't make it work by using `<QueryBuilderWithoutDndProvider />` and my separate provider

[2022-06-30 19:11] jakeboone02 commented on #340
Yep, that method has its own issues and is generally not recommended, but it can actually work well to keep your transitive dependency versions compatible with your direct dependencies.

Yeah, that would certainly be best. I'm not currently sure how to do it considering the way `react-dnd` hooks and refs work, but it's definitely worth looking into.

Thanks for the feedback!

[2022-06-30 20:35] mohsinamjad commented on #340
@jakeboone02 I don't have any direct react-dnd dependency, I also installed version 4.2.3 which works fine I guess.

[2022-06-30 22:12] jakeboone02 commented on #340
Thanks, @mohsinamjad.

I might try moving `react-dnd` (and `react-dnd-html5-backend`) to `devDependencies` and `peerDependencies`, using `peerDependenciesMeta` to make them optional for consuming applications. Then we'd just have to figure out how to detect them and fall back to `enableDragAndDrop={false}` (with a dev-only console warning) when they're not available. This also probably means we'll

[2022-07-05 19:00] #333 closed, assigned to nobody

[2022-07-05 19:00] #336 closed, assigned to nobody

[2022-07-06 11:24] Laura-Urb opened #342 "IndependentCombinators: true > Type 'true' is not assignable to type 'false'"
Hi! I'm new using this library and I'm trying out in my react + typescript project
I need that combinators were independent but I have this problem that  I can't set independentCombinators={true}
Do I'm missing something?
![aaa](https://user-images.githubusercontent.com/63360295/177539467-63f394b3-5710-43c0-8e39-2bc01b72c991.png)
![bbb](https://user-images.githubusercontent.com/63360295/177539470-

[2022-07-06 14:00] jakeboone02 commented on #342
Hi, @Laura-Urb! I can't see from your screenshots, but it looks like your `query` object is of type `RuleGroupType`. When the `independentCombinators` prop is `true`, `query` (or `defaultQuery`) must be type `RuleGroupTypeIC`.

The difference between the types is that for the `IC` variant, the combinator values reside between each rule in the `rules` array instead of on the `combinator` property,

[2022-07-06 15:20] jakeboone02 commented on #342
Oh, I forgot to mention: the [`showCombinatorsBetweenRules` prop](https://react-querybuilder.js.org/docs/api/querybuilder#showcombinatorsbetweenrules) has the same visual effect as `independentCombinators` (i.e. a combinator selector appears between each pair of rules), but the `query` object can still be `RuleGroupType`.

The only weird thing about that is if you have more than two rules in a gro

[2022-07-07 22:37] jakeboone02 commented on #340
@ptakpatryk / @mohsinamjad - I created PR #343 which attempts to make `react-dnd` an optional dependency for `react-querybuilder`. It doesn't currently work unless the consuming application has `react-dnd` installed, but it will inherit the version of `react-dnd` that the consumer _does_ have installed. So...baby steps.

[This codesandbox](https://codesandbox.io/s/next-querybuilder-forked-465ps5?f

[2022-07-12 12:36] systemsarchitecture commented on #108
hi, i need this feature,  its rule builder, is it possible with react-queyBuilder ?

[2022-07-12 19:59] jakeboone02 commented on #108
Hi, @systemsarchitecture. Almost three years later, I think I know now what @jitendra9nov was getting at, and probably what you're looking for as well: a [rules engine](https://martinfowler.com/bliki/RulesEngine.html) -- basically a series of if-then statements.

`react-querybuilder` is designed to construct the "if" part, but not the "if" and "then" parts together. If the "then" actions follow th

[2022-07-18 11:14] figengungor opened #344 "require() of ES Module react-dnd issue"
With the latest version of react 18.2.0, I get the following error:

Build error occurred
Error [ERR_REQUIRE_ESM]: require() of ES Module /node_modules/react-dnd/dist/index.js from /node_modules/react-querybuilder/dist/index.cjs.js not supported.
Instead change the require of index.js in /react-querybuilder/dist/index.cjs.js to a dynamic import() which is available in all CommonJS modules.

[2022-07-18 11:41] figengungor commented on #344
Duplicate of #340

[2022-07-18 11:41] #344 closed, assigned to nobody

[2022-07-20 08:29] adnanjalloh opened #345 "Add/Control multiselect input field"
Hi all,

How to add/control multi-select(tags) input in fields ?

Many thanks for considering my request.

[2022-07-21 22:37] jakeboone02 commented on #345
Hi @adnanjalloh! I'm on vacation right now with intermittent Internet access, but I can give you a more complete answer next week.

In the meantime, check out the [documentation on custom components](https://react-querybuilder.js.org/docs/tips/custom-with-fallback).

You’ll probably want to look at using [react-select](https://react-select.com) for a tag-based multiselect. Keep in mind that the `v

[2022-07-22 04:02] adnanjalloh commented on #345
Many thanks 👍

[2022-07-22 04:02] #345 closed, assigned to nobody

[2022-07-25 10:14] Laura-Urb commented on #342
Thank you so much for the help!! That was excatly my problem (wrong type)

[2022-07-25 16:22] #342 closed, assigned to nobody

[2022-08-03 14:06] toridyar opened #351 "Documentation mentions findNode which was previously removed"
The documentation mentions a findNode method which seems to have been removed at some point

[2022-08-03 16:01] jakeboone02 commented on #351
I think you're referring to `findRule`, which was [removed in v4.0.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v4.0.0) in favor of [`findPath`](https://react-querybuilder.js.org/docs/api/misc#findpath). Is there a feature you need?

[2022-08-03 17:27] dzmitry-lahoda commented on #291
should happend:
[code]

[code]

[2022-08-03 18:23] jakeboone02 commented on #291
Confirmed receipt! Thanks again!

[2022-08-04 14:09] toridyar commented on #351
Yes, that's correct, the ReadMe still mentions findRule in a couple places but it was removed. It would be great to have findRule added back, but if the documentation could be updated to match current version that would work too. thx

[2022-08-04 14:19] toridyar commented on #351
Also it seems that findPath is a state behind? Using find path returns the group but the new rule that needs to be updated hasn't been added to rules - although the actual query has the new rule added in rules

[2022-08-04 14:43] jakeboone02 commented on #351
Are you referring to the [v3.12.1 README](https://github.com/react-querybuilder/react-querybuilder/blob/main/README.v3.12.1.md)? That's the only place [I could find "findRule" in the repo](https://github.com/react-querybuilder/react-querybuilder/search?q=findRule). That file mentions at the top that it's for an older version of the library, and has a link to the [current documentation site](https:

[2022-08-11 11:06] Adnan0061 commented on #340
@jakeboone02
hi, it appears that it's the same for me also though I am not even using react-dnd

I am using
next- 12.2.2
react- 18.2.0
dnd-kit/core- 6.0.5
dnd-kit/sortable- 7.0.1

![image](https://user-images.githubusercontent.com/48943431/184119943-11313157-f159-415e-9cd7-e9eaa9f10b63.png)

[2022-08-11 15:34] jakeboone02 commented on #340
@Adnan0061 yeah, the problem is not with ReactDnD itself, but with the CommonJS build of RQB (see https://github.com/react-querybuilder/react-querybuilder/issues/340#issuecomment-1170381138).

[2022-08-12 20:14] Adnan0061 commented on #340
I saw, also checked the PR. but why isn't it merging? it's been a month

[2022-08-12 21:58] jakeboone02 commented on #340
Because I can't figure out how to get it to work without requiring every dependent application to install `react-dnd` (and `react-dnd-html5-backend`) whether or not they actually use the drag-and-drop feature.

I want `react-dnd` to be a _truly_ optional dependency. Install it if you need it, otherwise you don't even need to think about it. If that's an impossible goal, I want someone to prove tha

[2022-08-12 22:31] jakeboone02 commented on #351
Removed in https://github.com/react-querybuilder/react-querybuilder.github.io/commit/beca3066cf36045f12779631a6d4aafacce68b4f. Closing this issue.

[2022-08-12 22:31] #351 closed, assigned to nobody

[2022-08-12 22:34] jakeboone02 commented on #326
@carlevans72 - I was going back through this and saw that you mentioned NextJS, so this issue may be the same as #340. Did you ever figure out a workaround?

[2022-08-13 06:08] Adnan0061 commented on #340
don't get me wrong, It's just an expression because we couldn't use this amazing package because of this.
personally, I think this is still amazing without the drag-and-drop option. I support the plugin system for dnd so that those who need it will use it, might be a good option rather than keeping it unusable.

If the time quote hurt your feelings, I am truly sorry for that.

[2022-08-13 14:01] jakeboone02 commented on #340
No hurt feelings! And no need to apologize. I just wanted to be open about the reality of the situation. I appreciate your kind words about RQB.

[2022-08-16 02:45] fasiha opened #353 ""Module not found: Error: Can't resolve './locale'" warning when building with Ant Design components"
I'm sorry to risk opening a ticket here for this when I'm not 100% sure it's an issue with react-querybuilder 🙇 please feel free to close if this isn't your problem!

I'm encountering a warning
[code]
when building my react-querybuilder project, and as my CI (continuous integration) treats warnings as errors, I'm looking for how to fix this.

## Reproduction steps
[code]
In App.tsx, replace the bo

[2022-08-16 14:21] carlevans72 commented on #326
Hey @jakeboone02

So, this ended up being an issue with Next.js when using Cypress component testing.

Next.js only allowing importing of global styles in `pages/_app.js` - when component testing with Cypress you also need to import your styles in `cypress/support/component.ts`.

Using Cypress 10.5.0 and a package called `next-global-css` you can get around this issue.

We had RQB in our component

[2022-08-16 14:21] #326 closed, assigned to nobody

[2022-08-16 14:24] jakeboone02 commented on #326
Thanks for following up!

[2022-08-16 21:22] jakeboone02 commented on #353
I'm inclined to think this is not an issue with RQB, since `antd` is actually a peer dependency and not a hard dependency. When you do
[code]
you get the latest version of all those packages. On top of that, even the [`antd` entry in `devDependencies`](https://github.com/react-querybuilder/react-querybuilder/blob/main/packages/antd/package.json#L31) for `@react-querybuilder/antd` uses a caret, so

[2022-08-16 22:40] jakeboone02 commented on #340
Quick update: the wrapper package is looking promising. Nothing to show just yet, but I'll update #343 within the next few days if I can.

[2022-08-17 02:33] fasiha commented on #353
Thanks for checking @jakeboone02! So I want to emphasize that this is a _warning_ and not an error (even though the body of the message claims it's an error)—our CI builds our app just fine but like many CI systems treats warnings as errors and my ops team would prefer to keep that level of strictness.

And you can actually verify the warning by downloading the CodeSandbox (screenshot included if

[2022-08-17 05:47] fasiha commented on #353
Here's one solution: I noticed in https://github.com/react-querybuilder/react-querybuilder/blob/74409f72e3a5e072533a086a03cabe3f7b2dbb7b/packages/antd/vite.config.js#L20
that you explicitly tell Rollup to treat certain imports as `external` so I thought to add `moment` to that:
[code]

So one result is your `dist` files drop in size, since Moment is famously heavyweight:
- old:
[code]
- new:
[code

[2022-08-17 17:12] jakeboone02 commented on #353
Thanks so much for the thorough investigation! See my comments on #354. I'm especially loving the 10x drop in weight!

[2022-08-17 17:14] #353 closed, assigned to nobody

[2022-08-20 16:03] jakeboone02 commented on #340
Ok I think I finally have #343 done. It extracts all drag-and-drop code into a separate package called `@react-querybuilder/dnd`, so using `react-querybuilder` v5 by itself should avoid any `react-dnd`-related problems (as it pertains to this library). It also makes the `react-dnd` dependency dynamic so you can use any version >=14.

Currently the new package exports a drop-in replacement for `<Qu

[2022-08-20 17:35] jakeboone02 commented on #321
Trying something: an alternate version of [this codesandbox](https://codesandbox.io/s/nifty-murdock-xhqhcq?file=/src/App.tsx) should appear in #324 automatically using the updated packages.

[2022-08-21 11:40] MattEagle95 commented on #340
Hey Jake! Thanks for the work on this one, especially in summer 🌴. I'm exited to use it in NextJS!

I just wanted to give my opinion. I like option 2, because it extends the current `QueryBuilder` instead of replacing it with another instance of another package. This adds a bit more "boilerplate" code to it, but I think when it's written like that, it's easier to understand. I dont use "another" `

[2022-08-21 15:24] jakeboone02 commented on #340
Gah! That makes so much sense!

Thanks so much for the excellent feedback. I wasn't even considering the possibility of *other* enhancement/augmentation/wrapper packages, but now that seems like the obvious path forward. (Can't wait to see what `@react-querybuilder/cool-locale-stuff` does! ;) )

I'll refactor the PR to support composition and start prepping for v5!

[2022-08-26 02:53] #340 closed, assigned to nobody

[2022-08-26 03:07] jakeboone02 commented on #340
All - I just merged #343 after confirming that it works with NextJS where v4.5.2 fails. Thanks for all your help!

I'm going to release v5.0 soon (maybe as a beta first to be careful), but I have one more major decision to make: should we go [ESM-only](https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c)? I'm not aware of any problems the current build setup is causing (outside o

[2022-08-27 18:06] jakeboone02 commented on #321
Good news, everyone! I finally cracked the case of the missing theme configurations (see #324) and the issue will be resolved in v5.0, due out soon.

[2022-08-29 09:59] ozgurcanturna opened #358 "Cannot import CEL if certain letters appear in strings"
If we have to a text that includes some keywords like "and" or "in" parsing failed in CEL Import.

This problem can be reproduced on [https://react-querybuilder.js.org/react-querybuilder](https://react-querybuilder.js.org/react-querybuilder ) demo page. if you select Load From CEL and give the query as;

firstName.startsWith("Stin") && age > 28

you can see the parsing failed .

Now we try to repl

[2022-08-29 16:05] jakeboone02 commented on #358
This is actually worse than you guessed! Turns out it fails if the string has "r" or "n" in it. See [this codesandbox](https://codesandbox.io/s/tender-shockley-fr8n0b?file=/src/App.tsx). Code:

[code]

Result:

[code]

I'll take a look at it today if I get a chance.

[2022-08-29 19:02] jakeboone02 commented on #358
Since it's just "r" and "n", I'm thinking this is probably an issue with newline detection (`\r` and `\n` being Carriage Return and Line Feed).

[2022-08-30 06:08] jakeboone02 commented on #358
Fixed in 6de5192b - will be included in v5.0 to be released soon.

[2022-08-30 06:08] #358 closed, assigned to nobody

[2022-09-01 06:13] dsalisbury opened #360 "Drag and drop issues moving a rule to a sibling group"
Hey! Love the library, thanks for making it and building such versatility!

I found a bug with dragging and dropping, which seems to manifest in ways approximately along the lines of:

1. Make a parent rule group with two child groups
2. Add a rule to each child
3. Try to drag the rule from the first child to the second child and watch it fail
4. Try the opposite and see it succeed, so now child1

[2022-09-01 07:07] GabriFila commented on #321
Hi, great library!
I have some problems with passing my mui theme values to the querybuilder, I looked at the [codesandbox](https://codesandbox.io/s/nifty-murdock-xhqhcq?file=/src/App.tsx) you cited but it doesn't seem to work, it throws an error. I used the `5.0.0-alpha.3` for both the main package and the material adapter.

Do you have any suggestions/ideas on how to solve it? I might be using t

[2022-09-01 18:55] jakeboone02 commented on #360
Thanks for the kind words! But...ugh. This type of bug coming up was kind of a big fear of mine, because the [code that manages that feature](https://github.com/react-querybuilder/react-querybuilder/blob/main/packages/react-querybuilder/src/utils/queryTools.ts#L134-L219) is hard to grok for me (and I wrote it!). Seems like it should be simple, right? Just remove the rule/group from its original lo

[2022-09-01 21:18] jakeboone02 commented on #321
Hi @GabriFila. That sandbox is out of date now. [This one](https://codesandbox.io/s/busy-khayyam-hq236o?file=/src/App.tsx) has updated code, but there's still an issue with the dynamic component imports that crashes the page. I'm working on it.

[2022-09-02 01:42] dsalisbury commented on #360
I'm working on tests to plumb the depths in search of some weird edge cases

A general feeling from what I've been playing with lately is that it seems like there might be some sort of off-by-one going on

For instance, I want to swap the order of these two top-level combinators:

[code]

issuing `move(query, [0], [1])` results in no change, while `move(query, [0], [2])` results in the groups swap

[2022-09-02 05:34] jakeboone02 commented on #360
Yeah, sorry, I forgot about the other complication which is the coordination among the dragged element `path`, the drop zone `path`, the neighboring elements (if any), and the `move` logic. The `Rule`-as-drop-zone code is [here](https://github.com/react-querybuilder/react-querybuilder/blob/main/packages/dnd/src/internal/hooks/useRuleDnD.ts#L48-L80) and the `RuleGroup`-as-drop-zone code is [here](h

[2022-09-02 08:06] dsalisbury commented on #360
I've made a bunch of tests in https://codesandbox.io/s/stoic-jones-iodrbq?file=/src/App.test.ts

I was playing around with this with a team mate today and we find this line to be mysteriously subtracting 1 or 2 from the target path's insertion index at the point of common ancestry -- but we can't figure out why this is happening.

oldPath and newPath come into the move function from the dnd event

[2022-09-02 08:08] GabriFila commented on #321
Thank you, I'll wait on updates!

[2022-09-02 13:23] Egor3842 opened #362 "Custom input element loses focus after any character entered when it wrapped into QueryBuilderDnD"
I use custom component for input element.
When I use this component:
`<QueryBuilder
        fields={fields as any}
        query={query}
        onQueryChange={(q: any) => setQuery(q)}
        controlElements={{
          fieldSelector,
          operatorSelector,
          combinatorSelector,
          valueEditor,
          notToggle,
          addRuleAction,
          addGroupAction,

[2022-09-02 15:15] jakeboone02 commented on #362
Hi @Egor3842, thanks for the bug report. This is for the v5 alpha release, right?

The two packages that now use dynamic imports, `@react-querybuilder/dnd` and `@react-querybuilder/material`, both have some major issues that I'm currently working on. Once I have something to show, I'll link to the PR here.

[2022-09-02 16:05] jakeboone02 commented on #360
Thanks for doing that! I'll start digging into the issue soon. Got a few kinks to work out in the v5 alpha first, then I'll hop on this one.

[2022-09-02 16:10] jakeboone02 opened #363 "Clone rule/group instead of move if modifier key is pressed while dropping"
Example [here](https://react-dnd.github.io/react-dnd/examples/dustbin/copy-or-move).

While dragging, some configurable style should indicate that the drop will clone instead of move. (Green dotted line instead of purple? A `+` sign somewhere?)

Related: #360

[2022-09-06 18:19] pierre-roussel opened #364 "Fields property object is mutated by the query builder when using OptionGroup[]"
Passing `OptionGroup[]` to fields ends up mutating the original object when duplicate values are available, this is due to the `uniqOptGroups` updating the original array:
[code]

To reproduce, render the query builder with two groups that have the same value:
[code]
![image](https://user-images.githubusercontent.com/28951614/188709603-918b6271-45ab-4f47-95ed-fbbe1cb611fa.png)

Code sandbox: https

[2022-09-06 21:56] jakeboone02 commented on #364
Good catch, and thanks for all the details! I'll make sure it's fixed in v5, which I'm trying to finalize right now.

[2022-09-07 10:30] Egor3842 commented on #362
Thanks a lot

[2022-09-07 10:44] Egor3842 opened #366 "Problem with jsonlogic type and operator "between ,"not in" and "not between""
I use custom rangeDate component and I need to export field's object as jsonlogic. I have two dates and operator "between" and it exported like `{"<=":["2022-09-22",{"var":"date"},"2022-09-28"]}`. When I import this rule to query builder with parseJsonLogic it gives me operator: "<=" and only first value, second value lost. What can I do with it? Moreover if I used "not between" in rule, it gave m

[2022-09-08 06:56] #362 closed, assigned to nobody

[2022-09-08 06:56] #364 closed, assigned to nobody

[2022-09-08 18:12] jakeboone02 commented on #366
Hmm, that's a good question. Without looking at the code, I'm guessing `parseJsonLogic` naively assumes the `"!"` operator should always translate to `not: true` on the group. [JsonLogic](https://jsonlogic.com/operations.html) doesn't have "not between" or "not in" operators per se, but maybe I can make the parsing logic smarter when the group is negated, the rule's operator would evaluate to `"be

[2022-09-08 18:45] jakeboone02 commented on #366
I noticed you changed this issue from your original question about custom operators, and maybe you figured it out on your own but I thought it would be good to address. You have two options, really.

1. Customize the `label` property only, using the standard `name`s in your operators/combinators
2. Use [`transformQuery`](https://react-querybuilder.js.org/docs/api/misc#transformquery) to translate

[2022-09-08 21:29] Egor3842 commented on #366
Thanks a lot for answering, yeah I used your first variant of viewing my operators and it will be great if you will add logic to “not” operators(may be add condition to builder like `if notToggle does not allow-make a rule with negative operator instead of group with false toggle`, it can partly resolve problem.  But I have another question about operator “between”. I export my rule in JsonLogic l

[2022-09-09 18:47] jakeboone02 commented on #366
Confirmed, it doesn't handle "between" correctly in v4.5.2. This will be fixed in v5.

(You're right about `{"<=":[{"var":"date"},"2022-09-22,2022-09-28"]}` being incorrect JsonLogic syntax.)

[Here's a CodeSandbox test for verification](https://codesandbox.io/s/exciting-panka-wzvt51?file=/src/App.test.ts). Update that to the next v5 alpha release or v5 final to check.

[2022-09-09 18:53] Egor3842 commented on #366
I'm sorry, but I didn't fully understand. Is this issue already resolved in v5 (e.g. v5.0.0-alpha.3) or will it be fixed in the future?

[2022-09-09 18:56] jakeboone02 commented on #366
Oh, sorry, I wasn't clear. `v5.0.0-alpha.3` (and `v5.0.0-alpha.5`, for that matter) has the same issue. It will be fixed in `v5.0.0-alpha.6` if that version gets published, but definitely in the final `v5.0.0`. I'll have a PR soon that has it fixed and I'll link it to this issue.

[2022-09-09 18:59] Egor3842 commented on #366
okey, thank you very much for your prompt replies and your efforts)

[2022-09-10 16:28] jakeboone02 commented on #360
@dsalisbury - I think I've got this fixed. Can you manually test with [this codesandbox](https://codesandbox.io/s/react-querybuilder-dnd-example-forked-obzo86?file=/src/App.tsx)? It uses the latest builds from #367.

[2022-09-10 16:56] jakeboone02 commented on #366
@Egor3842 - I believe PR #367 fixes the issues with "between" and "in". It also converts the substring operators ("contains" / "beginsWith" / "endsWith") to their negating counterparts ("doesNotContain" / "doesNotBeginWith" / "doesNotEndWith") if a single rule is wrapped in `{ '!': ... }`.

You can try out the query->JsonLogic and JsonLogic->query transformations based on the code from #367 with [

[2022-09-12 07:49] dsalisbury commented on #360
Hey @jakeboone02

The codesandbox looks good, thanks for fixing it!

[2022-09-12 15:49] #360 closed, assigned to nobody

[2022-09-12 15:49] #366 closed, assigned to nobody

[2022-09-12 15:49] #363 closed, assigned to nobody

[2022-09-12 22:07] jakeboone02 opened #368 "Merge documentation site repo into this repo"
Merge [react-querybuilder.github.io](https://github.com/react-querybuilder/react-querybuilder.github.io) into this repo as `website` folder.

[2022-09-13 19:17] jakeboone02 opened #369 "Accept `string[]`, `Record<string, boolean>`, etc. in `controlClassnames`"
May want to use [clsx](https://www.npmjs.com/package/clsx) instead of homegrown `c` function.

[2022-09-13 21:21] jakeboone02 commented on #321
Reopening this as it still seems to be broken in the latest v5 alpha.

[2022-09-14 06:37] ZhaoQianQian977 opened #371 "If I need to customize the field selector, how to pass the value type of each field to the valueEditor"
I have now customized a field selector with cascading selection components, but I don't know how to pass the value type of the selected field to the valueEditor, so that the valueEditor can automatically match the corresponding input type, or my customized valueEditor can display different components according to the passed value type. Is there any related api

[2022-09-15 00:50] #371 closed, assigned to nobody

[2022-09-15 01:17] jakeboone02 commented on #371
Hi @ZhaoQianQian977, did you figure out how to do what you needed?

[2022-09-15 01:25] ZhaoQianQian977 commented on #371
I implemented my custom field selector in another way. Through field transfer, the valueEditor can still get the desired field value type, and the custom fieldSelector can also render cascade selectors with more fields. At present, it seems to be the most convenient  method

[2022-09-15 01:56] jakeboone02 commented on #371
Great. Let me know if you think there should/could be a _more_ convenient way!

[2022-09-15 02:00] ZhaoQianQian977 commented on #371
Thank you for taking the time to reply to my message. I will contact you again if necessary

[2022-09-15 05:55] #368 closed, assigned to nobody

[2022-09-15 19:19] #369 closed, assigned to nobody

[2022-09-22 08:04] jbailleul opened #374 "the key used when iterating on rule list is causing state issues"
### Summary
Hello! I am using the library alongside with custom `controlElements` and in my implementation of `valueEditor`, I'm facing state issues that seem to be caused by non-optimal use of the `key` property during iterations.

### Description
Let's say I have two rules, `rule#1` and `rule#2`. When I delete the `rule#1` thanks to the `Remove rule` button, it appears that React tries to use th

[2022-09-22 15:00] jakeboone02 commented on #374
Thank you so much for the detailed report! My thought process while reading this was something like, "Well _ackshually_ it uses a string representation of the `path`, which is a stabl...wait...oh no...the path is just the group path plus the index...which is NOT STABLE! How did my life get to this point?!"

Seriously though, I can't believe that issue hasn't been caught until now. I'll fix it in v

[2022-09-22 15:26] jbailleul commented on #374
Thank you for your quick reply.

No problem, happy to help!

Until I can upgrade to the upcoming v5, in my client project, I am going to override the `RuleGroup` of the `controlElements` with a copy of the default one, but with having set the `Fragment`'s `key` to the rule's `id`. That will solve my state issues for now, until the v5 comes out and I'll remove it!

[2022-09-22 16:00] jakeboone02 commented on #374
Sounds good. I _may_ release a v4.5.3 with this fixed if I get time.

Also, copying the `RuleGroup` component should work but I'd recommend using [patch-package](https://www.npmjs.com/package/patch-package) instead.

[2022-09-22 17:49] jakeboone02 commented on #374
FYI, [this is how I fixed it](https://github.com/react-querybuilder/react-querybuilder/commit/fc19f944a4bbef64e5ba43d986128398387a51d7#diff-77d3b960ea8130321c4217a229bf7dc6e86185e6034ed6467ed651aec6634e09R302).

[2022-09-23 08:52] jbailleul commented on #374
Thanks!
It would be great to have a fix in v4 :)

[2022-09-23 14:47] jakeboone02 commented on #374
I'll see what I can do

[2022-09-28 11:41] evakratalov opened #375 "Trying to parseSQL with combinator 'xor' returns empty rules array"
i'm trying to parse expression "(type = '' xor test = '')" with parseSQL and getting result with combinator 'and', and empty rules array.
{rules: Array(0), combinator: 'and'}
will appreciate your help..

[2022-09-28 16:31] jakeboone02 commented on #375
Hi @evakratalov. To remain compatible with the widest range of SQL engines, the `parseSQL` function only handles ANSI SQL. `XOR` is not part of that standard.

Theoretically you could modify `parseSQL` to handle `XOR`, but you'd need to make a few changes to this repository that I'd be unlikely to merge since it's not standard. If you want to go it alone, here's some information to get you started

[2022-09-28 19:49] jakeboone02 commented on #375
...ok the more I think about this the more I think I could implement it with minimal disruption (possibly none) to existing users or breaking changes. As long as `defaultCombinators` didn't change, I'd just have to include a warning in the documentation that if you expect the SQL to contain `XOR` then you'll have to set the `combinators` prop to include "xor" as I showed in the last comment. Hmmm.

[2022-09-28 19:55] jakeboone02 commented on #374
@jbailleul I just released v4.5.3 🎉

(This issue will remain open until #370 is merged into `main`.)

[2022-09-29 01:45] #374 closed, assigned to nobody

[2022-09-29 07:55] evakratalov commented on #375
Hi @jakeboone02,
I appreciate your help and the quick response!
I do think that it should be possible to add custom combinators.. and to keep the defaultCombinators as is.
If it possible to add that option to the combinators prop, that will be great..

[2022-09-29 16:37] jakeboone02 commented on #375
For the `combinators` prop, you can use whatever values you want. There's no restriction on custom combinators in the `<QueryBuilder />` component.

The issue is that `parseSQL` only recognizes standard keywords, so it will only _produce_ rule groups with "and"/"or" combinators. I think I'm going to try and add `XOR` to that function and see how it goes. I'll reference this issue in a PR soon.

[2022-10-05 19:24] #375 closed, assigned to nobody

[2022-10-05 19:26] jakeboone02 commented on #375
@evakratalov Good news: I just merged #377 which adds `XOR` support to `parseSQL`! It will be available in [v5.0](https://github.com/react-querybuilder/react-querybuilder/milestone/2).

[2022-10-06 06:36] evakratalov commented on #375
Hi @jakeboone02 thank you for the help!

[2022-10-06 14:02] jakeboone02 opened #379 "Add upgrade instructions"
- [x] List steps for upgrading from v4 to v5.

[2022-10-06 19:07] jakeboone02 opened #380 "Remove support for TypeScript `<4.5`"
TypeScript 4.5 has been out for almost a year now. Taking this opportunity (i.e. RQB v5) to remove types and switches for prior TS versions.

[2022-10-07 02:12] jakeboone02 commented on #321
@humoyun91 @GabriFila @zzoman - I _think_ I've finally resolved the issues with `@react-querybuilder/material`. Can you all try out the "material example" CodeSandbox link in PR #381? ([This](https://codesandbox.io/s/react-querybuilder-material-example-vi6070?file=/src/App.tsx) is the current link.)

Note: if you try it as-is, there will be a slight delay before the MUI components render in place

[2022-10-07 02:51] humoyun91 commented on #321
@jakeboone02

I tried to run it with commit hash based version which I took from the provided `codesandbox`:

![Screen Shot 2022-10-07 at 11 37 21 AM](https://user-images.githubusercontent.com/85469622/194456450-8fa9956d-0c54-4a2b-b477-0722291e33c7.png)

After this I am having issue with importing some types
[code]

![Screen Shot 2022-10-07 at 11 39 54 AM](https://user-images.githubusercontent.com

[2022-10-07 02:54] jakeboone02 commented on #321
Thanks, @humoyun91. I'll see if I can get that resolved.

[2022-10-07 17:28] jakeboone02 commented on #321
@humoyun91 that should be resolved now.

New MUI example link is https://codesandbox.io/s/react-querybuilder-material-example-93jfoh

[2022-10-08 03:20] jakeboone02 commented on #321
I went ahead and released that PR as `5.0.0-alpha.8` so you can try it out as a proper release instead of getting the commit-hashed version from CodeSandbox.

If it actually fixes this issue, then it'll be more like a release candidate than an alpha since there's [not much left on the 5.0 milestone](https://github.com/react-querybuilder/react-querybuilder/milestone/2). I won't be able to release 5

[2022-10-08 08:57] jakeboone02 opened #382 "Support Ant Design v5"
See https://next.ant.design/docs/react/migration-v5

[2022-10-11 08:03] syama-aot commented on #299
Thanks for your reply. I got it

On Fri, 6 May 2022, 10:41 pm Jake Boone, ***@***.***> wrote:

[2022-10-11 11:22] evakratalov opened #383 "Trying to parseSQL with character '-' returns empty rules array"
Hi @jakeboone02,

i'm trying to parse expression with parseSQL and getting result with an empty rules array (a key with '-' character).
expression: "(somthing-somthing = '')"
result: {rules: Array(0), combinator: 'and'}
will appreciate your help..

[2022-10-11 23:56] jakeboone02 commented on #383
Can you tell me what SQL dialect you're using? Normally identifiers like that have to be quoted with double quotes (e.g. Oracle) or backticks (e.g. MySQL).

[2022-10-12 09:39] evakratalov commented on #383
Im using js with expression "(test-test = '')" which im trying to parse with parseSQL.
I tried also double quotes `("test-test" = '')` and single quotes, but still getting an empty rules array.

[code]

[2022-10-12 13:43] jakeboone02 commented on #383
Can you try it with backticks, like this?

[code]

[2022-10-13 06:22] evakratalov commented on #383
it works! thank you for the help

[2022-10-13 06:29] jakeboone02 commented on #383
Great! Want to close this issue?

[2022-10-13 08:26] #383 closed, assigned to nobody

[2022-10-14 10:41] apuntovanini opened #384 "Type not picking valueEditorType from field definition"
It seems that global default getValueEditorType overrides field definition of valueEditorType

[code]

is still passed as `type: 'text'` to ValueEditor.
It works only if I use global getValueEditorType on QueryBuilder component

[2022-10-14 11:14] apuntovanini commented on #384
Ok, forget it, sorry, I was using the wrong id/name in custom controls
Using the alpha version btw, upgrade from v.4 was seamless so far, thank you!

[2022-10-14 11:14] #384 closed, assigned to nobody

[2022-10-14 16:22] jakeboone02 commented on #384
Thanks for the feedback!

[2022-10-15 01:03] #321 closed, assigned to nobody

[2022-10-15 01:03] #380 closed, assigned to nobody

[2022-10-15 01:04] jakeboone02 commented on #379
Fixed by #381.

[2022-10-15 01:04] #379 closed, assigned to nobody

[2022-10-15 05:47] jakeboone02 opened #385 "Make MongoDB output more concise"
- Remove unnecessary `$and` combinator
- Remove unnecessary `$eq` operator
- Simplify output for "between"

[2022-10-15 06:45] #385 closed, assigned to nobody

[2022-10-19 17:29] fasiha opened #388 "Ant Design multiselect has a strange empty state"
We noticed an interesting edge case in React Query Builder + Ant Design and I wanted to check if it's something that's intentional or if it's a known issue.

This Code Sandbox demonstrates the issue https://codesandbox.io/s/gifted-mccarthy-dt4qrp the multiselect initializes with the first value selected, but if I remove it, the empty multiselect has a ghost empty string option selected.

![rbq-dem

[2022-10-19 19:32] jakeboone02 commented on #388
Definitely not intentional. Looks like a bug with the way the component handles empty strings when it expects a comma-separated list. If you make `value` an array, it seems to work as expected.

I copied your CodeSandbox to [StackBlitz here](https://stackblitz.com/edit/react-ts-wsbt4v?file=App.tsx) (I was having trouble with CS) and upgraded RQB to the latest v5 alpha just to make sure it wasn't a

[2022-10-20 00:29] jakeboone02 commented on #388
@fasiha #389 has a [version of your CodeSandbox using the latest build](https://codesandbox.io/s/crazy-ace-qmkcbb) of RQB and the antd compatibility package. Can you try it out and let me know if it resolves the issue?

[2022-10-21 14:53] fasiha commented on #388
Thanks Jake! Looks perfect 🙏!

[2022-10-21 15:10] #388 closed, assigned to nobody

[2022-10-22 20:35] Sax-Yusuph opened #391 "support for IF, ELSE, THEN statements."
hi, thank you for the great library.
can we have support  for IF, ELSE and THEN combinators
just as we currently have AND and OR...
2. or is there a way to achieve this at the moment?

<img width="669" alt="Screenshot 2022-10-22 at 9 36 42 PM" src="https://user-images.githubusercontent.com/57273445/197361456-6d8b998d-1162-489f-9427-5c047d9ce80a.png">

[2022-10-22 21:43] jakeboone02 commented on #391
Hi, Sax. There are two parts to my answer.

### Part 1 aka "Yes"

You can define custom combinators like this:

[code]

[Here's a CodeSandbox demonstration](https://codesandbox.io/s/dank-smoke-ti9qot?file=/src/App.tsx).

### Part 2 aka "You probably shouldn't"

It will be difficult to enforce the right structure for those particular combinators because this query builder only builds the "if" part

[2022-10-25 11:17] megaflo opened #393 "Error when parsing null values in JsonLogic"
We stumbled over what I think is a bug in the parsing code for JsonLogic: When formatting a query with a `null` or `nonNull` check to JsonLogic via `formatQuery` and then parsing it later via `parseJsonLogic` the parsing will fail with a `TypeError`. See https://codesandbox.io/s/naughty-bird-z8mux8?file=/src/App.js for an example.

I think the underlying issue is that `parseJsonLogic` cannot handl

[2022-10-25 17:23] jakeboone02 commented on #393
I've opened #394 with the fix. Can you try the [CodeSandbox it generated](https://codesandbox.io/s/affectionate-euler-3622n7)? It's a copy of the one you linked to but uses the `react-querybuilder` build from the PR.

[2022-10-26 06:29] Sax-Yusuph commented on #391
thanks. finally went ahead with Part 1.

[2022-10-26 06:29] #391 closed, assigned to nobody

[2022-10-26 06:42] megaflo commented on #393
Wow, that was quick. I played around with the sandbox and also tried out the changes in our original use case and it's working perfectly now.
Thanks for handling this so quickly and for your work on this project.

[2022-10-26 06:55] jakeboone02 commented on #393
My pleasure! Thanks for the kind words.

[2022-10-26 06:58] #393 closed, assigned to nobody

[2022-10-26 17:30] jakeboone02 commented on #393
This fix is included in [v5.1.0](https://github.com/react-querybuilder/react-querybuilder/releases/tag/v5.1.0).

[2022-10-27 04:25] jakeboone02 opened #396 "Publish as CJS/ESM; drop UMD"
**Update 2023-02-14**: v6 will still publish CJS and ESM, but will drop UMD.

~Publish all packages as ESM only. Add the following to the changelog:~

~**Question**: what about UMD?~

[2022-11-10 01:19] fasiha opened #397 "Can we use NameLabelPair with numeric names?"
Hi Jake, this is a super-low-impact question, and I'm guessing there's a really simple solution that I'm just too dense to see right now. I often have a field where I want the user to choose for a list of options, so `valueEditorType: 'multiselect'` or `select`, and then I have an array of `values` of type `NameLabelPair[]`.

See https://codesandbox.io/s/cranky-ully-u7vntp?file=/src/App.tsx for an

[2022-11-10 19:00] jakeboone02 commented on #397
Hi @fasiha, yes there is a way to do this. Use the `parseNumbers` option in `formatQuery` like this:

[code]

Documentation is [here](https://react-querybuilder.js.org/docs/api/export#parse-numbers).

Result is like this for your example:

![image](https://user-images.githubusercontent.com/366438/201182869-6a52fd51-d0bb-4c68-94d9-d88e9a733000.png)

[2022-11-11 04:46] hwhmeikle opened #398 "Importing/Exporting JsonLogic with additional operators"
Firstly, thank you very much for this library. It's been a breeze to use!

I'm in the process of replacing `react-awesome-query-builder` with this package and have hit my first hitch.

We are using JsonLogic with some additional operators such as:
`JSONLogic.add_operation("lessThanOrEqualDate", isBeforeOrEqual);`

When attempting to import a query that uses this operator with `parseJsonLogic`  e.g

[2022-11-11 18:19] jakeboone02 commented on #398
Hey @hwhmeikle, thanks for the kind words! I'm curious about what's driving your migration from RAQB to RQB. Any feedback is appreciated!

The `parse*` functions bail out (skip the rule) when they don't know what to do, and that includes rules with non-standard operators. This could be addressed in userland (i.e. you provide your own workaround) or with a configuration to instruct the function how

[2022-11-13 20:44] hwhmeikle commented on #398
Thanks for quick reply! The main reason for the migration is that whilst RAQB is very powerful, the DX feels cumbersome once you need to add any custom behaviour. Our main use case is allowing users to create queries and essentially create their own custom fields on the fly. I won't go into detail but the process of updating the config/fields in RAQB and not having it break was fairly hacky and no

[2022-11-13 23:30] hwhmeikle commented on #398
Update: I've written the logic for transforming the keys for importing it and that's working well!

My next hurdle is transforming the other way e.g. `<=` -> `lessThanOrEqualDate`. I only want to transform `<=` operator to `lessThanOrEqualDate` when it is for the `device.authenticatedAt` field.

Would there be a way to use `transformQuery` here to achieve this, or is my best bet writing my own cus

[2022-11-14 03:23] jakeboone02 commented on #398
I don't think you need to use `transformQuery`, just pass a custom `ruleProcessor` to `formatQuery` like below ([CodeSandbox here](https://codesandbox.io/s/friendly-fog-5o36e4?file=/src/App.tsx)):

[code]

What that's doing is taking `'<='` property from the result of the default rule processor and assigning it to the `lessThanOrEqualDate` property of a new object (unless you're dealing with a dif

[2022-11-14 20:55] hwhmeikle commented on #398
@jakeboone02 Thank you that works nicely :).

You've already gone above and beyond, but would be keen to hear your thoughts on approaching converting the `multiselect` output from RAQB to RQB.

When using a `multiselect` in RAQB it seems to wrap the entire rule with an `all` operator e.g.
[code]

When using a `multiselect` in RQB it doesn't wrap it in an `all` operator (which to me makes more sens

[2022-11-14 22:40] jakeboone02 commented on #398
That's confusing to me. I _think_ RAQB is not doing what one would typically expect, but maybe I'm misreading it. For example, this RAQB rule:

![image](https://user-images.githubusercontent.com/366438/201778617-5634bc96-4060-4cef-b5be-76dddc766eee.png)

generates this JsonLogic rule:

[code]

But that rule passes when the data is `{ "multicolor": ["yellow"] }` (notice the value is an array). It's

[2022-11-14 23:04] hwhmeikle commented on #398
@jakeboone02 I'm on the same page and would expect it to work as you describe. We've had to get around it by turning the value into an array as you've shown. I guess keeping the same logic would mean turning `["yellow"]` -> `"yellow"` when importing.

[2022-11-14 23:49] jakeboone02 commented on #398
Yeah that would make more sense to me. You'll still have to translate the "all" operator. Looks like you should take the first element of the `"all"` array and use that as the first element of the `"in"` array instead of `{ "var": "" }`. Then extract the `"in"` rule and process that instead of the full `"all"` rule.

[2022-11-15 22:10] hwhmeikle commented on #398
@jakeboone02 Thanks for the help! Will close this issue.

[2022-11-15 22:10] #398 closed, assigned to nobody

[2022-11-16 21:30] fasiha commented on #397
Superb, thank you Jake! Apologies, I don't know how I missed that 🙇!

[2022-11-16 21:30] #397 closed, assigned to nobody

[2022-11-18 01:58] mxcapo opened #399 "dndOver class should not be applied to child rule group headers"
When a rule group has a rule group as a child, dragging a rule in the parent rule group applies the `.dndOver` class to the child rule group headers. This results in the `.dndOver` styling being applied to elements that are not the intended drop target. You can see the effect in the [demo](https://react-querybuilder.js.org/demo#addRuleToNewGroups=false&autoSelectField=true&autoSelectOperator=true&

[2022-11-18 02:53] jakeboone02 commented on #399
Good catch, and thanks for all the info! I'll see if I can get a fix for this published tomorrow.

[2022-11-18 10:20] unrealsolver opened #400 "Custom export/import formatters/transformers"
There is currently impossible to extend base functions to support my own custom export/import formats.
I need a JQL-like import/export formatting and the only option is to write it from scratch, because I can not extend existing formatters.

[2022-11-18 17:04] jakeboone02 commented on #400
Hi, @unrealsolver. Yeah, each language is different so it's difficult to provide general-purpose, extensible import and export methods.

For exporting, `formatQuery` has some configurations and hooks that allow you to customize the output of each rule, but the basic structure of each export format is going to be fixed and unique. For importing, each language uses its own bespoke parser.

Can you g

[2022-11-18 20:16] jakeboone02 commented on #399
@mxcapo can you try out the CI demo build for PR #401? Link is here: https://codesandbox.io/s/react-querybuilder-ci-hih9df. That should have the issue resolved. I'll release a patch as soon as I can after you give it a 👍.

[2022-11-21 17:46] #399 closed, assigned to nobody

[2022-11-23 22:51] #382 closed, assigned to nobody

[2022-11-28 08:51] anar-latifov commented on #396
I guess same here, getting `Can't import the named export 'ActionElement' from non EcmaScript module (only default export is available)` when trying to use mui

[2022-11-28 09:38] anar-latifov opened #404 "Can't import the named export 'ActionElement' from non EcmaScript module"
Hello everyone, I faced with this issue, after just installing the `react-querybuilder` and `@react-querybuilder/material`

I getting error: `Can't import the named export 'ActionElement' from non EcmaScript module (only default export is available)`

i using cra with react 18 , react scripts 4 and mui 5

[2022-11-28 12:43] unrealsolver commented on #400
Hello, @jakeboone02 , thanks for answering my question.
It looks, that I want to have a 'custom' language, which is similar to CEL, so I just decided to copy some files directly and modify them.
On the other hand, I have a problem of formatting the query to ElasticSearch format. However, formatting is much more trivial problem than parsing, so there are should be no issue. Probably, I could make a

[2022-11-28 14:44] jakeboone02 commented on #404
Hi @jokopain, can you reproduce this issue with a CodeSandbox, StackBlitz, or GitHub repo? The [MUI example](https://github.com/react-querybuilder/react-querybuilder/tree/main/examples/material) seems to work fine.

[2022-11-28 16:19] jakeboone02 commented on #400
PR's are welcome! Let me know if you need any help. Want to go ahead and close this issue?